[2016-09-08 01:31] henare commented on #615
Here's all the [important differences in FOI laws around Australia](https://docs.google.com/spreadsheets/d/1KP2efKvCP3jAknTGYUOq8EYpjNElcWDhb0qUX2Rm4lg/edit#gid=0).

[2016-09-08 06:13] henare commented on #616
People definitely want to FOI hospitals: https://www.righttoknow.org.au/request/royal_prince_alfred_hospital_sta

[2016-09-08 07:21] henare opened #617 "Add other ways you can help out"
https://www.righttoknow.org.au/help/credits#helpus
- Adding annotations to help requesters
- Becoming an administrator to help run the site (replying to email?)

[2016-09-08 07:39] henare opened #618 "Home page is not valid HTML"
https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.righttoknow.org.au%2F

[2016-09-09 00:45] aidanarcher commented on #21
Standardised names according to #612

[2016-09-09 05:04] aidanarcher commented on #21
Updated details for each authority, one by one (189 total)

[2016-09-12 04:54] henare opened #619 "Add hospitals for ACT, NT, Victoria, NSW"
People [definitely want](https://www.righttoknow.org.au/search/rpa/all?commit=Search&utf8=%E2%9C%93) to make requests about hospitals. From what we've seen it's rare that a hospital itself will have FOI officers - it's far more likely to be the main health department or a regional health authority.

So we think the best thing is for us to list the most logical public authority that will respond to

[2016-09-12 07:11] #19 closed, assigned to henare

[2016-09-12 07:23] henare opened #620 "Intro paragraphs on homepage have different font size"
I think they're supposed to be the same:

![selection_001](https://cloud.githubusercontent.com/assets/48945/18427774/92d91f9c-790d-11e6-8225-92e336cfd75e.png)

[2016-09-13 02:55] equivalentideas commented on #18
State Growth divisions done, that's the last major department group

[2016-09-13 04:32] equivalentideas commented on #18
Done Treasury and Finance

[2016-09-13 04:44] henare opened #621 "Remove spam accounts"
I didn't think we had this problem but there appear to be plenty of spam accounts, i.e. ones with spam in the bio. Alaveteli recently introduced something to check and clean this up - we should run that and get rid of these accounts.

[2016-09-13 05:03] equivalentideas commented on #18
Through another few types of authorities on [the list](https://github.com/openaustralia/righttoknow/issues/18#issuecomment-244646666). Checking Tassie Parliament now—also gonna look at what we did in SA for parliament.

[2016-09-13 06:24] equivalentideas commented on #18
I pushed back the parliament stuff and kept working through other types of authorities. Done Offices, Tribunals, Other, Authorities, and Boards.

[2016-09-13 06:46] equivalentideas commented on #18
On to courts.

[2016-09-13 07:02] equivalentideas commented on #18
[x] I've now been through the government’s list and wikipedia and added lots of authorities. We've got another 27 authorities in our list that weren't on those lists. I'm going to go through them now and see if they're real authorities we want to keep.

[2016-09-14 01:04] henare commented on #576
And sent a follow up.

[2016-09-14 01:04] henare commented on #621
There's an interactive rake task for this now: `rake cleanup:spam_users`

[2016-09-14 01:22] henare commented on #621
Found and banned 8 spam users, found and marked as genuine 2 ham users.

[2016-09-14 01:22] #621 closed, assigned to henare

[2016-09-14 01:51] henare commented on #606
I've asked the Alaveteli list about this https://groups.google.com/forum/#!topic/alaveteli-users/vW5re24Od3s

[2016-09-14 02:39] henare commented on #616
Probably a duplicate of #463.

[2016-09-14 02:39] #616 closed, assigned to nobody

[2016-09-14 04:57] henare commented on #566
I've got a local copy of production that I can run against [my pull request](https://github.com/mysociety/alaveteli/pull/3483) to start getting this data. I think I'm going to create a Google Sheet with every request to state authorities to start with.

[2016-09-15 00:05] equivalentideas commented on #18
Checking Hospitals now. Like SA, hospitals are listed under regional health orgs. But none of them have their own website or contact emails. So I think best option is to list them all under that main health body’s notes, like https://www.righttoknow.org.au/body/sa_health

[2016-09-15 02:35] equivalentideas commented on #18
I've done the same thing with Prisons, naming them in the notes under Tasmanian Prison Service.  And Libraries/

[2016-09-15 03:03] equivalentideas commented on #18
I’m through all the collecting different types of authorities in [my list above](https://github.com/openaustralia/righttoknow/issues/18#issuecomment-244642191). Now I need to check for duplicates and check that we don't have any bad emails, websites or notes.

Then that should be it, minus local councils.

[2016-09-15 03:40] equivalentideas commented on #18
I'm happy with the list of authorities now. I'll do local councils next. The PlanningAlerts councils data will probably be handy.

[2016-09-15 03:42] equivalentideas commented on #18
Council list looks good, I'll just check the count against our other data.

[2016-09-15 03:43] equivalentideas commented on #18
Counts good 👍

[2016-09-15 03:45] equivalentideas commented on #18
Local councils and the State authorities are ready to load.

[2016-09-15 04:23] henare commented on #566
I had a think about the fields we wanted and [wrote a scraper](https://morph.io/openaustralia/right_to_know_requests) to get all of it via the API.

This has the added advantage of allow @equivalentideas to feed his pivot table addiction with All The Data :bar_chart:

I've [imported it](https://docs.google.com/spreadsheets/d/1OBYeRru8DqpB_41x8vyEaTRymfRXE2tRnr3LBxChNv0/edit#gid=1434967266) into Go

[2016-09-15 04:55] henare commented on #566
## How many are there across the different states and local government authorities?

As at 2016-09-15:

| Jurisdiction | Number of requests |
| --- | --- |
| Federal | 1736 (85%) |
| NSW | 199 (10%) |
| Victoria | 58 (3%) |
| ACT | 30 (1%) |
| NT | 11 (1%) |
| SA | 4 (<1%) |
| **TOTAL** | **2038** |

![RTK requests by jurisdiction](https://cloud.githubusercontent.com/assets/48945/18538764/c8e79cb4

[2016-09-15 05:14] henare commented on #566
## Are they being replied to?

Requests that have had at least 1 reply (this could be anything including an automated acknowledgement), as at 2016-09-15:

| Jurisdiction | Number of requests |
| --- | --- |
| Federal | 1643 (95%) |
| NSW | 171 (86%) |
| Victoria | 53 (91%) |
| ACT | 27 (90%) |
| NT | 6 (55%) |
| SA | 2 (50%) |
| Overall | 1902 (93%) |

[2016-09-15 05:28] equivalentideas commented on #591
I can! I just successfully deployed to staging. Closing this.

[2016-09-15 05:28] #591 closed, assigned to equivalentideas

[2016-09-15 05:36] henare commented on #591
:tropical_drink: :tada: Finally! :tropical_drink: :tada:

:satisfied:

[2016-09-15 05:48] henare commented on #566
## Are they successful?

Requests displayed as "successful" or "partially successful", as at 2016-09-15:

| Jurisdiction | Number of requests |
| --- | --- |
| Federal | 488 (28%) |
| NSW | 49 (25%) |
| Victoria | 6 (10%) |
| ACT | 9 (33%) |
| NT | 3 (27%) |
| SA | 0 (0%) |
| Overall | 555 (27%) |

In 2014-2015, according to the OAIC there were a total of [5232 request for non-personal information

[2016-09-15 07:11] equivalentideas opened #623 "Communicate FOI hot tips to requesters when they need them"
There are lots of little tricks that can help you with your request. For example, people often want to make a request for _information_, but that's not allowed in Australia, you much request a document.  So if you want to know “what’s the water quality of Cook’s River” ask for “Documents include the water quality of Cook’s River”. What are all these hot tips? Once they're collected, where would th

[2016-09-15 07:16] equivalentideas commented on #566
## Why are requests not being successful?

To work this out we're going to:
1. define what `display_status`s are part of the unsuccessful category
2. go through all (or a lot of) the requests in that category and note our observations as to why they were unsuccessful
3. work out basic categories for these reasons so we can make generalisations about these reasons and answer this question

[2016-09-16 01:17] equivalentideas commented on #615
Done in https://github.com/openaustralia/righttoknow/pull/622

[2016-09-16 01:17] #615 closed, assigned to equivalentideas

[2016-09-16 05:28] equivalentideas commented on #18
This is done and dusted https://www.righttoknow.org.au/body?tag=TAS_state and https://www.righttoknow.org.au/body?tag=TAS_council

[2016-09-16 05:28] #18 closed, assigned to equivalentideas

[2016-09-17 01:54] henare commented on #566
Interesting research suggestion from @BR3NDA [on Twitter](https://twitter.com/BR3NDA/status/776961526565441538):

[2016-09-19 04:06] henare commented on #576
@lizconlan helpfully suggested:

and it's worked :tada: Thanks Liz!

[2016-09-19 06:56] henare commented on #566
I've done any that aren't classified as successful or partially successful.

I've started this by doing ACT. I added a "Reason not successful" column to capture my findings.

In the 19 requests I looked at for the ACT I came across 9 different reasons:

It's also worth noting that as I went I reclassified a few "refused" to "not held". I updated one request marked internal review that had received

[2016-09-20 02:38] equivalentideas commented on #16
I'm picking this one up. I'm going to follow the approach I went through for the TAS authorities on https://github.com/openaustralia/righttoknow/issues/18 .

[2016-09-20 02:39] equivalentideas commented on #16
## Sources
- [x] check [current list](https://docs.google.com/spreadsheets/d/1GAjCrDxfVl8eCDWxH69QpMwfNdbIohaTVE7iAfVLx5U/edit#gid=919530616): There's 344 authorities on our [current list](https://docs.google.com/spreadsheets/d/1GAjCrDxfVl8eCDWxH69QpMwfNdbIohaTVE7iAfVLx5U/edit#gid=919530616), that's about the same number as in our Victorian list, and considerably more than in NSW, Tassie, SA etc.

[2016-09-20 02:52] equivalentideas commented on #16
I haven't seen this before, could be helpful http://www.australia.gov.au/about-government/states-territories-and-local-government

[2016-09-20 03:04] equivalentideas commented on #16
Queensland doesn't seem to have a nice page listing all these authorities like Tassie did :\ I've emailed them to see if they have a spreadsheet they can send through. Otherwise I'll need to work through there separate listings.

[2016-09-20 03:04] henare opened #625 "On unhappy page only show information pertinent to the jurisdiction of the request"
The "Unhappy about the response you got?" [page](https://www.righttoknow.org.au/help/unhappy/) can also have a request associated with it. This is shown if the requester classifies the request as unsuccessful.

e.g. https://www.righttoknow.org.au/help/unhappy/passenger_numbers_on_sydney_to_b

If the page is shown with an associated request we should filter the advice to only have advice relating t

[2016-09-20 03:56] equivalentideas commented on #16
Dave from the Stories with Data slack just helped me out with this http://governmentbodies.premiers.qld.gov.au/departmentsearch.aspx look like what I'm after.

[2016-09-20 05:06] equivalentideas commented on #16
I've also found these pages that could have extra authorities:
- http://www.justice.qld.gov.au/corporate/justice-agencies/statutory-authorities
- https://environment.ehp.qld.gov.au/env-authorities/
- https://www.treasury.qld.gov.au/economy/government-commercial-businesses/index.php
- http://www.qld.gov.au/contact-us/postal/index.html
- https://www.health.qld.gov.au/system-governance/contact-us/acc

[2016-09-20 05:08] equivalentideas commented on #16
Also, here's more info for local councils http://www.dilgp.qld.gov.au/local-government-directory amazingly including a csv file :0 https://services.dsdip.qld.gov.au/lgguide/sampledata/councilpostaldetails.txt

[2016-09-20 05:59] equivalentideas commented on #16
Done a quick check of [this directory](http://governmentbodies.premiers.qld.gov.au/departmentsearch.aspx) to our list. Overall it’s really good compared to Tassie.
- found a few missing
- a few names that have changed

[2016-09-20 06:01] equivalentideas commented on #16
I'm going to start a deeper check by going through the listing in more detail and now adding authorities that we're missing.

[2016-09-20 07:00] equivalentideas commented on #16
FOI contacts for departments http://www.rti.qld.gov.au/right-to-information-act/rti-ip-agency-contacts

[2016-09-20 07:09] henare commented on #566
## Why are requests not being successful?

I've now looked at every request on Right To Know to state/local authorities that is not marked as "successful" or "partially successful".

This chart shows simplified data about the reasons the requests were not successful:

![selection_001](https://cloud.githubusercontent.com/assets/48945/18660647/0021cfca-7f55-11e6-8f99-eceb0baff40b.png)

Simplified da

[2016-09-20 07:19] equivalentideas commented on #16
I've done a first pass on fixing all the names to our standard, and I'll checked that we have all the departments. Some of them have swapped split etc. and I've fixed up there naming to mostly include "Department" which was missing.

[2016-09-21 01:52] henare commented on #566
## Why are so few Victorian requests marked as successful?

This is the same chart as above but for only requests in Victoria - reasons requests have not been successful:

![selection_001](https://cloud.githubusercontent.com/assets/48945/18694819/91d8cd60-7ff0-11e6-8f3e-b9d9353b8bd6.png)

And the absolute numbers:

For comparison, here's **NSW**:

![selection_002](https://cloud.githubusercontent.c

[2016-09-21 03:41] aidanarcher commented on #21
Council bodies updated

[2016-09-21 04:12] henare opened #626 "Don't show internal review option on Victorian FOI requests"
From https://www.righttoknow.org.au/request/number_of_atcws_cull_permits_iss

We should also check other states and update the help documentation to reflect this.

[2016-09-21 05:07] henare commented on #566
## Why are requests being successful?

I've classified all "successful" and "partially successful" requests now.

In this little analysis I've excluded ACT requests since their Act is very similar to the Federal Act and most importantly they don't have application fees.

It's _not because application fees are being paid_: Application fees have been paid on 11 requests. 3 of these requests have res

[2016-09-21 05:08] #566 closed, assigned to henare, equivalentideas

[2016-09-21 05:30] henare opened #628 "Explore research data on state/local requests"
@equivalentideas has said he'd like to spend 2 hours exploring [the data](https://docs.google.com/spreadsheets/d/1OBYeRru8DqpB_41x8vyEaTRymfRXE2tRnr3LBxChNv0/edit#gid=1434967266) we gathered in #566. From that exploration we're hoping for some more interesting observations and we expect to discover more questions about the data and some ideas for what to do next now we have this data.

[2016-09-21 06:17] henare commented on #21
Done and deployed https://www.righttoknow.org.au/body/list/WA

Great work @aidanarcher :tada:

[2016-09-21 06:17] #21 closed, assigned to nobody

[2016-09-22 03:55] henare commented on #613
I've fixed all "office of" names.

[2016-09-22 04:23] henare commented on #613
Just noticed we need to check "Foo, Department of" too.

[2016-09-22 04:57] henare commented on #613
I've updated all the state name problems. There were over 200 so I used a variation of this on the console:

[code]

[2016-09-22 04:59] henare commented on #613
Fixed - there were only 2.

[2016-09-22 05:21] henare commented on #613
I've updated all the problems I can see. The list is looking waaay better now! :tada:

[2016-09-22 05:21] #613 closed, assigned to henare

[2016-09-22 06:29] equivalentideas commented on #16
Up to checking we have agencies under Department of Education and Training.

[2016-09-23 03:15] equivalentideas commented on #16
Up to checking agencies under the Department of Environment and Heritage Protection

[2016-09-23 06:07] equivalentideas commented on #16
I'm onto Department of Housing and Public Works

[2016-09-23 06:30] equivalentideas commented on #16
I'm up to Department of Justice and Attorney-General

[2016-09-23 07:13] equivalentideas commented on #16
We’re up to Department of National Parks, Sport and Racing going from the top. @henare has done a couple from the bottom of the list too 👌

[2016-09-25 21:32] henare opened #629 "Batch request FAQ wrong"
It says there's no way to lodge batch requests. It should say we can switch it on.

https://www.righttoknow.org.au/help/requesting#multiple

[2016-09-27 02:44] equivalentideas opened #631 "Publish blog post announcing complete coverage of Australian authorities"

[2016-09-27 03:13] equivalentideas commented on #566
For interests sake, here's the proportion of reported federal government requests that went through Right To Know. Pretty cool. This uses data from the OIAC annual reports [2014](https://oaic.gov.au/about-us/corporate-information/annual-reports/oaic-annual-report-201415/chapter-eight-agency-freedom-of-information#foi-requests-for-personal-information-and-for-other-information) and [2015](https://o

[2016-09-27 05:58] henare opened #632 "Remove RTK Day 2016 code"
We can revert 869eeef after 2016-09-28.

[2016-09-27 06:25] equivalentideas commented on #16
I've now been through every department and confirmed our list, removed some authorities that are defunct and added some that were missing.

Next step is to get missing emails.

[2016-09-28 03:08] equivalentideas commented on #16
I'm happy with the list, I'm gonna make the [site changes](https://github.com/openaustralia/righttoknow/issues/16#issuecomment-248186228) and push this to staging to have a squiz. There are a [few more things](https://github.com/openaustralia/righttoknow/issues/16#issuecomment-248186228) to check once it's live to make it real shiny ✨ .

[2016-09-30 00:02] henare opened #634 "Check application fees are current"
A recent response seems to indicate Tasmania's fees have gone up to $38.25 from $37 https://www.righttoknow.org.au/request/independent_engineers_report#incoming-6406

We need to update this page https://www.righttoknow.org.au/help/requesting#fees

[2016-10-03 04:05] henare opened #635 "Show number of requests by jurisdiction on a chart"
Maybe a stacked area chart?

[2016-10-03 04:22] henare opened #636 "When people ask if their request can be administrative/informal are they more successful?"

[2016-10-03 05:04] henare commented on #606
We've decided this means emailing everyone using Right To Know. We've emailed one of the people that have used batch requests to see if they will write a blog post we can send out.

[2016-10-03 05:13] henare opened #637 "How can you find requests where the requester might need help?"
So you can find requests to annotate.

[2016-10-03 05:44] henare commented on #603
See upstream issue: https://github.com/mysociety/alaveteli/issues/1513

[2016-10-03 05:46] henare commented on #603
We're lucky that most requests are currently categorised on RTK but we think this is a good way to get people more involved as contributors to the project.

We think that promoting the use of the game will be more effective than creating a guide as it's already pretty straightforward and people are already using it.

[2016-10-03 05:54] henare commented on #602
I'm going to close this in favour of opening specific issues for the bits we want to open. I can't think of any right now but please add any you can.

[2016-10-03 05:54] #602 closed, assigned to nobody

[2016-10-03 06:03] henare commented on #567
We dedicated our [pub meet](https://www.meetup.com/OpenAustralia-Foundation/events/230629186/) to RTK day and we had an open day at Frontyard. And launched [total coverage](https://www.openaustraliafoundation.org.au/2016/09/28/happy-right-to-know-day-you-have-the-right-to-know-now-right-across-australia/) for RTK.

[2016-10-03 06:03] #567 closed, assigned to nobody

[2016-10-03 06:11] henare opened #638 "Expose admin timeline on the frontend"
This shows activity on the site. We could use it to celebrate the good actions of the community and show the hard work of volunteer administrators.

Extracted from #602. Related to #561.

[2016-10-03 06:12] henare commented on #558
One of the ideas as part of #602.

[2016-10-03 06:21] henare opened #639 "Help people overcome being asked for application forms/fees"
Our [research showed](https://github.com/openaustralia/righttoknow/issues/566#issuecomment-248221339) that 50% of unsuccessful state/local requests are due to application forms/fees being demanded.

[2016-10-03 06:22] #16 closed, assigned to equivalentideas

[2016-10-03 06:34] henare opened #640 "Create a site that describes the attributes of FOI laws that make them human-friendly"
[At AlaveteliCon](https://www.openaustraliafoundation.org.au/2015/06/02/helping-people-open-governments-around-the-world-alavetelicon-2015/) last year we came up with the idea of creating a site that clearly describes key attributes of what makes good access to information laws. Such as prompt and enforceable response times, no application fees, and accessible reviews of decisions.

This site woul

[2016-10-04 00:13] henare commented on #557
https://github.com/mysociety/alaveteli-experiments/issues/102 is related.

[2016-10-04 01:00] henare opened #641 "Realign our theme with upstream changes"
There have been lots of changes to Alaveteli's layout. At the moment our theme is hacking around these to return it to how it used to look.

To get the improvements that have been made upstream, and to make our theme more maintainable, we should realign our theme with upstream.

[2016-10-04 01:05] henare opened #642 "Thank and spank blog posts"
Write a blog post highlighting authorities that are being awesome by doing the right thing. And also write a blog post for authorities that aren't.

The purpose of this is to encourage the good behaviour and call out the bad behaviour.

[2016-10-04 01:18] henare commented on #549
Did this happen?

@equivalentideas and I were just looking and paid search traffic is now at 28.7% for the last 30 days:

![selection_002](https://cloud.githubusercontent.com/assets/48945/19059579/a143bc4c-8a2c-11e6-8a31-b4c9f82d2312.png)

Something seems to have happened in August that really improved traffic:

![selection_001](https://cloud.githubusercontent.com/assets/48945/19059584/b19b1c02-8a

[2016-10-04 01:30] henare commented on #549
Looks like the vast majority of the paid search traffic is from one particular ad group - university entry requirements:

![selection_003](https://cloud.githubusercontent.com/assets/48945/19059720/ce3ac6e0-8a2d-11e6-9489-a6e6b04f7c14.png)

and it doesn't look like there were any conversions from this.

We also noticed that it looks like the target location for this campaign was the UK. That's sure

[2016-10-04 01:50] henare opened #643 "Find a new volunteer administrator"
As the number of requests increase due to us covering all the states and local governments we're going to need more help looking after the site.

[2016-10-04 01:55] henare commented on #584
I've opened this upstream issue with an idea of how to fix this https://github.com/mysociety/alaveteli/issues/3515

[2016-10-04 03:37] equivalentideas opened #644 "Help people in PlanningAlerts who have a question for a council make a request to them"
People interested in a development application or their council’s da process sometimes have questions for their council. Could we let them know about their right to information and help them make a request?

Seems to fit with the idea of PlanningAlerts being a gateway to deeper civic knowledge and participation ¯_(ツ)_/¯

[2016-10-04 04:44] henare commented on #555
Closing this because it's part of #607.

[2016-10-04 04:44] #555 closed, assigned to nobody

[2016-10-04 05:07] henare commented on #569
Closing this as it can be part of #607.

[2016-10-04 05:07] #569 closed, assigned to nobody

[2016-10-04 05:13] henare commented on #563
Closing to do this as part of #607.

[2016-10-04 05:13] #563 closed, assigned to nobody

[2016-10-04 05:13] henare commented on #564
Closing to do this as part of #607.

[2016-10-04 05:13] #564 closed, assigned to nobody

[2016-10-04 05:13] henare commented on #562
Closing to do this as part of #607.

[2016-10-04 05:13] #562 closed, assigned to nobody

[2016-10-04 05:16] henare commented on #561
One way of doing this is #638. What other ways can we think of? Let's open new issues when we think of them.

[2016-10-04 05:16] #561 closed, assigned to nobody

[2016-10-04 05:20] henare commented on #560
We did this when we were planning for the RTK day. @kat can you please pull in some key observations from that process into this issue?

[2016-10-04 05:25] henare commented on #559
When someone reports a request we manually thank them. There are many circumstances when this information shouldn't be public so we probably don't want this automated.

When someone adds an annotation Alaveteli already thanks them. If someone requests we add or change an authority they're emailed a thanks by Alaveteli.

Are we already doing this? Let's reopen it if we can think of other ways when

[2016-10-04 05:25] #559 closed, assigned to nobody

[2016-10-05 02:46] equivalentideas opened #645 "Show the top recent and all time requesters and annotators"
To help us find potential new administrators (#643) and people getting stuff done who can share their knowledge and be encouraged to do more (#557), it would be helpful to know when someone comes along and starts annotating lots of requests or making lots of requests. This is a signal we can then investigate further to learn about the person.

Initially this can take a similar form to the Request

[2016-10-05 02:47] equivalentideas commented on #645
We would also like to make the requests/annotations per day available via a JSON API to feed things to publish the data like [Jacaranda](https://github.com/openaustralia/jacaranda).

[2016-10-05 02:53] equivalentideas commented on #645
“Recent” in the request classification game [means the last 28 days](https://github.com/mysociety/alaveteli/blob/develop/app/controllers/request_game_controller.rb#L33). [The query to get the results](https://github.com/mysociety/alaveteli/blob/develop/app/models/request_classification.rb#L20) is very similar to how [we got annotators information recently](https://github.com/mysociety/alaveteli/is

[2016-10-05 03:09] equivalentideas commented on #645
One way to do this would be to make a new page in our theme that just ran queries like these ☝️ to produce these tables. But that doesn't give us the JSON data we want as well.

Alternatively we could produce a JSON version of the search results (by adding it internally or scraping it) and use that to compile our tables on an external site. That seems logical with this being just an experiment at

[2016-10-05 03:24] equivalentideas commented on #645
I'm just going to make these tables for starters and see what we turn up.

[2016-10-05 03:46] equivalentideas commented on #645
@henare is back and we’re decided to make a new, temporary/experiment page in the Right To Know that has these tables. The controller action will also respond to .json with the structured data for that page. The html format of it will have the nice tables with the information we want.

[2016-10-05 03:49] equivalentideas commented on #645
I'm going to do the html page while Henare gets the data together.

[2016-10-05 04:12] equivalentideas commented on #645
Here's the branch for working on this https://github.com/openaustralia/righttoknow/tree/people_experiment

[2016-10-05 04:14] henare commented on #584
At our performance/feedback hackday we realised that we should create a chart of hidden requests over time, i.e. show this data automatically rather than collecting it manually like this. By doing this we'll be able to see if any solutions we implement are having the desired effect.

[2016-10-05 04:33] henare commented on #632
Fixed in e17d365ffd834a9346535b1da665567af3cf23f3.

[2016-10-05 04:33] #632 closed, assigned to henare

[2016-10-05 07:01] #645 closed, assigned to henare, equivalentideas

[2016-10-05 07:12] equivalentideas commented on #645
We made it https://www.righttoknow.org.au/people 🎉

![screen shot 2016-10-05 at 6 11 37 pm](https://cloud.githubusercontent.com/assets/1239550/19104250/3f074386-8b27-11e6-8bb6-3f9cbad697c1.png)
![screen shot 2016-10-05 at 6 11 46 pm](https://cloud.githubusercontent.com/assets/1239550/19104251/3f1089aa-8b27-11e6-9204-6b4bcab632f2.png)

[2016-10-05 07:19] henare commented on #645
And there's even an API :neckbeard: https://www.righttoknow.org.au/people.json

[2016-10-06 04:10] equivalentideas commented on #645
I've set slack to remind us to have a look at this every two weeks:

[2016-10-06 04:23] equivalentideas opened #647 "Improve our conversion tracking in Google Analytics"
In Google Analytics our tracking of people making requests is very noisy and full of irrelevant data (as I understand it). We don't do any tracking of a bunch of other things we want to see people doing, like:
- [x] making annotations
- [x] categorising requests
  - [x] playing the game
  - [x] not playing the game
- [x] reporting requests
- [x] following things
- [x] messaging people

If we set t

[2016-10-06 05:19] henare commented on #557
In discussing this issue just now @equivalentideas and I realised a better question. How do we get people that should be using RTK to use it? Who are people already putting in FOI requests that could be on RTK? People like
- Journalists
- Researchers
- Campaigners
- Activists
- Lawyers

It's a lot less work to convince people that they should use RTK than it is to convince them they should start t

[2016-10-06 05:26] henare commented on #557
Our Humans of Right To Know is very male dominated. How can we change this?

[2016-10-07 00:39] henare commented on #628
Will be done as part of #556.

[2016-10-07 00:39] #628 closed, assigned to equivalentideas

[2016-10-07 00:49] henare commented on #557
We think this will work by:
1. See who is getting stuff done through RTK
2. Find out if there are other people doing similar things but outside of RTK
3. Use the RTK people and ourselves to somehow get these people over the line to be using RTK for their FOI requests

[2016-10-07 00:55] henare commented on #549
We don't know much about AdWords. We're going to look around for some professional training since this is something we'd like to know more about. @equivalentideas is going to do that research as a first step.

[2016-10-07 00:58] henare commented on #643
Our first step is to look at the Humans of Right To Know and see if there's some people we could invite to be administrators.

[2016-10-07 01:02] henare commented on #584
The first step is to email the list about https://github.com/mysociety/alaveteli/issues/3515. We want peoples' thoughts on that approach and we also want to ask other installs how big of a problem it is for them. We'd like to do this soon as it has lead-time.

[2016-10-07 01:23] #629 closed, assigned to henare

[2016-10-07 01:35] equivalentideas commented on #549
Making a list of resources/ways to learn:
- [Call Google for 'free expert advice'](http://www.google.com/adwords/?subid=au-en-di-na-aw-c-dyn!o2)
- [Google AdWords guides](https://support.google.com/adwords/answer/6146252?hl=en)
- Video training: Lynda [“essential” training](https://www.lynda.com/Marketing-Lead-Generation-tutorials/Google-AdWords-Essential-Training/368574-2.html), [intermediate](ht

[2016-10-07 03:10] henare commented on #643
Another obvious first step is to ask our existing administrators and significant contributors.

[2016-10-07 03:56] equivalentideas commented on #549
I've put in an email to a local agency to see if they could come in and help us with AdWords, as practical training and to make sure we do a good job ;-), we'll see what they say. I think some combination of video training, reading and getting someone in should get us up to speed to make this awesome. Good leave this here for now and see what they say next week.

[2016-10-07 04:08] kat commented on #549
There's a digital marketing course part time at GA which I'd think would include this - but the outline isn't too specific. While maximising Adwords is good because they're currently 'free'. Could we be doing more across channels without a whole heap of extra work? https://generalassemb.ly/education/learn-digital-marketing-online worth a look/investigating?

[2016-10-07 04:12] kat commented on #549
The other one is https://www.hyperisland.com/programs-and-courses/digital-marketing-online-course again - it's digital marketing - seems more focused

[2016-10-07 06:29] henare commented on #643
I've asked our existing admins and I've asked someone again that had previously been unable to accept our invitation to be an admin.

[2016-10-09 08:22] benrfairless commented on #584
I know we all hate footers, but what about changing the footer at [lib/views/outgoing_mailer/_followup_footer.text.erb](https://github.com/openaustralia/righttoknow/blob/production/lib/views/outgoing_mailer/_followup_footer.text.erb) to specifically remind the agency not to respond to requests for personal information?

[2016-10-09 23:11] #596 closed, assigned to equivalentideas

[2016-10-09 23:32] equivalentideas commented on #596
<del>We should contribute this upstream since the same icon change was made https://github.com/mysociety/alaveteli/pull/3445</del>

Done https://github.com/mysociety/alaveteli/pull/3527

[2016-10-10 02:22] henare commented on #634
In some states the fee increases each year. Rather than constantly needing to update this page I think we should just remove the table.

However I'd also like to include a little something about informal requests. To do that I want to understand what the situation is in each state. I'll add my findings to our [FOI laws spreadsheet](https://docs.google.com/spreadsheets/d/1KP2efKvCP3jAknTGYUOq8EYpjN

[2016-10-10 02:24] equivalentideas commented on #617
I've added these two points in https://github.com/openaustralia/righttoknow/compare/64fa94c49...f4ac913f8303

[2016-10-10 02:28] equivalentideas commented on #617
If you think of more ways to help than are currently listed, reopen this and add em :)

[2016-10-10 02:28] #617 closed, assigned to equivalentideas

[2016-10-10 02:31] henare commented on #584
@benrfairless that doesn't help the problem of people putting in requests for personal information.

[2016-10-10 02:59] equivalentideas commented on #647
Started this by importing the settings kindly provided by mySoc a while back.

First thing, looks like they're using a funnel setting to clear out all the noise from people sharing the `/new` path, which is currently making our tracking of new requests useless. Here's some info on how this works from [the docs](https://support.google.com/analytics/answer/2976313):

[2016-10-10 05:58] #634 closed, assigned to henare

[2016-10-10 06:48] equivalentideas commented on #647
Set up new goals with funnels for everything we listed above. Used event tracking for the follow button clicks, had to revert it, fix and and redeploy https://github.com/openaustralia/righttoknow/commit/22b53ea1ef58df2765feffa72fbaf1c419915e98

[2016-10-11 05:09] equivalentideas commented on #584
We've just sent that message to the [users](https://groups.google.com/forum/#!topic/alaveteli-users/VMNKgpZtmeU) and [dev](https://groups.google.com/forum/#!topic/alaveteli-dev/YuYtKFlwjkU) Google Groups

[2016-10-11 05:10] equivalentideas commented on #584
While we're waiting for peoples’ input, we'll start on the chart:

[2016-10-11 06:07] equivalentideas opened #648 "Total number of requests for public bodies on /body_statistics includes hidden requests"
While the page says “Unclassified or hidden requests are not counted.”, the charts get data using the `info_requests_count` attribute rather than the `info_requests_visible_count` https://github.com/openaustralia/alaveteli/blob/production/app/models/public_body.rb#L604-L607

[2016-10-11 06:14] equivalentideas commented on #648
We should raise this upstream.

[2016-10-12 02:59] equivalentideas commented on #647
This is all deployed now, I need to check back in a few days the it's reporting how it should. Here's what our goals look like in GA:

![screen shot 2016-10-12 at 1 56 06 pm](https://cloud.githubusercontent.com/assets/1239550/19295979/00e7ecc4-9084-11e6-96d4-6eb43e7676b0.png)

[2016-10-12 02:59] #647 closed, assigned to equivalentideas

[2016-10-12 04:22] equivalentideas commented on #549
Just spoke with some people who can do a day or two AdWords training with us, they’ll get a quote to us by Friday.

[2016-10-12 04:25] henare commented on #648
Raised upstream https://github.com/mysociety/alaveteli/issues/3532.

[2016-10-12 04:25] #648 closed, assigned to nobody

[2016-10-12 23:00] kat commented on #549
Nice work Luke. I look forward to finding out more.

On Wednesday, 12 October 2016, Luke Bacon notifications@github.com wrote:

##

kat@oaf.org.au
Founder, Director, Worker OpenAustralia Foundation
http://openaustraliafoundation.org.au/
openaustralia http://openaustralia.org/ | planningalerts
http://planningalerts.org.au/| electionleaflets
http://electionleaflets.org.au/ | righttoknow http://right

[2016-10-17 23:58] henare opened #649 "Broken link: "Statement of IP Principles for Australian Government Agencies""
https://www.righttoknow.org.au/help/requesting#reuse

Thanks to the spammy looking email that pointed this out :wink:

[2016-10-19 04:00] henare opened #650 "Improve appearance and text of "not foi" request status"
When you use the built-in admin to hide a request for personal information (that I only recently discovered and mentioned in https://github.com/mysociety/alaveteli/issues/3543) the request gets set to "not foi" and the message displayed to the request if they're logged in looks like:

![selection_001](https://cloud.githubusercontent.com/assets/48945/19505203/725e46fe-960c-11e6-89a2-84de1a339b7d.pn

[2016-10-19 04:34] equivalentideas commented on #584
We've now done this over here https://github.com/mysociety/alaveteli/pull/3544

Moving on with producing a solution to our problem. The first step is to look at all the hidden requests on our site and see if they are in fact all to a small group of authorities—in which case our solution idea here could be good https://github.com/mysociety/alaveteli/issues/3515

But if the requests are too lots of

[2016-10-19 05:16] henare commented on #643
I've prompted the people I asked above again and had a look at the Humans of Right To Know page. Most of the annotators there are pretty obvious candidates to ask next.

[2016-10-19 07:07] equivalentideas commented on #584
Here's a script to run with `rails runner` to do just that: https://gist.github.com/equivalentideas/23335c209c3857f2e16049ea78289822

[2016-10-21 03:20] equivalentideas commented on #549
The people I've been speaking with have suggested this plan:
1. They audit the setup based on our project aims and optimise the account.
2. 101 training session to take us through the fundamentals and optimisation guidelines.
3. Second training session to review any changes made and provide feedback.
4. Third training session to ensure we are comfortable with any fundamental changes you make.

The

[2016-10-21 05:11] equivalentideas commented on #584
Ran this on the server with:

[code]

And then copied to my machine with `scp`. I then removed the .csv data and [extract_hidden_requests.rb](https://gist.github.com/equivalentideas/23335c209c3857f2e16049ea78289822) script from the server.

It's on Google Drive for analysis here https://docs.google.com/spreadsheets/d/1M2jUSTDzO4fpKrUzIblAWocjbWcMzXJfFQ6IvY3NoyA/edit#gid=1299707278

[2016-10-21 05:15] equivalentideas commented on #584
## Hidden requests by Jurisdiction

| Jurisdiction | Number of hidden requests |
| --- | --- |
| federal | 132 |
| nsw | 83 |
| vic | 38 |
| nt | 5 |
| act | 4 |
| qld | 3 |
| wa | 3 |
| sa | 2 |
| Grand Total | 270 |

## Over time

![screen shot 2016-10-21 at 4 56 48 pm](https://cloud.githubusercontent.com/assets/1239550/19588156/91a88322-97af-11e6-8868-357a4d9cfab1.png)

[2016-10-21 06:10] equivalentideas commented on #584
## Top 20 authorities by number of hidden requests

| Authority | Number of hidden requests |
| --- | --- |
| NSW Police Force | 58 |
| Australian Federal Police | 18 |
| Department of Human Services | 17 |
| Department of Health | 16 |
| Victoria Police | 13 |
| Australian Taxation Office | 10 |
| Department of Immigration and Border Protection | 9 |
| Roads and Maritime Services | 8 |
| VicRoads

[2016-10-21 06:37] equivalentideas commented on #584
From the tables/chart above and from looking at the data we can see that:
1. The frequency of request hides is increasing
2. Requests to state authorities make up a vast, increasing majority of those hidden
3. The top ten authorities for request hides make up 60% of all hides.
4. NSW Police Force, Australian Federal Police, Victoria Police, NT Police, Fire and Emergency Services, Western Australia

[2016-10-21 07:28] equivalentideas commented on #584
A quick filter of the initial messages in these requests shows that 55% contain the string " my ". I just did a quick page search through a few dozen of public requests on the site, and when you filter out the " it is my will" and " my request ", there aren't many with "my" in the initial message at all.

This could be another way to pick up that the person might be making a personal request and h

[2016-10-24 05:48] henare opened #651 "Intro text on some authorities is really long"
e.g. https://www.righttoknow.org.au/new/tasmanian_department_of_health_and_human_services

![selection_001](https://cloud.githubusercontent.com/assets/48945/19634806/8ed3317c-9a09-11e6-9813-f051bc16b14c.png)

In this case it's because we included all the hospital names as a hack so that when you search you find this authority. Maybe this needs to be behind a "More..." reveal on our theme?

[2016-10-26 00:49] equivalentideas commented on #549
Looked at this with @henare briefly and we thought it sounds good, so I've emailed back to get this moving 👍

[2016-10-26 03:08] equivalentideas commented on #584
After looking through our observations, @Henare and I decided we’ll smash together an experimental implementation of this authority based solution https://github.com/mysociety/alaveteli/issues/3515#issue-180561855 in our theme.

[2016-10-26 03:16] equivalentideas commented on #584
Our idea it to insert something like:

![screen shot 2016-10-26 at 2 12 32 pm](https://cloud.githubusercontent.com/assets/1239550/19712071/6da2eaaa-9b86-11e6-8a89-6a9fa0adade5.png)

At the top of the form, before the subject:
![screen shot 2016-10-26 at 2 10 00 pm](https://cloud.githubusercontent.com/assets/1239550/19712076/7b0ce088-9b86-11e6-8fcf-5e766aa1edba.png)

If no is selected, the person p

[2016-10-26 03:51] henare commented on #584
Here's some text I've been drafting:

[2016-10-27 04:15] equivalentideas commented on #584
Here's how we've implemented this:

![screen shot 2016-10-27 at 3 11 39 pm](https://cloud.githubusercontent.com/assets/1239550/19754289/c7784e5e-9c57-11e6-9ed6-c573aaed75f1.png)

![screen shot 2016-10-27 at 3 10 59 pm](https://cloud.githubusercontent.com/assets/1239550/19754292/cd3bf21e-9c57-11e6-86b3-32666ae43e97.png)

![screen shot 2016-10-27 at 3 11 10 pm](https://cloud.githubusercontent.com/as

[2016-10-27 15:35] benrfairless commented on #584
Does it apply to all requests or just some?

##

Ben Fairless
Volunteer - Right to Know - @RightToKnowAu

A project of the OpenAustralia Foundation

On 27 Oct. 2016, at 12:16 pm, Luke Bacon notifications@github.com wrote:

[2016-10-28 00:36] equivalentideas commented on #584
@benrfairless Only requests to authorities where we've hidden at least 2 requests before. We can change that number to see what works best. What's your thinking ben?

[2016-10-28 01:38] benrfairless commented on #584
Should we ask everyone who makes a request? I think it's a perfectly valid thing to be proactive rather than reactive?

##

Ben Fairless
Volunteer - Right to Know - @RightToKnowAu

A project of the OpenAustralia Foundation

On 28 Oct. 2016, at 8:36 am, Luke Bacon notifications@github.com wrote:

[2016-10-28 01:39] equivalentideas commented on #584
This is deployed, see https://www.righttoknow.org.au/new/dibp

I've set GA tracking events on the use of the switch, clicking the email, and submitting the request. We should be able to use this to get a bit of insight into how this impacts usage.

[2016-10-28 01:42] equivalentideas commented on #584
@benrfairless From a user experiment perspective, adding another form field into the process brings more cognitive overhead (e.g. gives people more to think through, making it harder to get through). So we thought that it's best to not display this unless the person is likely to make a request for personal information—and we're very crudely assessing that by which authority they're requesting from

[2016-10-28 01:48] equivalentideas commented on #584
In a week or so we should check the impact of this.
- Has frequency of request hide events changed?
- Has the impacted people making public requests? Less requests? More requests?
- Can we tell anything else by looking at [the Google Anaytics tracking I set up](https://github.com/openaustralia/righttoknow/pull/652/files#diff-a54227165ef661335f1df4776ef9365eR19)

Have we gotten any feedback from pe

[2016-10-28 01:52] equivalentideas commented on #584
Should we remove the notice on a bunch of the authorities that we put in the notes? e.g. “Do not request personal information using this site. Why?” https://www.righttoknow.org.au/new/afp

![screen shot 2016-10-28 at 12 51 28 pm](https://cloud.githubusercontent.com/assets/1239550/19791513/605c4d9a-9d0d-11e6-9a58-e25aecda9914.png)

[2016-10-31 00:45] equivalentideas opened #653 "Fix amalgamated NSW councils"
https://www.righttoknow.org.au/request/food_safety_inspections_for_the_143#incoming-6738

[2016-10-31 05:55] gszathmari commented on #346
+1

[2016-11-01 02:57] equivalentideas commented on #549
We're going ahead with this 🎉

I've sent through our Adwords customer ID so they can start by auditing our current setup.

First session with our team will be on the 11th November. I'll add it to the calendar when we confirm at time.

[2016-11-01 03:00] equivalentideas commented on #550
Also https://gist.github.com/equivalentideas/23335c209c3857f2e16049ea78289822 if you adapt it for non-hidden requests.

[2016-11-01 04:56] equivalentideas commented on #606
After @henare mentioned batch requests at the [OpenAustralia Foundation Pub Meet](https://www.meetup.com/OpenAustralia-Foundation/events/230629187/) one of the attendees made a request to 149 authorities ❤️  https://www.righttoknow.org.au/info_request_batch/6

[2016-11-01 05:17] equivalentideas commented on #537
I think that style should be removed because it's inconsistent with our error style, in that it applies our form error style for a case when there's no error. This dilutes the meaning of our red error colour.

The background colour is also trying to make people see this selection input, but it is already very clear. It has a bit heading (a question) and is right above the submit button with lots o

[2016-11-01 05:22] equivalentideas commented on #512
Re-opening this as we just got this message from Right To Know:

[2016-11-01 05:48] benrfairless commented on #512
I can do this tonight if you want?

##

Ben Fairless
Volunteer - Right to Know - @RightToKnowAu

A project of the OpenAustralia Foundation

On 1 Nov. 2016, at 1:22 pm, Luke Bacon notifications@github.com wrote:

[2016-11-01 10:27] Gemmamysoc commented on #549
Well, that's very exciting! Very interested to hear how they suggest optimising the account :) As I'm sure Myf will be too!

[2016-11-02 09:54] RichardTaylor commented on #584
A related issue is:

https://github.com/mysociety/alaveteli/issues/3542

Which proposes a "report this request" link on outgoing messages which would give public bodies an opportunity to take action in relation to inappropriate requests for, or containing, personal information.

[2016-11-02 10:08] benrfairless opened #654 "I can't take ownership of requests on Github"
I can't take ownership of requests on Github or do anything with issues. Could someone reinstate this please? :)

[2016-11-02 11:08] benrfairless commented on #512
I've added 2017 holidays using this iCal: https://www.google.com/calendar/ical/en.australian%23holiday%40group.v.calendar.google.com/public/basic.ics

[2016-11-02 11:08] #512 closed, assigned to nobody

[2016-11-03 00:08] equivalentideas commented on #15
While I was adding the Tas and QLD authorities, and seeing what a hodge-podge the public directories are, @e-e-e suggested I get a list from a state records body. So, to see what kind of list we could get this way I put in a request and got this back today “Public Offices as at 30 June 2016”.

https://www.righttoknow.org.au/request/2235/response/6827/attach/html/7/Public%20Offices%20as%20at%2030%2

[2016-11-03 00:35] henare commented on #653
As Nigel says on the request:

It looks like we need to fix them now: https://www.righttoknow.org.au/request/food_safety_inspections_for_the_87?nocache=incoming-6768#incoming-6768

[2016-11-03 04:11] henare commented on #537
Very nice :ok_hand:

[2016-11-03 04:11] #537 closed, assigned to henare

[2016-11-03 04:20] henare commented on #654
@benrfairless I guess it was from when you asked for your access to be revoked. I've added you back to the GitHub team. You can just ask in Slack for things like this, you don't need to open an issue :smile:

[2016-11-03 04:20] #654 closed, assigned to nobody

[2016-11-07 04:38] henare commented on #643
Fixed in https://github.com/openaustralia/righttoknow/commit/7635aa61fb7f375177588a3f9c479d4b9152155d.

[2016-11-07 04:38] #643 closed, assigned to henare

[2016-11-07 06:04] henare commented on #606
I wrote a little [blog post about batch requests](https://www.openaustraliafoundation.org.au/2016/11/07/how-to-send-your-freedom-of-information-request-to-many-authorities-at-once/). I'm hoping the title is search engine friendly so it continues to be useful.

I've also setup a mailing to people with accounts on RTK which will go out tomorrow morning our time.

[2016-11-07 06:04] #606 closed, assigned to henare

[2016-11-07 23:01] equivalentideas commented on #606
Great work @Henare 👍

[2016-11-09 05:36] CloCkWeRX opened #655 "Consider a way to provide positive feedback to FOI responses"
http://www.theage.com.au/national/public-service/australian-public-service-commissioner-john-lloyd-says-foi-laws-mean-bureaucrats-dont-write-it-down-20151019-gkcird.html leads with

[code]

I think its fair to say some agencies have been very reluctant to engage meaningfully with FOI requestors. On the other hand, there are a small number who are very helpful and go out of their way to do the righ

[2016-11-10 05:39] equivalentideas commented on #655
This is a lovely idea @CloCkWeRX I agree it's so important to encourage and reward good behaviour.

This was part of the idea behind the “thank and spank” blog posts issue https://github.com/openaustralia/righttoknow/issues/642

Would you be up for drafting the “thank” one? ;-)

[2016-11-11 04:14] henare commented on #549
We had a really great training session today. As part of preparation for this Megan did an audit of our AdWords setup. She was generally happy with it but had some suggestions for how we could improve things. Here's the audit suggestions document she provided us in the session:

[Amire SEM Audit Notes - Open Australia.docx](https://github.com/openaustralia/righttoknow/files/584998/Amire.SEM.Audit.

[2016-11-11 06:10] equivalentideas commented on #579
@kat if you know where the vector version of the logo is lying around it would be awesome if you could chuck it on here. I'm looking for it to put on a slide for the workshop next week.

[2016-11-14 00:46] henare opened #656 "Logo missing on HTML version of attachments on older requests"
e.g. https://www.righttoknow.org.au/request/1344/response/4557/attach/html/6/FOI15%20216%20Document%201%20Enforcement%20Agency%20Applications%20REDACTED.PDF.html

![selection_010](https://cloud.githubusercontent.com/assets/48945/20250227/e9bbbf8a-aa5f-11e6-87d1-d48710abe3cc.png)

[2016-11-14 00:46] henare commented on #656
My guess is that this is a similar issue to https://github.com/openaustralia/righttoknow/commit/9095a58ec86c7759212adc787e27be492e0541dc.

@equivalentideas can you please take a look?

[2016-11-14 01:22] equivalentideas commented on #656
Sadly it's not, the this uses the same helper (`image_tag "logo.png"`) as the homepage logo. But on production, the HTML document page is uses a link with a different cache busting hash :S

[code]

instead of

[code]

Now to workout why that is.

[2016-11-14 01:26] equivalentideas commented on #656
Looks like a caching problem. Older requests are using the wrong hash, where as recent ones are sweet:

https://www.righttoknow.org.au/request/2371/response/7011/attach/html/2/HEPPP%20TOR%20deliverables.pdf.html

![screen shot 2016-11-14 at 12 24 52 pm](https://cloud.githubusercontent.com/assets/1239550/20250684/7c50e1b8-aa65-11e6-818b-72363477ed2d.png)
![screen shot 2016-11-14 at 12 25 19 pm](htt

[2016-11-14 01:43] equivalentideas commented on #656
This rang a bell, we've seen this before on https://github.com/openaustralia/righttoknow/issues/474

@henare fixed with:

We changed the logo file 4 months ago (in https://github.com/openaustralia/righttoknow/commit/b2f30b85fbad65ac27090dbd3a8b9a4fd255599e) so that's what's happened.

I'll clear that cache so the pages update.

This is a real drag because we're gonna keep missing this. I'll do a d

[2016-11-14 01:51] equivalentideas commented on #656
Fixed, with same method as ☝️

[2016-11-14 01:51] #656 closed, assigned to equivalentideas

[2016-11-14 10:00] Gemmamysoc commented on #549
Thanks for sharing! Have shared with @MyfanwyNixon too :)

[2016-11-14 13:11] henare commented on #576
Similar problem happening again with this: https://www.righttoknow.org.au/request/772/response/2924/attach/2/Documents%20for%20release%20Part%202.pdf

[code]

[2016-11-15 00:15] henare commented on #584
We just had a really interesting situation that I think is worth documenting.

Someone emailed us this morning urgently requesting a police report. 8 minutes later they made a request via the site anyway. They almost certainly would have seen this (maybe we can check in Analytics?):

![selection_001](https://cloud.githubusercontent.com/assets/48945/20288022/7d3876ee-ab24-11e6-9990-05191be3ed1a.png

[2016-11-15 09:18] jacksongs opened #657 "Batch request add agency page on mobile"
Hi gang,

Looking at doing a batch request on mobile, but the page doesn't seem to work.

![file_000](https://cloud.githubusercontent.com/assets/48945/20332958/818a77da-ac03-11e6-83ac-041c3a06c823.png)

[2016-11-15 09:20] benrfairless commented on #657
There isn't much in the way of instructions, but I was able to do one on Mobile.

First box you search for the authorities you want
1st drop down is a result of those searches, select the ones you want and use the arrows to push them to the 2nd drop down where you can remove any if needed.

[2016-11-15 09:20] benrfairless commented on #657
Agree we need to perhaps include some more info on this however :)

[2016-11-15 09:24] henare opened #658 "Search for "Service NSW" only shows authority on the 4th page"
It should be on the first page!

https://www.righttoknow.org.au/search/service%20nsw/all?page=4&query=service+nsw

[2016-11-16 01:47] equivalentideas commented on #657
This might be something to raise upstream https://github.com/mysociety/alaveteli/issues

[2016-11-16 02:51] henare commented on #346
This proposed experiment is also relevant: https://github.com/mysociety/alaveteli-experiments/issues/106

[2016-11-18 00:47] equivalentideas opened #659 "Import remaining Analytics goals into Adwords"
Our Google Analytics Goals for Right To Know are currently collecting a lot of false positives. This has been [fixed upstream](https://github.com/mysociety/alaveteli/pull/3392):

Once we have that commit, merged in the upcoming release we can import those goals into Adwords.

[2016-11-21 01:40] equivalentideas opened #660 "Rebuild AdWords campaigns"
This AdWords campaign covers a bunch of different ideas which are separated under Ad Groups. There's Ad Groups for general request keywords like “foi laws” and then a few different groups for batches of authority names. There's a group for authorities that are boards, one for councils, one for ministers’ offices, and a few other kind of misc ones. All the ads shown are the same.

![screen shot 201

[2016-11-21 01:55] equivalentideas commented on #660
There's also another campaign, “Right To Know” that includes two ad groups. One has generic keywords around “freedom”, “australia” and “FOI”, the other one is around “How to make an FOI request”.

Neither perform well, and these themes are pretty covered by an ad group in the other Right To Know campaign. When we split that out, we should pause this one.

[2016-11-21 02:01] equivalentideas commented on #660
Also note that there are more Right To Know themed Ad Groups under the big “OpenAustralia Projects” campaign. These probably overlap a bit with these campaigns as well. Once all our main themes are up at the campaign level it'll be way easier to manage these and see the duplication.

[2016-11-21 02:06] equivalentideas commented on #549
I've started splitting this up into issues for specific actions. Out biggest first task is to [break up the our big “OpenAustralia Projects”] campaign, and [then our Right To Know specific campaigns that include a few different themes](https://github.com/openaustralia/righttoknow/issues/660). There's more detail on the issues. We're also waiting on a change in the upcoming Alaveteli release that w

[2016-11-21 02:06] #549 closed, assigned to equivalentideas

[2016-11-21 05:18] equivalentideas opened #661 "Test variation of “FOI made easy” Google AdWords ad: “Freedom of Information - Made Easy”"
We just set up a variation of our add to text if having the full “Freedom of Information” in the title resulted in more clicks and conversions.

We should check back to see how this goes in a week of so.
![screen shot 2016-11-21 at 4 17 13 pm](https://cloud.githubusercontent.com/assets/1239550/20471442/f5298ef0-b005-11e6-9d12-c65adc8bf15c.png)

Note that we've been a bit naughty and also make “Mad

[2016-11-22 12:43] garethrees commented on #549
I get a 404 for https://github.com/orgs/openaustralia/projects/1#card-858965 :(

[2016-11-23 00:37] equivalentideas commented on #549
💔 Github Org Projects are private (for now hopefully) :( I've given feedback to @github on twitter. This is super annoying, I'm quite liking projects otherwise.

In the mean time, we've added a label across our projects, [adwords, where you can also see what we're up to](https://github.com/search?l=&q=user%3Aopenaustralia+label%3Aadwords&ref=advsearch&state=open&type=Issues&utf8=%E2%9C%93).

[2016-11-23 09:27] garethrees commented on #549
Cheers!

[2016-11-23 09:49] garethrees commented on #584
lol, sigh :confused:

It might be worth a followup to the user if you haven't already – might at least give us some idea of their thought process.

Do you have a sense of whether this has made a general improvement yet? The WDTK volunteers were expressing interest in porting it over.

[2016-11-24 00:19] henare commented on #584
Yep, @benrfairless and @equivalentideas have been following up with the requester and the authority - what's been the result of that?

My gut-feel is that it's made a massive improvement but we still need to run the numbers. Importantly we also need to check if it's resulted in a drop-off of normal requests.

[2016-11-24 07:21] equivalentideas commented on #584
@benrfairless might have more insight, but as I understand it. The requester said:

@benrfairless then called the authority and they said “general they would refer people to Insurance Services Unit (part of NSWPOL).” Ben then emailed up the GIPA people at the authority, but they seem to have misunderstood the question :S

My guess is that this person Googled GIPA or FOI, came to our site (possibly

[2016-11-24 07:45] henare opened #662 "Number of requests shown on home page is different to the number on the browse page"
Behold:

![selection_001](https://cloud.githubusercontent.com/assets/48945/20590240/172704b6-b276-11e6-9fc9-7d2422e08c53.png)

![selection_002](https://cloud.githubusercontent.com/assets/48945/20590255/2cfd9764-b276-11e6-8c51-c781e5f522d4.png)

[2016-11-24 08:11] benrfairless commented on #662
Does one include hidden requests?

Get Outlook for iOS

On Thu, Nov 24, 2016 at 3:45 PM +0800, "Henare Degan" <notifications@github.com> wrote:

Behold:

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-24 09:43] garethrees commented on #662
On the [homepage](https://github.com/mysociety/alaveteli/blob/0.25.0.16/app/views/general/_frontpage_search_box.html.erb#L6) we count [visible requests](https://github.com/mysociety/alaveteli/blob/0.25.0.16/app/models/info_request.rb#L84).

On the [search page](https://github.com/mysociety/alaveteli/blob/0.25.0.16/app/views/request/_list_results.html.erb#L5) we use Xapian's [`matches_estimated`](h

[2016-12-05 01:40] equivalentideas commented on #639
When we do this, we should walk through the process with people who’ve done it, like @henare and user Bruce, to try and identify all the pain points.

[2017-01-03 02:38] equivalentideas opened #663 "Why are there so many duplicate ads under the "Right To Know - Agencies" adwords campaign?"
Should there be removed?

[2017-01-11 01:10] equivalentideas commented on #663
I think this is just an artifact of https://github.com/openaustralia/righttoknow/issues/660 where we have lots of ad groups for this. Each ad group has an ad, which are all the same, so at the campaign level they look like duplicates.

Once we sort out that issue, this should be resolved.

[2017-01-11 01:17] equivalentideas commented on #661
The variation with the full "Freedom of Information" is doing much better.

* It's getting served 63.79% of the time.
* Has a 7.57% Click Through Rate, as opposed to 3.46% for the control.
* It has a slightly higher average position: 1.2 vs 1.9.

Tiny conversation rate 👇 though, on both.

![screen shot 2017-01-11 at 12 13 00 pm](https://cloud.githubusercontent.com/assets/1239550/21831372/5ea44e4c-

[2017-01-11 01:17] #661 closed, assigned to nobody

[2017-01-11 01:19] equivalentideas opened #664 "How can we improve conversion on our "Right To Know - FOI made easy" AdWords campaign?"
We've had 216 clicks through to https://www.righttoknow.org.au/ from this ad campaign in the last 14 days. But only 1 conversion (0.46%).

What should we be aiming for off this? Can we help people more with this?

[2017-01-11 01:24] equivalentideas opened #665 "To help people searching about how to make a request find the site, make Adwords campaigns themed around each states’ laws, e.g. 'GIPA'"
Hundreds of people have come to the Right To Know in the last two weeks through our adwords campaigns. These are all focused around the terms "FOI" and "Freedom of Information" request.

We should set up campaigns around "Government Information Public Access" for people who've been told about GIPA requests in NSW. And the same for the other state scheme names.

[2017-01-11 01:27] equivalentideas opened #666 "How can we come up with new ideas for adwords campaigns?"
We currently have three AdWords campaigns for Right To Know. They are only producing hundreds of visits from people. I feel like we could be helping more people find the site through adwords.

We've recently reorganised our campaigns, but we haven't made significant changes to ads or keywords. Since we made this change, traffic from paid search has not noticeably changed.

What's a process we can

[2017-01-11 01:36] equivalentideas commented on #664
To try one thing, I've copied an ad that has a 2.08% conversion rate from one of our other Right To Know campaigns to see how this goes in this campaign:

![screen shot 2017-01-11 at 12 36 16 pm](https://cloud.githubusercontent.com/assets/1239550/21831800/96145536-d7fa-11e6-85cd-a8e113892f8a.png)

[2017-01-11 01:52] equivalentideas commented on #661
I've opened a new issue for improving the conversion https://github.com/openaustralia/righttoknow/issues/661

[2017-01-11 10:53] garethrees commented on #661
Super interesting! Just added a link from our experiments repo https://github.com/mysociety/alaveteli-experiments/commit/fbf76b0e9b1b68c552b904c3d7375b81d07b605d – hope that's okay?

[2017-01-12 00:12] equivalentideas commented on #661
@garethrees of course! That's what it's here for :) It's great to be able to share this stuff.

[2017-01-13 02:32] henare opened #667 "Setup AdWords Extensions on our Right To Know ad campaigns"
This is a note from our most recent AdWords training. It's to remind us to give setting up AdWord Extensions a go on our Right To Know ad campaigns so we get used to always doing it. Apparently it should only take about 15 minutes.

[2017-01-13 02:55] henare commented on #660
Megan advised us to approach this differently, hence the issue title change:

[2017-01-13 03:52] equivalentideas commented on #660
Here's Megan’s full notes on this:

To do this, she recommended building from the keywords up and see what themes emerge, rather than our current Campaign down approach (see under "Process" below).

Megan did an example run through this for us, making this example spreadsheet:
https://docs.google.com/spreadsheets/d/1O3WRVO0Nj3-Hhzv__Mb-XXg-KEftZVEv3C9P4XTF63k/edit#gid=1277122262

[2017-01-13 04:08] equivalentideas commented on #666
Megan from Amire made some useful suggestions that we should be looking at all the keywords people are using to find our projects and then organising these into campaigns based on theme, and then ad groups based on sub-themes, e.g. Right To Know Authorities, NSW Ambulance.

She also talks about this process on https://github.com/openaustralia/righttoknow/issues/660#issuecomment-272354757.

So I'd

[2017-01-13 04:09] equivalentideas commented on #666
I'll leave this issue open for now, but we should make similar issues for each of our projects as we go through the process above, and then close this.

[2017-01-13 04:18] equivalentideas commented on #664
Megan from Amire had a couple of main suggestions here:

So logically, the experience of people once they hit Right To Know has a big impact on whether someone coming to the site via AdWords can actually make an FOI request. I'm going to close this issue as I think the first point is covered in the changes we'll make through https://github.com/openaustralia/righttoknow/issues/660 and changes to th

[2017-01-13 04:18] #664 closed, assigned to nobody

[2017-01-20 01:43] benrfairless opened #668 "Check Relevant Templates"
Check the below and make any changes required to bring them in line with the version upgrade.

- [x]     app/views/admin_general/_admin_navbar.html.erb
- [x]     app/views/admin_general/debug.html.erb
- [x]     app/views/admin_general/index.html.erb
- [x]     app/views/admin_public_body/edit.html.erb
- [x]     app/views/admin_public_body/import_csv.html.erb
- [x]     app/views/admin_public_body/ne

[2017-01-20 02:00] benrfairless commented on #668
Don't need to do this - Just need to test that everything works! silly me :)

[2017-01-20 09:07] benrfairless opened #669 ""Make a request" button on 2 lines in 0.26"
![image](https://cloud.githubusercontent.com/assets/6841582/22142861/dd372e54-df32-11e6-9f76-8440b644ebf4.png)

[2017-01-20 09:10] benrfairless opened #670 "Request Preview is out of line in 0.26"
Google Chrome running 0.26 with our current theme:
![image](https://cloud.githubusercontent.com/assets/6841582/22142958/3d8af470-df33-11e6-9232-7b76daa57837.png)

[2017-01-23 21:09] henare commented on #665
How are they performing, conversion-wise?

[2017-02-13 05:43] equivalentideas commented on #566
I just updated that [comment above](https://github.com/openaustralia/righttoknow/issues/566#issuecomment-249755633) ☝️ with the 2015/16 data from here http://data.gov.au/dataset/freedom-of-information-statistics/resource/6c3b7465-cf87-448c-8be5-afe5cd005f2f

10% of federal FOI requests in the period. Pretty awesome 🏆 🎉 🍹

[2017-02-14 23:57] henare commented on #631
https://www.openaustraliafoundation.org.au/2016/09/28/happy-right-to-know-day-you-have-the-right-to-know-now-right-across-australia/

[2017-02-14 23:57] #631 closed, assigned to nobody

[2017-02-15 00:02] equivalentideas commented on #605
We can get a little bit of demographic type information about the most frequent requesters and annotators here https://www.righttoknow.org.au/people

[2017-02-15 00:03] henare commented on #576
For whatever reason that now seems to be working.

[2017-02-15 00:03] #576 closed, assigned to nobody

[2017-02-15 00:05] henare commented on #545
Those all seem to be working now.

[2017-02-15 00:05] #545 closed, assigned to nobody

[2017-02-15 00:14] equivalentideas commented on #604
Here are some ideas that come to mind for how we could track and communicate progress towards our two goals:

## getting more requests on Right To Know

* First thing could be a basic public chart showing how many requests are being made.
* a chart showing the frequency of successful requests. I think this particularly could be useful in getting the attention of the contributor community and inspi

[2017-02-15 00:20] henare commented on #505
I used the search above to find another couple:

* https://www.righttoknow.org.au/body/royal_australian_and_new_zealand_college_of_obstetricians_and_gynaecologists was added (by me I think) at the request of someone. It's easy to miss tagging authorities added when someone requests adding them because adding tags isn't in the flow
* https://www.righttoknow.org.au/body/nsw_valuer_general was added

[2017-02-15 00:35] equivalentideas opened #671 "Find out what people do with the information they get through their successful requests"
Right To Know is about helping people get the information they need—but why does that matter? What do they actually do with the information? Does it enable them to do something they couldn't have otherwise? Does it create some kind of change?

If we new more about this, we'd know more about the impact of this project of our society and democracy.

As a first step, I've annotated a bunch of success

[2017-02-15 01:23] henare opened #672 "How can we get timely and visible feedback about what's happening with our AdWords campaigns?"
The way we currently work with AdWords makes it a bit hidden. We dive into the interface every few weeks, look around, maybe make changes, and then pop back out again.

We have to actively think and make the choice to, "work on AdWords". How can we make this interaction more natural and more frequent?

[2017-02-15 03:21] henare commented on #672
[Revere](http://revere.ai/) looked mildly interesting so I tried to connect it up. Unfortunately it can't see our AdWords account. I've contact their support to see if they can fix it.

[2017-02-15 03:28] equivalentideas opened #673 "Search results counts and pagination is wrong on the first page"
Search for requests sent between two dates, e.g. https://www.righttoknow.org.au/search/variety:sent%2030/1/2017..12/2/2017/requests .

On [the first page](https://www.righttoknow.org.au/search/variety:sent%2030/1/2017..12/2/2017/?page=1) it says “**FOI requests 1 to 25 of 1036**” and the pagination shows there's lots of pages to look through:

![screen shot 2017-02-15 at 2 26 29 pm](https://cloud.

[2017-02-15 03:44] equivalentideas opened #674 "JSON feed returns RSS :S"
This is the JSON url described in the head here:

[code]

https://www.righttoknow.org.au/feed/search/variety:sent%2030/1/2017..12/2/2017.json

It returns an RSS feed.

[2017-02-15 05:14] henare commented on #674
I [fixed this upstream](https://github.com/mysociety/alaveteli/pull/3485), it's in the next release.

[2017-02-15 05:16] henare commented on #673
I think this is the upstream issue: https://github.com/mysociety/alaveteli/issues/456

[2017-02-15 05:18] equivalentideas commented on #673
Yep that looks like it 😢 raised 5 years ago.

[2017-02-15 05:19] henare commented on #672
The next thing I investigated is getting realtime alerts about things that happen thanks to AdWords like visits or conversions. Analytics has a lot of that data so I played with a few tools to post that into Slack too.

Arc does some basic but quite nice daily, weekly and monthly summaries:

![selection_001](https://cloud.githubusercontent.com/assets/48945/22961053/2c64f998-f397-11e6-9f42-64dbd603

[2017-02-15 10:18] Gemmamysoc commented on #671
+1 :)

[2017-02-17 00:42] equivalentideas commented on #671
[One of the people](https://www.righttoknow.org.au/request/computer_log_event) I asked left a couple of annotations explaining where there request is at:

https://www.righttoknow.org.au/request/computer_log_event#comment-1565

https://www.righttoknow.org.au/request/computer_log_event#comment-1566

Another sent me a private message through Right To Know telling me they're going to do us a blog post

[2017-02-20 00:31] equivalentideas commented on #346
Access Info have done a version of this around a specific campaign https://www.access-info.org/commissioners-expenses All the requests made in a few days, one returned successfully so far.

[2017-02-20 06:54] drzax opened #675 "Consider an additional delayed status"
I currently have [a request](https://www.righttoknow.org.au/request/cost_benefit_analysis_for_bom_we) which is technically successful (as in a decision has been made to grant access to the documents) but is delayed (actual access to those documents has been deferred until appeal options run out for potentially aggrieved third-parties).

It may be useful to account for that in the UI (though precis

[2017-02-20 09:30] benrfairless commented on #675
This is possible - perhaps we need to review all the statuses at some point, I can think of a few we need.

http://alaveteli.org/docs/customising/themes/#customising-the-request-states

--
Ben Fairless
Volunteer - Right to Know - @RightToKnowAu

A project of the OpenAustralia Foundation

Sent from my iPhone, potentially using dictation. Apologies for any spelling or grammar mistakes

[2017-02-20 09:43] garethrees commented on #346
Wonder if https://securedrop.org/ is any use for this?

[2017-02-23 01:09] kat commented on #665
We just identified we might want to distinguish between what the user knows about and are searching for, eg the GIPA law, vs what action they want to perform, eg. find out more about the law, vs making a request. If the user wants to find out about the law rather than make a request.

Here's [a document with keywords](https://docs.google.com/spreadsheets/d/1BmUlpUM4RP6YSbl1-3QKINdiAfp3DImFsIIyEQM5

[2017-02-23 02:02] equivalentideas opened #676 "Complete the GIPA Adwords campaign"
We've started working on keywords that someone looking for information from the NSW government might use. We then sorted these keywords into themes that will have specific ads.

We've created a new campaign in AdWords, and added the first of these keyword groups (
NSW government information) and ads.

https://docs.google.com/spreadsheets/d/1BmUlpUM4RP6YSbl1-3QKINdiAfp3DImFsIIyEQM5qK0/edit#gid=0

h

[2017-02-23 02:09] equivalentideas opened #677 "Rebuild the AdWords campaign for Right To Know Authority names"
When finished, somebody searching in google to make a request to any authority we have in Right To Know will be shown a useful ad that links them directly to make a request for that authority.

We think a good first step is to test this out with a specific authority that gets lots of requests. We'll come up with keywords and ads for this authority.

Then once we know how this should work, we'll pr

[2017-02-23 02:33] equivalentideas opened #678 "Will having adwords groups for lots of authorities no one ever searches damage our overall acount adwords quality"
Ask Amire about this

[2017-02-23 02:44] equivalentideas commented on #677
For the Department of Immigration we will see how much we can copy the ethos and practical details of the NSW Government Information spreadsheet/campaign/adgroups to make the lightest fastest version possible.

* [x] Create a new campaign for "Right To Know - Department of Immigration"
* [x] Create spreadsheet for Department of Immigration Adwords - copy NSW format
* [x] Create an AdGroup for **th

[2017-02-23 03:02] henare commented on #677
The idea of this issue it to automatically generate one Ad Group per Right To Know authority. Each of these Ad Groups will have keywords that include that authority's name, with different variations, e.g.

As many of the Right To Know authority names are very obscure it's highly likely that for most of these Ad Groups that none of the keywords will ever display the ad because of [low search volume

[2017-02-23 03:53] henare opened #679 "AdWords - FOI Made Easy & Make an FOI Request campaign maintenance"
Extracted from #660:

From our session today:

* Extract low performing useful sets of keywords into new Ad Groups, e.g. "human rights", with new, targeted Ads
* Remove low performing keywords from existing FOI made easy Ad Group

[2017-02-23 03:56] henare opened #680 "AdWords - Create a campaign that encourages people to request ministerial diaries"
The recent scandal with our Attorney General trying to evade FOI law would presumably have lots of people for searching for this information. Create an AdWords campaign to encourage these people to exercise their FOI rights to request ministerial diaries.

[2017-02-23 03:59] henare commented on #660
I think we've now either disabled the campaigns mentioned here or we've extracted tasks into other issues so I'm going to close this.

[2017-02-23 03:59] #660 closed, assigned to nobody

[2017-02-23 04:02] henare commented on #663
This campaign has now been disabled and it's being rebuilt as part of #677 so I'll close this.

[2017-02-23 04:02] #663 closed, assigned to nobody

[2017-02-23 05:22] henare commented on #679
I've just been battling trying to do this in AdWords Editor. When copying one Ad Group to another it would say the ads were "Invalid. Edit to post.". After a lot of fiddling I've realised it's because they're standard text ads, which you [can no longer create or edit](https://support.google.com/adwords/answer/7048854?hl=en-GB&authuser=1).

So another important thing to do is to update all these ad

[2017-02-23 05:52] henare commented on #679
To combine these two campaigns I've:

* Removed duplicate keywords so that there's not overlaps between the ad groups when they become part of the same campaign - there were duplicates due to capitalisation in _Make an FOI request_ and 3 that overlapped - I left those only in _FOI made easy_ as it's doing better right now
* Copied the _Make an FOI request_ Ad Group into the _FOI made easy_ campaig

[2017-02-23 06:54] equivalentideas commented on #665
We've split the first state off into it's own issue. This is so we do this simplest step at a time and using doing an individual state campaign as a way to learn how to do this. Here's the issue https://github.com/openaustralia/righttoknow/issues/676

[2017-02-23 06:56] equivalentideas commented on #660
Here's two of the specific campaign ideas we've extracted:

* Ads for people search an authorities name https://github.com/openaustralia/righttoknow/issues/677
* Ads for people searching about general government information and state laws https://github.com/openaustralia/righttoknow/issues/665

That's a start and they might even be broken down further.

[2017-02-23 06:56] henare commented on #679
Since we've just merged _Make an FOI request_ and changed its ads to expanded text ads I've decided to leave that Ad Group alone and let it settle in.

On _FOI made easy_ I paused 2 keywords about departments that were not displaying due to a low quality score. So far I've found keywords around "FOI letters/forms" and "human rights" are good ones to split out and create new Ad Groups for with targ

[2017-02-24 00:16] equivalentideas commented on #678
Just spoke with Dan from Amire and he had a few thoughts:

1. The impact of having low performing keywords on your account is not a big deal, and is not permanent. He said the assessment of quality scores are very fluid, for example in lots of industries they are impacted by season.
2. He doesn't like having lots of low performing keywords and adgroups hanging around cause he feels it makes things

[2017-02-24 00:23] equivalentideas commented on #677
Dan's answer was basically, "yes":

1. For the opportunity to discover keywords we might not expect but our ads/site would perform really well on,
2. To discover which authorities names are keywords that don't perform we'll, so we can then do something about that if we think they should be.
3. Any negative impact from having low performing keywords on your overall account is pretty minimal and ver

[2017-02-24 00:24] #678 closed, assigned to equivalentideas

[2017-02-24 02:17] kat commented on #677
so for  'Create spreadsheet for Department of Immigration Adwords - copy NSW format' I did a few search and replaces to see how that lined up - replaced NSW with Australia in some cases and replaced "government information' with Department of Immigration

[2017-02-24 02:19] kat commented on #677
We have a similar problem of people requesting access for personal information, researching negative keywords.

[2017-02-24 09:10] kat commented on #677
Added an 'foi made easy' ad group that included Immigration, and paused that keyword in campaign/adgroup'foi made easy'

[2017-02-27 05:27] henare commented on #679
I've made a new Ad Group called, _FOI request form_. It has 16 keywords I moved from _FOI made easy_ and 7 from _Make an FOI request_. I've created 4 ads that contain the main different keywords, "Request form", "Request letter", "Sample request", and "Request template".

I've also made an Ad Group called, _Human/civil rights_ and moved 44 keywords there. It has 3 ads broadly on the topics of, "hu

[2017-02-27 05:36] henare commented on #679
I've disabled the 2 remaining standard text ads. One was being displayed to less than 1% of visitors so I didn't replace that and the other one I replaced with a similar expanded text ad.

[2017-02-27 05:56] henare commented on #679
I've added sitelinks - "Find An Authority", "Make A Request", "Browse Existing Requests", "Get Help Making Requests".

I think that's everything done so I'll close this now.

[2017-02-27 05:56] #679 closed, assigned to henare

[2017-03-06 01:53] henare commented on #679
It's been a week so I checked in on how these changes are doing.

4,310 impressions generated 242 clicks and there's been 5 conversions this week (all up on the week before that). 2 of those conversions were requests (same as the week before). CTR is good, around the same at 5.61%.

_Make an FOI Request_ is the worst performing group with 28 clicks and 0 conversions. About a 3rd of its keywords ar

[2017-03-06 05:15] kat commented on #677
Checked in on the Dept of Immigration adwords campaign today.
23 clicks through from 835 impressions, and just one conversion so far.  In the last 7 days, 17 clicks through from 732 impressions with adgroup 'Immigration FOI made easy' but the conversion came through adgroup with far fewer impressions - out of just 11, 1 clickthrough, 1 conversion.
Interestingly enough, the ad served to get them th

[2017-03-23 00:30] equivalentideas commented on #549
We had our final session with [AMIRE](http://www.amire.com.au/) this week, which went was really practical. We basically got feedback on everything we've been doing. Dan from AMIRE gave us these notes afterwords:

[2017-03-24 09:43] Anishka0107 commented on #649
I guess it should point to the link http://www.ags.gov.au/publications/express-law/el125.pdf
Am I right?

[2017-03-24 14:23] Anishka0107 commented on #640
Hi @henare,
I would like to work on this project as a part of Outreachy. How do I get started?

[2017-03-25 12:46] PrernaGargPG commented on #346
Hi @henare I am interested in this project as part of outreachy. How do I get started?

[2017-03-25 22:10] EkaterinaSemenova commented on #640
Hi @henare,
Is it purely a technical project (an intern just needs to design pages and put text content that is already created) or is it more an artistic project (you just have ideas of what should be on your website and an intern needs to develop the website structure, write text content and, finally, design pages)?

[2017-03-26 06:26] equivalentideas commented on #640
Hey @Anishka0107 and @EkaterinaSemenova 👋

We'll shape how this project works depending on the skills and knowledge of whoever ends up doing the [Outreachy internship](https://www.openaustraliafoundation.org.au/2017/03/24/join-us-for-a-3-month-paid-full-time-internship-and-start-transforming-our-democracy/comment-page-1/#comment-421745) :)

As you can imagine we have lots of ideas about what makes

[2017-03-26 06:53] equivalentideas commented on #346
Hi @PrernaGargPG thanks for your interest 👍

We'll work on this project during the internship period. For your application you should follow the instructions in our blog post https://www.openaustraliafoundation.org.au/2017/03/24/join-us-for-a-3-month-paid-full-time-internship-and-start-transforming-our-democracy/comment-page-1/#applying and the Outreachy site (which has more detail) https://wiki.g

[2017-03-26 19:41] Keerti-Gautam commented on #620
Hi @henare ,
Went through the website and found this issue is still persistent. I think I can get it sorted within a few days (currently trying to learn more about your organisation and reading the website's content)

[2017-03-26 19:49] Keerti-Gautam commented on #651
Hi @henare,
I think it would be a good idea to list all the hospitals within a "See the list of Covered hospitals" link just after "... medical clinics throughout Tasmania" line. This, in my opinion, would increase the readability of the visitors of the website. What do you suggest?

[2017-03-27 09:02] garethrees commented on #651
As a quick win, you could use a `<details>` element:

[code]

![screen shot 2017-03-27 at 10 02 18](https://cloud.githubusercontent.com/assets/282788/24348688/793dfb50-12d4-11e7-9bed-ea13c8174716.png)

[2017-03-27 10:26] benrfairless commented on #651
Does that work with our current version of Alaveteli? Might need to ensure it's in the CSS (ping @equivalentideas).

Any change will need to be made in Admin console not via a pull request.

--
Ben Fairless
Volunteer - Right to Know - @RightToKnowAu

A project of the OpenAustralia Foundation

Sent from my iPhone, potentially using dictation. Apologies for any spelling or grammar mistakes

[2017-03-27 10:38] EkaterinaSemenova commented on #618
Hi @henare! It looks like all these mistakes come from Alaveteli, so to fix this issue one should commit to Alaveteli repository. Will this contribution to Alaveteli repository count towards contribution to Outreachy?

[2017-03-27 11:05] garethrees commented on #651
Yeah, I think the notes field has always rendered HTML. Might want to check browser support of `<details>` and compare to your user base (Google Analytics should show browser usage).

[2017-03-27 11:30] EkaterinaSemenova commented on #620
Hi @henare, I believe #682 should fix this

[2017-03-27 19:21] essymo commented on #420
Hi @benrfairless Are you still working on this?! if its still an issue I would like to help :)

[2017-03-28 00:51] equivalentideas commented on #420
Hey @essymo :) I've just renamed this issue to catch it up with the development on this issue https://github.com/openaustralia/righttoknow/issues/420#issuecomment-81991734 I think it's about making improving the wording in the [help sections](https://www.righttoknow.org.au/help/about) generally and using https://www.gov.uk/guidance/content-design/writing-for-gov-uk as a bit of a guide.

This is a

[2017-03-28 00:56] equivalentideas commented on #618
@EkaterinaSemenova absolutely 👍 It would be worth checking for issues [like this upstream](https://github.com/mysociety/alaveteli/issues), and also whether changes have been made between the latest version of Alaveteli and the one we're running.

Thanks for picking this up :)

[2017-03-28 01:06] equivalentideas commented on #651
@garethrees I really like that solution, and caniuse suggests our 70% of our users have support for `<details>`.

![screen shot 2017-03-28 at 12 01 59 pm](https://cloud.githubusercontent.com/assets/1239550/24384274/643b5efc-13ae-11e7-8a93-d9d548c4f97b.png)

@garethrees this does seem like something that might be best handled by the software, rather than error prone humans—but what do you recon? Is

[2017-03-28 02:03] avaldivi commented on #346
If more than one person is allowed to work on a project I would also like to work on this project with @PrernaGargPG if my first PR and application for outreachy is successful, Thank you. @equivalentideas

[2017-03-28 03:50] equivalentideas commented on #346
Hey @avaldivi thanks for your interest! We'll almost certainly just be taking one internship this round of Outreachy :) We're a tiny team and that's all we can manage. You're very welcome to apply though 👍

[2017-03-28 12:55] benrfairless commented on #653
The new email address isn't working - I've emailed the authority to get some information

[2017-03-28 14:00] ghost commented on #640
hey,I would like to work on this project as a part of Outreachy project.

[2017-03-28 14:05] ghost commented on #640
How should I start working on it.Please let me know what are the system installations required.

[2017-03-28 16:54] garethrees commented on #651
I think it would be quite tricky to add to Alaveteli, and unlikely to be something that we'd be able to prioritise soon. It wouldn't be obvious what to put in the `<summary>` and what should be hidden by default. We also have partners using the notes field for extra contact info and various other ways, so actually I think its better for this to be manual.

[2017-03-29 00:26] equivalentideas commented on #651
That makes sense, thanks @garethrees 👍

[2017-03-29 00:28] equivalentideas commented on #640
Hi @artiladdha 👋 you can follow the instructions in this comment https://github.com/openaustralia/righttoknow/issues/640#issuecomment-289261510

[2017-03-29 18:52] Anishka0107 opened #683 "Replace re-use with reuse"
I am not sure about this but I guess the word 'reuse' is better than 're-use'.
The website Right To Know uses the word 're-use' at many places. Whereas, searching it up on the internet, and in dictionaries like the Oxford Dictionary, Merriam Webster and Cambridge dictionary, I found out that it is better to use the word 'reuse'. The dictionaries do not define the word 're-use'. Although 're-use' i

[2017-03-29 18:52] Anishka0107 commented on #683
@equivalentideas
If the corrections are needed I would like to work on it.

[2017-03-30 01:01] trang20t commented on #640
What is a meaningful contribution to make if you have web development/graphic design skills? I am new to GitHub so I find this a bit intimidating :(:(, please help! :)

[2017-03-30 15:15] Keerti-Gautam commented on #640
Hi @trang20t
A meaningful contribution is something which will give you a hang of the project while you're doing it. Yes, for starters even the simplest of tasks may look pretty daunting, but they're _not_, at least not as much as we think they are.
And if you're trying to contribute to web development projects then first, you should look up the organisations which work with similar languages that

[2017-03-30 15:24] Keerti-Gautam commented on #669
Hi @benrfairless
Is this issue still persistent? I couldn't see it when I searched for "Department" in 'Find an Authority' on the website. My search is [here](https://www.righttoknow.org.au/select_authority?utf8=%E2%9C%93&query=Department&bodies=1&commit=Search) and the screenshot is below ![below](https://cloud.githubusercontent.com/assets/19797779/24512224/a333a388-158b-11e7-9716-e980e534c61e.pn

[2017-03-30 16:33] trang20t commented on #640
Thank-you so much Keerti! I had definitely messaged my mentor regarding
some of the issues on GitHub. You've been very amazingly helpful!

On Thu, Mar 30, 2017 at 8:15 AM, Keerti Gautam <notifications@github.com>
wrote:

[2017-03-30 18:52] Keerti-Gautam commented on #669
Just saw this page in the development server, and it looks exactly like it is shown in @benrfairless screenshot. Whereas, it was fine on the live site.
@equivalentideas Could you please clarify?

Thanks! :smile:

[2017-03-30 18:56] Keerti-Gautam commented on #683
Hi @Anishka0107

Can you provide some instances of this occurrence from the website? It would be great to review those before we can try to think about corrections, I feel.

[2017-03-30 19:14] Anishka0107 commented on #683
Hi @Keerti-Gautam :)
Could you please go to the link https://www.righttoknow.org.au/help/requesting#reuse.

[2017-03-30 19:41] Keerti-Gautam commented on #683
I think it was specifically mentioned in the Statement of IP Principles like that and is hence written verbatim (and subsequently taken in the header) in the below-quoted text (not truly sure as the link is broken)
The website of Right To Know has used 'reuse' as you mentioned in the last line of the first paragraph. ".... explicitly encourages reuse."
Do you agree?  :smile:

[2017-03-30 19:50] Anishka0107 commented on #683
Yes, the old link is broken, so we cannot check that out. But, the link with which I have replaced it uses the word 'reuse' and not 're-use'. :smiley:

[2017-03-30 22:49] GeneralMeow commented on #640
Hi there,
I'm working on my application to Outreachy so I can work on this project. Excited to do so! Thank you for the opportunity.

[2017-03-30 22:50] benrfairless commented on #669
We run an older version of Alaveteli in production. This bug was created to show what we need to fix in order to upgrade our version of Alaveteli.

[2017-03-31 09:18] EkaterinaSemenova commented on #650
Hi @henare, @benrfairless!
I suggest the following edit to this text: "The request has been hidden from the site, because it does not comply to our <a href="https://www.righttoknow.org.au/help/requesting">Policy</a> (e.g., it may request information about yourself or another private individual or be otherwise sensitive, or may be not focused). You may amend your request to comply with our <a href=

[2017-03-31 19:23] benrfairless commented on #650
@ekaterinasemeonva thanks for your input. I've never been a big fan of the word policy, but like the word "guidelines" (that's what we use in our emails).

Don't forget that Right to Know looks after GIPA, RTI, and FOI requests as well, so we need to ensure we don't "hard code" the word FOI anywhere.

Perhaps: "This request has been hidden from the site as it goes against our guidelines. Please co

[2017-03-31 21:53] EkaterinaSemenova commented on #650
@benrfairless, I think there is no need to repeat "Please contact us if you have any questions.", since user already sees similar red banner at the very top of the page.
![untitled-1](https://cloud.githubusercontent.com/assets/20787120/24570671/66e276ee-1675-11e7-9c74-a2a1d0f687d4.png)
I suggest the following: "This request has been hidden from the site as it goes against our guidelines. You may a

[2017-04-03 11:45] benrfairless commented on #651
So if we are going to do this manually, there are 63 authorities on Right to Know that have more than 100 words in the details.

These are they (in order of biggest words) - I'll go through these in the Admin console and see if the details tab will work.
- [x] Tasmanian Department of Health and Human Services
- [x] Federal Circuit Court of Australia
- [x] Australia-India Council
- [x] Museum of Au

[2017-04-03 12:01] benrfairless commented on #650
@EkaterinaSemenova good pick up with the contact us part.

I don't like the idea of saying  _You may amend your request and submit it as new_ as a) you can't amend a request once it's submitted and b) usually requests we hide aren't suitable for Right to Know and won't ever be suitable for Right to Know.

How about:

I'm not great with wordings however, so maybe @equivalentideas can provide some a

[2017-04-03 12:32] benrfairless commented on #651
Details seems to be working pretty well:
<img width="658" alt="651-3" src="https://cloud.githubusercontent.com/assets/6841582/24609292/d8aca8d8-18ac-11e7-9e74-b3d906b00b0d.png">
<img width="661" alt="651-4" src="https://cloud.githubusercontent.com/assets/6841582/24609293/d8af41ce-18ac-11e7-9cdd-2afc08dbe9d2.png">

[2017-04-03 13:01] Keerti-Gautam commented on #651
@benrfairless I see there are a lot of authorities here. I was searching for something which would automate this, so you wouldn't have to do this manually for every authority, but without any avail. Let me know if you find something that can be helpful! I'd be glad to know. Also, tell me if I can be of any help. :smiley:

[2017-04-03 13:09] benrfairless commented on #651
Hey @Keerti-Gautam it might be possible to do via CSV - I got a CSV of the attached [here](https://www.righttoknow.org.au/body/all-authorities.csv), and did some excel magic to work out the number of words. I know that we can [upload CSVs to perform mass edits of documents](http://alaveteli.org/docs/running/admin_manual/#creating-changing-and-uploading-public-authority-data), this would save me ha

[2017-04-03 13:26] Keerti-Gautam commented on #651
OH!
This is severely cool! :smile: Great!
Thanks a lot for telling me!

[2017-04-03 18:15] Shraddha15 commented on #640
hi henare,
I would like to work on this project,would you let me know how to start?

[2017-04-03 18:28] Shraddha15 commented on #346
@equivalentideas
I would like to work on this project.
Can you tell me what all i really expected so that I can prepare myself to work with you?

[2017-04-03 21:22] EkaterinaSemenova commented on #650
@benrfairless,

ok, makes sense. How about this wording: "Unfortunately, we had to hide your request from the site, since it goes against our guidelines. Whether you submit new request, please, make sure it complies with the guidelines."
If you do not like this wording, I can go ahead and submit merge request with wording you proposed.

[2017-04-04 07:41] equivalentideas commented on #346
@Shraddha15 we'd probably be building something using the Ruby on Rails framework that we tend to use. So you'll need to have some experience building applications with rails. We'll be working on this project with our Outreachy intern this year (if this is the project they choose).

You can read about how to apply for the internship here:
https://www.openaustraliafoundation.org.au/2017/03/24/join-

[2017-04-04 10:52] benrfairless opened #688 "0.26 - The Drop-downs in the Admin Console Don't work"
The Drop down's in the Admin Bar don't work in 0.26 (Development).

Tested in Google Chrome on MacOS

Production:
<img width="410" alt="dropdown-prod" src="https://cloud.githubusercontent.com/assets/6841582/24653303/dc03f688-1967-11e7-9cba-507423686d08.png">

0.26 Upgrade:
<img width="308" alt="dropdown-0 26" src="https://cloud.githubusercontent.com/assets/6841582/24653304/dc5551ea-1967-11e7-99a0-

[2017-04-04 11:02] equivalentideas commented on #614
Thanks for raising and documenting this so well @drzax :) I think this is probably an issue we can raise [upstream](https://github.com/mysociety/alaveteli/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen).

[2017-04-04 11:02] benrfairless opened #689 "0.26 - Expanding items don't expand"
In 0.26 when expanding items in the Admin console (such as the "Things to Do" items on the front page) they expand for a second then collapse again.

Link to Video:
https://drive.google.com/open?id=0B6FvM3R1FeGaMjk4SUxhOGVaWFU

[2017-04-05 07:06] akve17 commented on #688
i would like to work on this issue. can you give me some pointers on how to start?

[2017-04-05 16:06] Shraddha15 commented on #346
Thank You @equivalentideas

[2017-04-05 16:50] Shraddha15 commented on #346
@equivalentideas I am a bit confused.Is the project   ---Create a site that allows people to submit suggestions for FOI requests when, for whatever reason, they can't or don't want to submit one via RTK themselves.

The suggestion would then be made public and someone else could submit the request on their behalf.(as mentioned by henare in the very first post )or the projects on this link  https:/

[2017-04-05 21:16] EkaterinaSemenova commented on #688
Hi @benrfairless ,
I can't reproduce this issue as well as #689 on Alaveteli 0.26.0.0 and 0.26.0.12. Could you please specify which exact version (or commit hash) of Alaveteli you were using and which version (or commit hash) of righttoknowtheme you were using.

[2017-04-05 21:22] equivalentideas commented on #669
Fixed by @Keerti-Gautam in https://github.com/openaustralia/righttoknow/pull/685

[2017-04-05 21:22] #669 closed, assigned to nobody

[2017-04-06 02:48] equivalentideas opened #690 "You can't access old requests using the pagination links on the View Requests page"
Reported by a star community member:

[2017-04-06 03:20] equivalentideas commented on #688
Sounds like a javascript problem to me.

[2017-04-06 16:37] Keerti-Gautam commented on #670
Hi @benrfairless @equivalentideas
This was a feature of Alaveteli and I got it changed there (by creating a [PR](https://github.com/mysociety/alaveteli/pull/3884) which got merged today), and it would be included in the next version of Alaveteli (0.29).
However, we at Right To Know would be upgrading to 0.26 version so I am going to make a PR here so this improvement is available to us.
Kindly sug

[2017-04-07 20:30] handelaar commented on #690
It strikes me that this fix was rather WDTK-xapian-index-size specific and perhaps MAX_RESULTS belongs in a config setting with default=500,  instead of being hard-coded?

https://github.com/mysociety/alaveteli/commit/a1655ba57f94f2a0058dc03cf1da67b7a763eb49

[2017-04-10 02:13] equivalentideas commented on #640
@Shraddha15 If you're interested in applying you don't need to work on this for the application. Just follow the application process described here https://www.openaustraliafoundation.org.au/2017/03/24/join-us-for-a-3-month-paid-full-time-internship-and-start-transforming-our-democracy/comment-page-1/#comment-421745 and on the Outreachy website https://wiki.gnome.org/Outreachy#Application_Process

[2017-04-10 08:19] equivalentideas commented on #670
@Keerti-Gautam If you see this issue on the current production branch, make the fix there :) If it's just something that terns up in the upgrade, then make it on the upgrade branch.

Great job contributing this fix upstream! Congratulations on having had a PR merged to Alaveteli 🏆

When you make this temp fix in our theme, [as suggested](https://github.com/mysociety/alaveteli/pull/3884#issuecommen

[2017-04-11 07:47] henare commented on #688
@EkaterinaSemenova are you using our theme with that version of Alaveteli? I think @benrfairless is suggesting it's specific to our theme and that probably means it only happens when you're trying to use the admin bar and you're on a frontend page, i.e. not looking at the admin backend.

[2017-04-11 08:34] henare commented on #650
@EkaterinaSemenova @benrfairless I really like the process you both went through to refine this wording :star2:

As @EkaterinaSemenova said, we already have the big red message that tells the request what's happening and what they can do next. The main problem with the message is the thing about it being "not an FOI request".

How about we keep it simple and just remove that bit? Something like:

[2017-04-12 04:18] henare commented on #683
Good catch @Anishka0107, I say go for it :+1:

[2017-04-12 12:24] Shreya1771 commented on #346
Hi @equivalentideas ,
From the past few days I have been reading about the projects and was going through the source code as well. Though I found the project interesting and exciting to work on the project creating a site for FOI. Do we need to create using HTML & CSS, or in python on Django platform,
I feel excited to contribute to open Australia projects.

[2017-04-12 12:34] Shreya1771 opened #691 "E-Voting using Blockchain"
Hi,
I'm Shreya Sonawane, a second year graduates in Information Technology from SRM University. Going in depth into the Open Australia organization I have found lots of things related to laws and right to vote, right to know and many more which all of them comes under the OA organization.

So now coming to the e-voting after lot of research I have found that we can also create a e-voting system we

[2017-04-12 16:27] schlos commented on #346
@Shreya1771 there si already python project for requests via predefined templates on:
https://fragdenstaat.de/fragdenbundestag/

Database:
https://fragdenstaat.de/kampagne/wissenschaftlicher-dienst/

Repo:
https://github.com/okfde/froide-campaign

Based on:
https://github.com/okfde/froide
https://github.com/okfde/fragdenstaat_de (theme)

[2017-04-13 05:32] equivalentideas commented on #691
Hi @Shreya1771 That does sound like an interesting project @mario-areias is quite interested in parts of improving and opening the technology around elections.

This repo is just for discussions around Right To Know, so I'll close this. Have you written about this somewhere? I could send that through to see if anyone round our camp is interest in hacking on this with you.

[2017-04-13 05:32] #691 closed, assigned to nobody

[2017-04-13 07:20] Shreya1771 commented on #691
@equivalentideas should I write a blog for this what tools and technology or a pdf and just share you?

[2017-04-13 07:23] Shreya1771 commented on #346
@schlos Okay now I got it, So I'll be contributing to make a  site that allows people to submit suggestions for FOI requests when, for whatever reason, they can't or don't want to submit one via RTK themselves.

[2017-04-13 10:39] Shreya1771 commented on #640
Hi @EkaterinaSemenova @equivalentideas ,

From the past few days and weeks I have been reading about the projects and was going through the source code as well. Though I found the project interesting and exciting to work, "creating a site that will describe the attributes of FOI laws that make them human-friendly." Do we need to create using HTML & CSS or Ruby?  I feel excited to contribute to ope

[2017-04-13 11:21] EkaterinaSemenova commented on #688
Hi @henare! I have tested this on Alaveteli tag 0.26.0.0 with righttoknow theme (commit d65bac0). The issue doesn't reproduce in Chrome 57.0.2987 running on Ubuntu. I was not able to reproduce this issue for both admin and user pages.

![screenshot from 2017-04-13 13-59-34](https://cloud.githubusercontent.com/assets/20787120/25002691/670fd3bc-2054-11e7-8874-a471b6f47a02.png)
![screenshot from 2017

[2017-04-13 18:40] kdrosado commented on #640
Hi there,

I just found out about the Outreachy Internship and submitted an application to contribute to this project.  My programming experience is mostly with Front End using HTML, CSS, JavaScript, jQuery, and Bootstrap.  Willing to learn other technologies to complete any project.  I'm a quick learner.

Thanks,

Kerry D. Rosado

[2017-04-18 01:09] henare commented on #688
Thanks for testing this @EkaterinaSemenova :+1: I'll close this as "cannot reproduce".

[2017-04-18 01:09] #688 closed, assigned to nobody

[2017-04-18 12:22] EkaterinaSemenova commented on #650
Hi @henare!
#693 should fix it. Please, take a look.

[2017-04-19 04:57] equivalentideas commented on #620
Closed by @EkaterinaSemenova with https://github.com/openaustralia/righttoknow/pull/682

![screen shot 2017-04-19 at 2 55 51 pm](https://cloud.githubusercontent.com/assets/1239550/25163830/5d400d50-2510-11e7-854e-58cedb2d54d6.png)

[2017-04-19 04:57] #620 closed, assigned to nobody

[2017-04-21 02:04] #650 closed, assigned to nobody

[2017-04-22 09:12] equivalentideas commented on #346
Access Info Europe have written about the launch of [their system](https://github.com/openaustralia/righttoknow/issues/346#issuecomment-280962737) and how they managed the campaign. This is really useful for the types of tools the people using an FOI suggestion tool might need.

https://github.com/openaustralia/righttoknow/issues/346#issuecomment-280962737

[2017-04-24 15:04] garethrees commented on #346
Nice similar example https://www.muckrock.com/project/ (via https://github.com/mysociety/whatdotheyknow-theme/issues/390)

[2017-05-01 19:29] equivalentideas commented on #670
Closed by https://github.com/openaustralia/righttoknow/pull/694

[2017-05-01 19:29] #670 closed, assigned to nobody

[2017-05-16 08:31] equivalentideas commented on #691
@Shreya1771 I think a blog post is nice since then people online can stumble across it and be inspired by your ideas :)

[2017-06-16 10:53] Gemmamysoc commented on #584
Hi guys :)

We've seen an increase in WhatDoTheyKnow users writing to us to report invalid requests - most of which are users requesting personal information.

This made me think of this work you've done and that perhaps it's time for us to consider implementing it on WDTK.

What results have you seen from deploying this? Have requests for personal info to the authorities you've implemented this f

[2017-06-20 02:59] henare opened #696 "Zip files of a request's correspondence are corrupt"
Clicking _Download a zip file of all correspondence_ on any request works, the resulting Zip file looks OK but trying to open any of the files doesn't work.

We were contacted by a user with this problem and testing locally GNOME Archive Manager it doesn't work either. I tried unzipping from the Linux command line with `unzip` but weirdly that did work!

[2017-06-20 07:47] henare opened #697 "Link to contact us when request marked for administrator attention doesn't go to the right place"
When a request has already been marked for administrator attention the sidebar item about reporting the request changes to this:

![selection_001](https://user-images.githubusercontent.com/48945/27322152-513d99ea-55e0-11e7-9754-83f99fb3b4b1.png)

The contact us link goes to `/help/requesting` page, not `/help/contact` as I think it should.

[2017-07-28 00:43] henare opened #698 "Improve help text and advice about laws in different Australian jurisdictions"
Justin recently emailed us with some problems about the help text and advice we give about laws in different Australian jurisdictions. I think there's some useful things that could be extracted from this into separate, actionable issues. I don't have time to do that immediately so I'm pasting the full text of their email here for someone to extract issues from later:

[2017-08-09 02:27] equivalentideas opened #699 "Provide exception to policy on taking down information about people working for public bodies if they are party to protection order which their supervisor is not aware of"
We've had a thoughtful suggestion via email from an access to info and privacy adviser from a public body about [our policy on retaining the names of officers or servants of public authorities](https://www.righttoknow.org.au/help/privacy#takedown). Here's our policy:

They've suggested:

[2017-08-09 02:35] equivalentideas commented on #699
I think this is a good suggestion from the person. We should make it clear for people in the situation described that we don't expect them to disclose their request to us to their supervisor.

☝️ @benrfairless what do you think about amending our text like this?

[2017-08-14 11:33] auxesis commented on #673
FYI mysociety/alaveteli#456 is marked as closed, courtesy of mysociety/alaveteli#4052.

[2017-08-17 06:01] equivalentideas commented on #673
@auxesis It reads to me that the issue is being closed as 'wont fix' https://github.com/mysociety/alaveteli/issues/456#issuecomment-322976225

[2017-08-17 06:35] equivalentideas commented on #584
@Gemmamysoc Good question.

This is why we added the chart upstream https://github.com/mysociety/alaveteli/issues/3545 . Unfortunately we haven't managed to get our Alaveteli to the version with that chart in it 😬  https://github.com/openaustralia/righttoknow/pull/686

The other way to work this out would be to run the calculation code we added for that chart on the Rails console. I'll have a quic

[2017-08-17 07:31] equivalentideas commented on #584
@Gemmamysoc reading this issue in a bit more detail, found the script I made earlier for this kind of this https://github.com/openaustralia/righttoknow/issues/584#issuecomment-255294987

I did a fresh export of the hidden requests following the steps above and used it to make this rough chart in excel:

![screen shot 2017-08-17 at 5 21 15 pm](https://user-images.githubusercontent.com/1239550/29400

[2017-08-17 07:38] equivalentideas commented on #584
Some more data for you @Gemmamysoc 📈

Since we deployed the interface on Oct 28, we've been tracking click events on the "yes" and "no" form options and on the email address of the authority that we present to people who want to make a request for personal information.

![screen shot 2017-08-17 at 5 35 17 pm](https://user-images.githubusercontent.com/1239550/29400967-9ddf2af6-8372-11e7-9be9-fa0c78

[2017-09-01 15:16] Gemmamysoc commented on #584
Thanks loads for getting back to me on this @equivalentideas! One of our new WDTK volunteers recently suggested implementing a interstitial page before request submission like this, so it was really nice to be able to point him towards your existing work on this, and the news that it looks like it's been helping :)

I think it may be a while before we implement this on WDTK, but at least we know i

[2017-09-05 00:38] equivalentideas commented on #584
@Gemmamysoc my pleasure. It's good to check in on how this is going anyway 👍

[2017-10-17 22:09] henare opened #701 "Document deployment process"
@benrfairless asked about this recently. We currently don't have any documentation on how you deploy Right To Know.

[2018-01-31 01:06] svict4 opened #703 "Add status for unfunded requests"
Hi folks, not sure if this belongs here or `mysociety/alaveteli`

There are several requests that are accepted by an agency but require funding/payment before it is progressed. I just feel like `refused` isn't really the right status when an individual making the request has failed to pay, as `refused` makes it seem like (to me anyway) that it was due to the request not adhering to a particular ru

[2018-06-04 05:28] benrfairless opened #704 "No more Captcha on Contact form"
We don't have a captcha on the contact form, which is causing _all the spam_ to be sent to us.

[2018-08-15 06:26] jamezpolley opened #705 "NGINX proxy has body size set too small"
We're finding that people uploading even small documents (~3.8Mb) are getting a `413 Request Entity Too Large` error.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_eggt)

[2018-09-18 03:51] benrfairless opened #706 "Censor Mobile Phone Numbers and Credit Numbers"
Censor mobile numbers and other personal information. This can probably be achieved by regex in censor rules.

[2018-09-19 05:09] benrfairless opened #707 "Staging Site Certificate has expired"
Test Site (https://www.test.righttoknow.org.au) has a Let'sEncrypt Certificate that has expired.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_fy3x)

[2018-09-19 05:19] benrfairless commented on #706
Considering these as possbile options:

`^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$`

or

`\b([\+-]?\d{2}|\d{4})\s*\(?\d+\)?\s*(?:\d+\s*)+\b`

Both of these would hide **all** Australian numbers from Right to Know

[2018-09-19 07:09] #668 closed, assigned to benrfairless

[2018-09-19 07:10] #689 closed, assigned to nobody

[2018-09-19 10:32] p0sty commented on #579
Did you find the vector version? :)

[2018-09-24 04:10] drzax commented on #706
It would be great to see a little more discussion about why this is needed.

[2018-09-24 04:35] benrfairless commented on #706
Good point!

We’ve had members of the community publish their personal mobiles. Alaveteli hides UK mobiles by default as mobile numbers really aren’t fair to publish.

There is also the fact that some agencies get a bit grumpy and have told us their numbers are being harvested by telemarketers which isn’t fair on them.

[2018-09-28 14:42] benrfairless opened #708 "Acknowledge Vs. Response"
We got the below feedback in an email:

In the FOI Guidelines dated May 2018, it states that: "An agency or minister has a statutory obligation to acknowledge that an FOI
request has been received as soon as practicable, and no later than 14 days after receiving a request (s 15(5)(a))".

Perhaps the Right To Know Website should add this to the screen. It currently mentions 30 days, which refers to

[2018-10-01 10:24] benrfairless commented on #708
This is controlled using the "REPLY_LATE_AFTER_DAYS" variable in the general.yml. file to calculate the date.

I suspect that this is because upstream Alaveteli don't see the nuances between an acknowledgement and a response. I might ask upstream to see how this is handled.

[2018-10-01 11:50] garethrees commented on #708
The UK FOI Act doesn't have any specific timeline for acknowledging FOI requests.

Even if it did, Alaveteli doesn't attempt to model the law word-for-word, so I'm not sure we'd really build this deadline in to the software itself. The main objective for users is to get information, not acknowledgements.

We actually really want to identify and minimise auto-acknowledgements (https://github.com/my

[2018-10-10 04:15] benrfairless opened #709 "Conduct research on experience of staff of Public Authorities using Right to Know"
Right to Know tends to work really well for people who are making requests, however we haven't focused on the authority experience much since the site was created.

We know that some authorities have a better time with Right to Know than others, and I think it would be great if we reached out to the authorities to A) introduce ourselves and B) see what pain points they are having.

This might help

[2018-10-10 12:26] benrfairless opened #710 "Work on what we want to ask / Say to Public Authorities"
Draft an email to:
1. Introduce the team at Right to Know
2. Ask what the authority thinks about Right to Know
3. Ask what we can do to help make it easier for the Public Authority

[2018-10-10 12:31] benrfairless opened #711 "Contact the Information Commissioners and get their feedback on Right to Know"
The Information Commissioners in each state exist to champion Freedom of Information. We should reach out to them to see if they would have time to talk to us about Right to Know, and about what we can do better for public authorities.

It's also a good opportunity to introduce ourselves and be more receptive to them.

[2018-10-10 12:42] benrfairless commented on #711
### List of Information Commissioners:
- [ ] Federal: http://www.oaic.gov.au
- [ ] ACT: http://ombudsman.act.gov.au/Freedom-of-Information
- [ ] NSW:  http://www.ipc.nsw.gov.au/
- [ ] NT: http://www.infocomm.nt.gov.au/
- [ ] QLD: http://www.oic.qld.gov.au/
- [ ] SA: http://www.archives.sa.gov.au/content/foi-in-sa
- [ ] TAS: http://www.ombudsman.tas.gov.au/right_to_information/process
- [ ] VIC: ht

[2018-10-10 12:45] benrfairless commented on #706
Added this to the Public Authorities Triage as it's feedback we've already got from authorities.

[2018-10-17 05:04] benrfairless opened #712 "House Rules"
Our sister site at What Do they Know has house rules and a better help page:

https://www.whatdotheyknow.com/help/principles
https://www.whatdotheyknow.com/help/how
https://www.whatdotheyknow.com/help/house_rules
https://www.whatdotheyknow.com/help/complaints

Maybe it’s time we start looking at this.

[2018-10-17 09:39] benrfairless commented on #705
This issue remains unresolved :(

[2018-10-17 09:43] benrfairless commented on #705
Confirmed error occurs in Test and in Production

413 Request Entity too large

https://www.test.righttoknow.org.au/request/testing_uploads for testing

Limit is set at 1MB

Will review this later tonight

[2018-10-18 04:11] #707 closed, assigned to jamezpolley

[2018-10-18 04:37] #705 closed, assigned to jamezpolley, benrfairless

[2018-10-18 08:21] benrfairless opened #713 "Version 0.25.0.15"
# Version 0.25.0.15

## Highlighted Features
* Added an IP rate limiter and rate limit signups to 3 per hour per IP if
  `ENABLE_ANTI_SPAM` is configured (Gareth Rees)
* Added a reCAPTCHA to the new request process for users who are not signed in,
  or have not been marked as `confirmed_not_spam`. This is controlled
  independently through `NEW_REQUEST_RECAPTCHA` (Louise Crow, Gareth Rees)
* Allow

[2018-10-18 08:22] benrfairless opened #714 "Version 0.26.0.9"
# 0.26.0.9

## Highlighted Features

* Fix a bug that meant a Postgres collation that was not compatible with the
  local database encoding could be chosen (Liz Conlan)

# 0.26.0.8

## Highlighted Features

* Updated translations from Transifex (Louise Crow)

## Upgrade Notes

* This hotfix just includes translation updates.

# 0.26.0.7

## Highlighted Features

* Fix a bug in the handling of inco

[2018-10-18 08:24] benrfairless opened #715 "Version 0.27.1.2"
# 0.27.1.2

# Highlighted Features

* Updated translations from Transifex (Gareth Rees)

# 0.27.1.1

# Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.27.1.0

## Highlighted Features

* Always send warnings of possible spam activity – configure blocking of spam
  activity with `ENABLE_ANTI_SPAM` (Gareth Rees)
* Fix downloading request Zips when they're unclassified (G

[2018-10-18 08:25] benrfairless opened #716 "Version 0.28.0.10"
# 0.28.0.10

## Highlighted Features

* Updated translations from Transifex (Gareth Rees)

# 0.28.0.9

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.28.0.8

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.28.0.7

## Highlighted Features

* Fix locale handling bug which prevented locales containing underscores from
  being used as

[2018-10-18 08:26] benrfairless opened #717 "Version 0.29.0.2"
# 0.29.0.2

## Highlighted Features

* Updated translations from Transifex (Louise Crow)

# 0.29.0.1

## Highlighted Features

* Fixed problem where the routing filter doesn't recognise default locales with
  underscores properly (Liz Conlan)
* Added wrapper methods to AlaveteliLocalization to be used in preference to the
  underlying I18n and FastGettext methods, avoiding confusion about which sh

[2018-10-18 08:26] benrfairless opened #718 "Version 0.30.0.5"
# 0.30.0.5

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.30.0.4

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.30.0.3

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)
* New pro strings for translation (Liz Conlan)

# 0.30.0.2

## Highlighted Features

* Added a fix for the holiday imports admin tool

[2018-10-18 08:27] benrfairless opened #719 "Version 0.31.0.4"
# 0.31.0.4

## Highlighted Features

* Updated translations from Transifex (Liz Conlan)

# 0.31.0.3

## Highlighted Features

* Fix broken translation string (Gareth Rees)

# 0.31.0.2

## Highlighted Features

* Remove obsolete pro msgids (Gareth Rees)

# 0.31.0.1

## Highlighted Features

* Updated translations from Transifex (Gareth Rees)

# 0.31.0.0

## Highlighted Features

* Rescue from POP p

[2018-10-18 08:27] benrfairless opened #720 "Version 0.32.0.0"
# 0.32.0.0
## Highlighted Features
* Move the user menu and sign up/sign in links from the navigation bar to the
 header to allow space for longer navigation link translations (Martin Wright)
* Better duplicate request detection (Graeme Porteous)
* Strip leading and trailing whitespace when searching for users in the admin
 interface (Gareth Rees)
* Fall back to the theme's standard opengraph logo

[2018-10-18 16:44] garethrees commented on #704
We're working on this right now in https://github.com/mysociety/alaveteli/pull/4909 and https://github.com/mysociety/whatdotheyknow-theme/pull/521.

[2018-11-21 02:06] p0sty commented on #703
Honestly this would be fantastic if this was searchable. Should there be any generous benefactors or people wishing to pick up the baton on requests they can do so - it will also provide info on barriers to succeeding with requests. Money is a legitimate one.

[2018-11-21 02:11] p0sty commented on #642
I have literally done something like this already in a table if this is still a genuine need.

[2018-11-21 07:18] p0sty commented on #703
I'm just having a crack at "the classification game" and this essentially breaks the process because many requests are abandoned due to people not having funds - and we know it's been abandoned.

we know it's past the period where the agency has closed the request due to no response.

take this one for example

- the only status options we have are:

"This particular request is finished:
 The auth

[2018-11-21 07:26] henare commented on #642
@p0sty I can't speak for if it's needed for the blog but I'd love to see it anyway 🙂

[2019-03-06 12:44] benrfairless opened #723 "Allow a request to be split between different departments"
It's possible for a request to be partially transferred, so 2 departments are working on the same request.

At the moment we only support one department per request.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_l5v9)

[2019-03-14 23:00] jamezpolley commented on #706
@benrfairless I think this would only censor this data in the text on the website; it's not going to censor anything in the emails going back and forth to the parties involved, and it's not going to censor any attachments. Is that right?

[2019-03-14 23:02] jamezpolley commented on #579
I've now assigned all the Kats

[2019-03-15 12:38] benrfairless commented on #706
This would censor documents and the correspondence published on the site in the same way that email addresses are censored.

[2019-03-18 00:22] katska commented on #579
Unfortunately that's not available. I didn't file it anywhere sensible. Sorry. @jamezpolley please can you attach the image that you want to recreate as a vector file?

[2019-09-24 12:00] benrfairless opened #724 "No Status Option for Extended time"
In updating the status of my request there was no option for a provision of extra time. The agency involved applied for and was granted an extension of time to comply with the request.

The only suitable option was "Still waiting", yet this may result in incorrect reminders on timescales as it will not allow for additional time granted.

Might be worth adding an option for additional time to allow

[2019-11-05 00:51] jamezpolley opened #725 "Document a working platform and installation steps for a dev/deployment environment"
(#701 covers the general need for deployment instructions; this is a specific part of those instructions)

In order to deploy RTK, one must have a suitably configured machine with a suitable version of ruby that's able to install the bundle of packages described in the Gemfile.

I'm unable to come up with a working ruby version at present, even on Ubuntu 18.04 Bionic.

`.ruby-version.example` sugg

[2019-11-05 01:00] jamezpolley commented on #725
For Bionic, https://makandracards.com/makandra/76359-installing-ruby-2-3-or-below-on-ubuntu-17-and-above provides a workaround:

[code]

[2019-11-05 01:01] jamezpolley commented on #725
It looks like this should work on Cosmic too (https://packages.ubuntu.com/cosmic/libssl1.0-dev)

[2019-11-05 01:01] jamezpolley commented on #725
@benrfairless Does this help you?

[2019-11-05 01:26] jamezpolley commented on #725
I also find that I had to `sudo apt install libmagic-dev libsqlite3-dev uuid-dev`

[2019-11-14 00:43] jamezpolley opened #726 "Hidden requests still show in "Similar requests""
In the linked discussion, we've hidden some requests as they aren't within the terms of the site.

However, they're still showing in the "Similar requests" sidebar.

This issue is opened to track this specific incident. This maybe be a recurrence of the issue described in #295 or #313, or may be related to mysociety/alaveteli/issues/728.

<img src="https://frontapp.com/assets/img/favicons/favicon-

[2019-11-14 01:13] benrfairless commented on #726
I think we should focus on updating the code base on the site before we look into this.

—
Ben Fairless

OpenAustralia Foundation

openaustralia | planningalerts | electionleaflets | righttoknow | theyvoteforyou | morph

--- original message ---
On 14 November 2019, 8:43 am AWST notifications@github.com wrote:

In the linked discussion, we've hidden some requests as they aren't within the terms of

[2019-11-14 01:17] jamezpolley commented on #726
I think we should look at updating the codebase on the site before we try to fix this permanently, but right now I'd like to fix the current problem

[2019-11-14 01:41] jamezpolley commented on #726
#295 and #313 have mostly talked about xapian indexes or varnish caching. mysociety/alaveteli/issues/728 mentions rails caching, but only to say that upstream alaveteli didn't use it at the time.

However, in this case, updating xapian indexes didn't seem to do anything. The varnish cache purging *seems* to be set up correctly, I think. In any case, I was seeing the stale content as a logged-in us

[2019-11-14 01:42] jamezpolley commented on #726
I'm going to close this issue now as the particular operational issue discussed here seems to be resolved.

[2019-11-14 01:42] #726 closed, assigned to jamezpolley

[2019-12-14 19:12] benrfairless opened #728 "Help Info is incorrect - You need a postal address for some states"
https://www.righttoknow.org.au/help/privacy#full_address says:

An email address is sufficient by law. You don't need to give your postal address.

If a public authority insists on your full, physical address, let us know. This website is specifically mentioned in the Federal Information Commissioner's FOI Guidelines because we've been through this before.

It's also mentioned here: https://www.ri

[2019-12-14 20:36] benrfairless opened #729 "Create a way to deal with Transferred requests"
Requests can be transferred between departments. We need to find a way to make this process easier for the community.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1xf2d)

[2020-10-30 11:59] willmeet commented on #672
[How to get $350 threshold from google adwords without credit card or bank account Free Trick 2020](http://www.technologymanias.com/2020/10/how-to-get-350-threshold-from-google.html)

[2020-11-26 02:19] benrfairless opened #731 "PDF Document showing as corrupt on multiple requests."
Refer to the PDFs sent by the Department on 26/11/2020 on these requests:

https://www.righttoknow.org.au/request/6822
https://www.righttoknow.org.au/request/6823
https://www.righttoknow.org.au/request/6828
https://www.righttoknow.org.au/request/6829
https://www.righttoknow.org.au/request/6889

They don't open in Chrome or IE and show as Corrupt. The PDF in Front is fine. When I upload the PDF in

[2020-11-26 09:26] benrfairless opened #732 "People with Outlook.com email addresses don't receive our emails."
Refer to the Front email, and I've also tested with a test account.

Confirmed in both Staging and Production that the emails aren't getting through. Need to investigate why. Gmail looks like it's OK.

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_37nb9)

[2020-11-30 13:12] benrfairless commented on #731
@mlandauer these were the requests that weren’t working. I’ve checked each of them and they are working fine now.

[2020-11-30 13:12] #731 closed, assigned to benrfairless

[2020-11-30 20:12] mlandauer commented on #731
@benrfairless wonderful. Thank you!

[2020-12-01 00:25] benrfairless commented on #732
@mlandauer any ideas with this one? I’m sure we are sending the messages, just not sure why they are being blocked.

[2020-12-01 01:01] mlandauer commented on #732
Ah. This is likely to be a fun one. 😩 had a similar sounding problem on planningalerts which required a lot of digging into the depths of the latest email standards.

[2020-12-01 01:04] mlandauer commented on #732
This is what happened on PlanningAlerts recently: https://www.oaf.org.au/2020/09/29/the-story-of-a-tiny-almost-invisible-change/

[2020-12-01 04:39] benrfairless commented on #732
How easy would it be to route RTK email through Cuttlefish and enable DMARC?

—
Ben Fairless

OpenAustralia Foundation

openaustralia | planningalerts | electionleaflets | righttoknow | theyvoteforyou | morph

--- original message ---
On 1 December 2020, 9:04 am AWST notifications@github.com wrote:

This is what happened on PlanningAlerts recently: https://www.oaf.org.au/2020/09/29/the-story-of-a-

[2020-12-01 05:37] mlandauer commented on #732
Main reason not to send RTK email through Cuttlefish is that it will confuse the email delivery status stuff in RTK. So I think we just need to fix it at RTK whatever the problem is

[2020-12-01 05:51] mlandauer commented on #732
Looking through the logs on righttoknow I can see things like:
[code]

I checked that we're not on any DNS email blacklists for the righttoknow server and that looks fine.

Apparently microsoft keep their own blacklists. Who knows why we would have been added to one but I guess that's the most likely thing going on here.

[2020-12-01 10:44] benrfairless commented on #732
I think this might be to do with the fact we are emailing from an AWS IP Range.

Raised a Support Request: Support request number: SR1513555652

@mlandauer do we have a dedicated IP with AWS or is it dynamic?

[2020-12-01 10:50] benrfairless commented on #732
I've also signed up with the Microsoft Junk Email Program. It's sent a request to abuse@righttoknow.org.au which someone will need to approve.

[2020-12-01 10:57] #713 closed, assigned to benrfairless

[2020-12-01 10:57] #714 closed, assigned to benrfairless

[2020-12-01 10:57] #715 closed, assigned to benrfairless

[2020-12-01 10:57] #716 closed, assigned to benrfairless

[2020-12-01 10:57] #717 closed, assigned to benrfairless

[2020-12-01 10:57] #718 closed, assigned to benrfairless

[2020-12-01 10:57] #719 closed, assigned to benrfairless

[2020-12-01 10:57] #720 closed, assigned to benrfairless

[2020-12-01 11:03] benrfairless opened #733 "Review and update general.yml in Infrastructure"
File: https://github.com/openaustralia/infrastructure/blob/master/roles/internal/righttoknow/templates/general.yml

Needs to be updated with new variables for the new version of RTK.

https://github.com/mysociety/alaveteli/blob/release/0.38.3.0/config/general.yml-example

[2020-12-01 11:10] benrfairless opened #734 "Review and modify changed templates"
Review if we have changed any of the below templates. If so, then see if we need to modify them to make them work under the new version.

[2020-12-01 11:10] benrfairless commented on #734
**0.26.0.0**
app/views/admin_general/_admin_navbar.html.erb
app/views/admin_general/debug.html.erb
app/views/admin_general/index.html.erb
app/views/admin_public_body/edit.html.erb
app/views/admin_public_body/import_csv.html.erb
app/views/admin_public_body/new.html.erb
app/views/admin_user/_user_table.html.erb
app/views/admin_user/index.html.erb
app/views/comment/_single_comment.html.erb
app/views/

[2020-12-01 11:11] benrfairless commented on #734
**0.26.0.1**
app/views/admin_public_body/edit.html.erb
app/views/widgets/show.html.erb

[2020-12-01 11:12] benrfairless opened #735 "0.26.0.6 - Censor Rules and Zip Downloads"
Run this command after deployment to production to refresh any cached zip downloads:

bundle exec rake temp:remove_cached_zip_downloads

[2020-12-01 11:13] benrfairless commented on #734
**0.27.0.0**
app/views/admin_holiday_imports/new.html.erb
app/views/admin_public_body/edit.html.erb
app/views/admin_request/edit.html.erb
app/views/admin_request/show.html.erb
app/views/comment/_single_comment.html.erb
app/views/comment/_single_comment.text.erb
app/views/comment/new.html.erb
app/views/followups/_followup.html.erb
app/views/followups/new.html.erb
app/views/general/_advanced_search_

[2020-12-01 11:16] benrfairless opened #736 "0.27.0.0 - Check for Date/Time references in overriden templates/theme code"
Please update any overriden templates and theme code that reference times and dates to reference the local time zone where appropriate. e.g.
Time.now => Time.zone.now Date.today => Date.current DateTime.parse => Time.zone.parse
See https://robots.thoughtbot.com/its-about-time-zones for a description of how Rails handles time zones

[2020-12-01 11:17] benrfairless opened #737 "0.27.0.0 - Rake Tasks"
To store the significant dates for requests in the database, you must run `bundle exec rake temp:populate_request_due_dates` after deployment.

To store events identifying at what point requests became overdue and very overdue, you must run `bundle exec rake temp:backload_overdue_info_request_events` and `bundle exec rake temp:backload_very_overdue_info_request_events`.

This release contains some

[2020-12-01 11:20] benrfairless commented on #734
**0.27.1.0**
app/views/comment/_single_comment.html.erb
app/views/followups/preview.html.erb
app/views/general/_log_in_bar.html.erb
app/views/general/_nav_items.html.erb
app/views/public_body/_search_ahead.html.erb
app/views/request/_bubble.html.erb
app/views/request/_incoming_correspondence.html.erb
app/views/request/_outgoing_correspondence.html.erb
app/views/request/_sidebar.html.erb
app/views/

[2020-12-01 11:20] benrfairless commented on #734
**0.28.0.0**
app/views/admin_general/debug.html.erb
app/views/admin_public_body_headings/_form.html.erb
app/views/alaveteli_pro/info_requests/_sidebar.html.erb
app/views/alaveteli_pro/info_requests/preview.html.erb
app/views/comment/_comment_form.html.erb
app/views/comment/preview.html.erb
app/views/request/describe_state_message.html.erb
app/views/request/preview.html.erb
app/views/user/_signup.h

[2020-12-01 11:22] benrfairless opened #738 "0.28.0.1 - Rails 4.0 - Signed Cookies Changes"
Rails 4.0 introduces ActiveSupport::KeyGenerator and uses this as a base from which to generate and verify signed cookies (among other things). Generate a secret with `bundle exec rake secret` and use this for the value of SECRET_KEY_BASE in config/general.yml.

[2020-12-01 11:24] benrfairless opened #739 "0.28.0.6 - LAW_USED_READBALE_DATA - Check requests from multiple Jurisdictions"
From Upgrade Notes:

If you have overridden `LAW_USED_READABLE_DATA `in your theme, you will need to rewrite this code to override the `law_used_readable_data `class method of `InfoRequest::TranslatedConstants` instead

[2020-12-01 11:25] benrfairless commented on #734
**0.29.0.0**
app/views/admin_comment/edit.html.erb
app/views/admin_general/index.html.erb
app/views/admin_general/timeline.html.erb
app/views/admin_outgoing_message/edit.html.erb
app/views/admin_public_body/show.html.erb
app/views/admin_public_body_categories/_form.html.erb
app/views/admin_request/_some_requests.html.erb
app/views/admin_request/index.html.erb
app/views/admin_request/show.html.erb

[2020-12-01 11:28] benrfairless commented on #738
As of 0.29.0.0
The COOKIE_STORE_SESSION_SECRET config item has been removed and replaced with SECRET_KEY_BASE. You should migrate the original value to the new config key.

[2020-12-01 11:29] benrfairless opened #740 "0.29.0.0 - MTA Agnostic Delivery Status"
You should run `bundle exec rake temp:cache_delivery_status `to convert any cached delivery statuses to the new format.

[2020-12-01 11:32] benrfairless opened #741 "0.29.0.0 - Consider use of Role Based Permissions System"
To migrate admin and pro statuses to the role-based system, you must run `bundle exec rake db:seed` and then `bundle exec rake temp:migrate_admins_and_pros_to_roles` after deployment.

[2020-12-01 11:34] benrfairless opened #742 "0.29.0.0 - Multiple Rake commands after deployment"
There are some database structure updates so remember to `rake db:migrate`

Run `bundle exec rake temp:remove_line_breaks_from_request_titles` after deployment to remove stray line breaks (could effect Atom feeds)

Run `bundle exec rake temp:generate_request_summaries` after deployment to create the new facade models that the Alaveteli Pro dashboard uses to display all forms of requests in a unifi

[2020-12-01 11:35] benrfairless commented on #734
**0.30.0.0**
app/views/admin_comment/index.html.erb
app/views/admin_general/index.html.erb
app/views/admin_general/timeline.html.erb
app/views/admin_public_body/show.html.erb
app/views/admin_user/index.html.erb
app/views/alaveteli_pro/account_mailer/account_request.text.erb
app/views/alaveteli_pro/account_request/new.html.erb
app/views/alaveteli_pro/draft_info_request_batches/_draft_info_request_b

[2020-12-01 11:38] benrfairless opened #743 "IMPORTANT - Staged Upgrade via 0.29.0.0 required"
Note from 0.30.0.0:

[2020-12-01 11:42] benrfairless opened #744 "0.30.0.0 - Rake Tasks"
Run `bundle exec rake temp:populate_last_event_time` after deployment to populate the cached `last_event_time `attribute on info_requests, used in the admin interface.

Run `bundle exec rake temp:remove_notifications_tester_role` to remove the notification tester role from the database.
Use of the PRODUCTION_MAILER_RETRIEVER_METHOD config setting is currently not recommended.

Run `bundle exec rak

[2020-12-01 11:44] benrfairless commented on #734
**0.31.0.0**
app/views/admin_general/_to_do_list.html.erb
app/views/admin_general/index.html.erb
app/views/admin_raw_email/show.html.erb
app/views/admin_request/show.html.erb
app/views/admin_user/show.html.erb
app/views/alaveteli_pro/account_request/new.html.erb
app/views/alaveteli_pro/batch_request_authority_searches/index.html.erb
app/views/alaveteli_pro/dashboard/_projects.html.erb
app/views/al

[2020-12-01 11:45] benrfairless opened #745 "0.31.0.0 - Ensure site works with VARNISH_HOST empty"
This release removes the use of purge requests to Varnish. Please make sure your site works with VARNISH_HOST empty before upgrading.

[2020-12-01 11:46] benrfairless commented on #734
**0.32.0.0**
app/views/admin_general/_admin_navbar.html.erb
app/views/admin_general/index.html.erb
app/views/admin_incoming_message/_actions.html.erb
app/views/admin_public_body/_form.html.erb
app/views/admin_raw_email/show.html.erb
app/views/admin_request/edit.html.erb
app/views/admin_request/hidden_user_explanation.text.erb
app/views/admin_request/show.html.erb
app/views/admin_user/_user_table.h

[2020-12-01 12:11] garethrees commented on #734
If you're comfortable with vim, I wrote up a [wiki page and recorded a screencast](https://github.com/mysociety/alaveteli/wiki/Reconcile-changes-between-wdtk-and-whatdotheyknow-theme) demoing some tools I use to help make this process a little easier.

[2020-12-01 13:10] benrfairless commented on #733
Worth noting we will also need to Register for a Maxmind Licence: https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/

[2020-12-01 13:28] benrfairless opened #746 "Review if we want to enable Anti-Spam Measures"
There are lots of Antispam measures in the new general.yml file we can enable (#733). We should consider enabling some of them. Thinking these to start with:

ENABLE_ANTI_SPAM: true
BLOCK_RATE_LIMITED_IPS: true
BLOCK_RESTRICTED_COUNTRY_IPS: false
BLOCK_SPAM_ABOUT_ME_TEXT: true
BLOCK_SPAM_COMMENTS: true
BLOCK_SPAM_SIGNUPS: true
BLOCK_SPAM_SIGNINS: true
BLOCK_SPAM_REQUESTS: true
RESTRICTED_COUNTRIES

[2020-12-01 22:59] mlandauer commented on #732
I didn't think we had an email address abuse@righttoknow.org.au - I might well be wrong about this. I'm pretty sure we have a postmaster@righttoknow.org.au which I think just gets sent to contact

[2020-12-01 23:13] mlandauer commented on #732
With AWS? I can't see the support request on our AWS dashboard. I'm confused!

We have a dedicated external IP which is the one that righttoknow.org.au resolves to - 13.210.90.135

[2020-12-01 23:18] mlandauer commented on #723
This sounds like a question / feature request for the upstream Alaveteli

[2020-12-01 23:44] benrfairless commented on #732
Sorry that SR is for Microsoft not for AWS.

[2020-12-04 05:46] benrfairless opened #748 "0.31.0.0 - Rake Task - Recreate Attachments"
There's a new temp task that can be used to recache any attachments whose content has slightly changed (e.g. due to an upgrade in the mail gem that alters e.g the trailing space on attachment bodies). You can run it with `bundle exec rake temp:populate_missing_attachment_files` if you're seeing No such file or directory @ rb_sysopen errors from foi_attachment.rb.

[2020-12-07 05:48] mlandauer opened #749 "Upgrade to Alaveteli 0.38.3.0, Ubuntu 18.04, Ruby 2.6.6, modernise theme, update content and switch on Alaveteli Pro"
To do the upgrade we have to do a bunch of things in a particular order. This is an attempt to document that to keep of track of things.

- [x] Upgrade theme to work with version 0.34.0.0 of Alaveteli
- [x] Deploy 0.34.0.0 to staging with Ruby 2.5.8
- [x] Test everything in staging
- [x] Deploy 0.34.0.0 to production with Ruby 2.5.8
- [x] Upgrade server to ubuntu 18.04
- [x] Deploy latest version

[2020-12-08 03:14] mlandauer commented on #749
One thing I didn't say above is the official advise is that you should upgrade to each major version of Alaveteli individually. There are about 13 major versions between where we are currently and where we want to go. It's just a world of crazy to do that step by step so we're going to take some shortcuts and jump many major versions at a time. Even with that there are still many, many steps to th

[2020-12-09 11:10] benrfairless commented on #732
@mlandauer can confirm we don't get emails sent to abuse@righttoknow or postmaster@righttoknow to the contact mailbox. I can't add these as I'm not an admin in the Google Console. If you can elevate my access I can do it, otherwise instructions are here: https://support.google.com/a/answer/33389?hl=en#

[2020-12-09 11:16] benrfairless commented on #732
Conversation with M$: https://app.frontapp.com/open/cnv_751arid

[2020-12-10 00:37] mlandauer commented on #732
Sorry @benrfairless I got my wires crossed. We don't have an postmaster@righttoknow.org.au email address. We do have a webmaster@righttoknow.org.au address which I have added you to using your oaf email address. Is that going to be enough?

[2020-12-10 01:00] mlandauer commented on #732
Looking through the logs for this morning I'm seeing this:
[code]
which looks to me like a successful delivery to an outlook.com email address. Is there any chance that M$ have removed us from their list today?

[2020-12-10 02:21] mlandauer commented on #732
@ben I've also [added a DMARC record for righttoknow.org.au](https://github.com/openaustralia/infrastructure/commit/d1ae92f138d79cd13f5129bcc3430c99b5dbed36) which is only doing reporting for the moment. It's going to send analytics data to postmarkapp.com and they in turn will send a weekly digest email to webmaster@righttoknow.org.au which you should hopefully receive as well now.

[2020-12-10 03:58] mlandauer commented on #732
@benrfairless  any chance that you could somehow check whether things are now working for all people on outlook.com? I hope the one successfully delivered email is an indication that now all mail is getting through. :crossed_fingers:

[2020-12-10 04:01] #162 closed, assigned to nobody

[2020-12-10 04:04] mlandauer commented on #538
This looks like it hasn't been done and would be good to do!

[2020-12-10 04:05] #224 closed, assigned to nobody

[2020-12-10 04:05] #426 closed, assigned to nobody

[2020-12-10 04:06] #149 closed, assigned to nobody

[2020-12-10 04:09] mlandauer commented on #548
I'm going to assume this is fixed or will be fixed by doing upgrades

[2020-12-10 04:09] #548 closed, assigned to nobody

[2020-12-10 04:10] #541 closed, assigned to nobody

[2020-12-10 04:11] mlandauer commented on #570
I think I'll close this as a "very unlikely but intriguing idea"

[2020-12-10 04:11] #570 closed, assigned to nobody

[2020-12-10 04:12] #571 closed, assigned to nobody

[2020-12-10 04:14] mlandauer commented on #600
I'm going to close this as a problem that will likely be resolved by upgrading Alaveteli and updating the theme

[2020-12-10 04:14] #600 closed, assigned to nobody

[2020-12-10 04:18] mlandauer commented on #423
@kat @ben it's not clear to me what wording this issue is referring to. Any ideas?

[2020-12-10 04:19] #608 closed, assigned to nobody

[2020-12-10 04:19] #610 closed, assigned to nobody

[2020-12-10 04:49] katska commented on #423
it's on the help page- this section:
Why do you include some authorities that aren't formally subject to Freedom of Information?#

    Right To Know lets you make requests for information to a range of organisations:

        Those formally subject to Freedom of Information
        Those which choose to voluntarily comply with Freedom of Information
        Those which aren't subject to Freedom of

[2020-12-10 10:14] benrfairless commented on #732
We got a reply from Microsoft that they have fixed a delivery issue for the IP address. In my tests the emails are going through but going to junk. There is no reason why and I'm following up to find out.

@mlandauer We will need postmaster@ or abuse@ to register for the Microsoft program. Could we add the Front forwarding address to groups for webmaster@, postmaster@ and abuse@?

I have also sign

[2021-01-12 01:51] mlandauer commented on #749
I had to take a break from doing this work (to fix issues on openaustralia.org.au) and with a little time away to reflect I think doing the upgrade step by step major version by major version is long-winded but will be safer in the sense that we will be deploying changes to production in smaller steps and more frequently.

I could even do one major version upgrade a day and within 3 weeks the thin

[2021-01-12 05:27] benrfairless commented on #749
That would be really good. I like that idea a lot as I’m sure there are steps we will miss.

--- original message ---
On 12 January 2021, 9:51 am AWST notifications@github.com wrote:

I had to take a break from doing this work (to fix issues on openaustralia.org.au) and with a little time away to reflect I think doing the upgrade step by step major version by major version is long-winded but will

[2021-01-12 06:45] mlandauer opened #750 "Fix script/clear-caches script in alternative fashion"
In our fork of alaveteli we have an update to the `script/clear-caches` script which handles the fact that we're symbolic linking from our shared cache directory to a directory on a different filesystem. Our version of the script is:
[code]

We want to use the main-line version of alaveteli from the mysociety repo so we will not have this change. We will need to find an alternative way of handling

[2021-01-13 01:41] mlandauer commented on #749
First step done - upgraded Alaveteli to 0.25.0.15 in staging and production from the mysociety repo. We're now running off of the official repo rather than our forked code. Note that now the correct version is shown in the admin panel at https://www.righttoknow.org.au/admin/debug

[2021-01-13 04:45] mlandauer commented on #749
We are now at 0.26.0.9 in production and staging. In the upgrade notes "Install the geoip-database-contrib package to automatically fetch latest geoip databases." - that didn't work. It had trouble downloading files and so failed. Didn't do "You can improve the speed of your site by making sure that far-future expiration dates are being set on static assets - see the examples in the example config

[2021-01-13 04:56] mlandauer commented on #749
There's a few small styling issues which I might try to fix by bringing in changes I made to the theme for 0.38

[2021-01-14 01:15] mlandauer commented on #749
Now production and staging have been upgraded from ruby 2.0.0 to 2.3.0 which is the latest version supported by alaveteli 0.26.0.9.

[2021-01-20 02:01] mlandauer commented on #749
Now have upgraded production and staging to Alaveteli 0.27.1.2. Had to do a bunch of stuff with the theme to make it all work. The upside is that the theme has been refactored in places (mostly header and footer) to bring it closer in line with the templates being used in the current version of Alaveteli. This will make ongoing upgrades a bit easier hopefully too.

One bit that didn't work in eith

[2021-01-20 03:49] benrfairless opened #751 ""Personal Information" section doesn't work as expected"
We have something which automatically prompts users if they are requesting personal information after a specific period of time.

It is supposed to prevent you from making a request if you answer "Yes" to the question "Are you asking for personal information that should be confidential?"

You are able to answer the question, but the request view is not hidden:

![image](https://user-images.githubu

[2021-01-20 03:51] benrfairless commented on #751
Not sure if this is related to #749

[2021-01-20 04:14] mlandauer commented on #751
Undoubtedly it is. Thanks for spotting this. I'll try to get this fixed shortly.

[2021-01-20 04:49] mlandauer commented on #751
Fixed by https://github.com/openaustralia/righttoknow/commit/a80b23fe5bd0baff01468068c24623f2d8c4a5be. There is another jquery loading problem on the same page which I'll try to fix separately.

[2021-01-20 04:49] #751 closed, assigned to mlandauer

[2021-01-21 04:16] mlandauer commented on #749
Now staging and production are up to Alaveteli 0.28.0.10. In the process there were some weird asset pipeline issues to deal with as well as a bundler version issue and I merged in changes from the main app for the application config so that should be easier to manage from here on in.

[2021-01-21 05:10] mlandauer commented on #749
Now production and staging are at Alaveteli 0.29.0.2. There's a problem with the statistics page (which still worked on 0.28.0.10). I'll look at that now

[2021-01-21 05:18] mlandauer commented on #749
The stats page is now working again in production. In staging I assume it's broken because there's no data to display ;-)

[2021-01-21 05:56] mlandauer commented on #749
Staging has now been upgrade to 0.30.0.5. So far so good. I think that's enough for today. Monday will be upgrading production

[2021-01-25 01:35] mlandauer commented on #749
Upgraded to 0.30.0.5 in production. Need to check that everything still works with `VARNISH_HOST` not set

[2021-01-25 03:51] mlandauer commented on #749
Removed the VARNISH_HOST setting for production and staging. So far everything is still working

[2021-01-25 04:01] mlandauer commented on #749
Upgraded to 0.31.0.4 on staging and production

[2021-01-25 06:24] mlandauer commented on #749
Upgraded to 0.32.0.2 in staging and production. Explicitly set the list of popular bodies for the front page because apparently *not* doing that is slow. That way we also have a more reasonably sized list. Also I enabled optional two factor auth.

There is also now a setting EXTERNAL_REVIEWERS which allows you to set an email address for an external review body. The hassle in our case is we have m

[2021-01-25 06:26] mlandauer opened #752 "Have different external review address for different jurisdictions"
We can't enable the alaveteli setting `EXTERNAL_REVIEWERS` because it assumes there is a single body that users go to for all authorities. That is not the case with us because we are handling multiple jurisdictions.

Maybe we can fix this in the theme or maybe with a PR to the project?

We should wait until we've updated to the latest version of Alaveteli before we attempt this.

[2021-01-25 06:26] mlandauer commented on #749
Issue logged for `EXTERNAL_REVIEWERS` at https://github.com/openaustralia/righttoknow/issues/752

[2021-01-25 06:31] mlandauer commented on #749
Have disabled the two factor auth again because it looks like it's based on a one-time password where it gives you a password, you do an action and then it gives you a new password. Eek. The usability of this isn't great and I would be concerned for the support impact it might have.

Hopefully there is a better implementation coming in later versions? It seems unlikely but it's worth hoping for th

[2021-01-27 04:18] mlandauer commented on #749
Upgraded to Alaveteli 0.33.0.0 in staging and production

[2021-01-27 04:54] mlandauer commented on #749
Upgraded to Alaveteli 0.34.0.1 in staging and production!

[2021-01-27 05:45] mlandauer commented on #749
Upgraded ruby to 2.6.6 in staging and production. This is the latest version that Alaveteli 0.34.0.1 supports.

[2021-01-27 06:14] mlandauer commented on #749
Updated the /etc/init.d scripts to get rid of the varnish purge script which is no longer used and the notifications have been reworked so there is a new script for that

[2021-01-28 23:28] benrfairless commented on #749
It looks like the Captcha function still isn’t working after the upgrade to 0.34.0.1. I’ve created a new set of keys and invited you to them, but I don’t know how to update them in the Infrastructure section.

[2021-01-28 23:31] mlandauer commented on #749
Is this for the captcha on the contact form?

Thanks for letting me know. I'll take a look at next week. I suspect it should be an easy fix.

[2021-01-28 23:38] benrfairless commented on #749
Thanks! If we could also consider adding these in:

CONTACT_FORM_RECAPTCHA: true
ENABLE_ANTI_SPAM: true
USER_CONTACT_FORM_RECAPTCHA: true
NEW_REQUEST_RECAPTCHA: true

I’m hoping this will stop spam emails we are getting through the site contact form and the many spam accounts we have that I need to go and clean up.

[2021-02-01 01:12] mlandauer opened #753 "Look at / update recaptcha settings and ensure that things are working as expected"
Breaking this out as a separate issue from https://github.com/openaustralia/righttoknow/issues/749#issuecomment-769466582

Settings to look at:
[code]

[2021-02-01 02:20] mlandauer commented on #753
I've now enabled this all in staging and production. One tiny thing is I switched on individual anti-spam flags rather than the master (`ENABLE_ANTI_SPAM`) one.

[2021-02-01 02:20] #753 closed, assigned to mlandauer

[2021-02-01 02:20] mlandauer commented on #749
@benrfairless see #753

[2021-02-02 06:58] mlandauer commented on #749
Upgraded to Ubuntu 18.04

[2021-02-03 01:14] mlandauer commented on #749
Upgraded staging and production to Alaveteli 0.35.0.0. Running `rails geoip:download_data` didn't work because the domain geolite.maxmind.com didn't resolve. I assume that's because they've changed where their database lives since this Alaveteli release. I assume this will get addressed in more recent versions.

[2021-02-03 01:35] mlandauer commented on #749
Upgraded staging and production to Alaveteli 0.36.0.2. Getting closer now

[2021-02-03 02:24] mlandauer commented on #749
So close now. Upgraded in staging and production to Alaveteli 0.37.1.4. We now have the new versions of the geolite databases downloaded too as they now required a license key which is all set in the infrastructure setup (with Ansible).

[2021-02-03 05:58] mlandauer opened #754 "Highlighting of search terms isn't working in some places in production anymore"
After upgrading to Alaveteli 0.38.4.0 when you do a [search on a term like "incubator"](https://www.righttoknow.org.au/list/successful?utf8=%E2%9C%93&query=incubator&request_date_after=&request_date_before=&commit=Search) I would expect the term "incubator" to be highlighted in the search results.

It is working on a [different search page](https://www.righttoknow.org.au/search/incubator/all)

Com

[2021-02-03 05:59] mlandauer opened #755 "Revert to previous way of doing google analytics"
To go back to the way that we used to do things we need to override a template in our theme. See https://github.com/mysociety/alaveteli/blob/master/doc/CHANGES.md#upgrade-notes-1

[2021-02-03 06:02] mlandauer commented on #749
We're now at Alaveteli 0.38.4.0 in production and staging! As of today that is the most recent released version. 🎉

One change is that we've had to reintroduce the "gone_postal" state because of the way that's done internally. It's now not so straightforward to override. Also there appears to be a new bug in search highlighting. See #754. Also, we need to make a small change to go back to the way

[2021-02-03 06:03] #748 closed, assigned to nobody

[2021-02-03 06:04] #746 closed, assigned to nobody

[2021-02-03 06:04] #735 closed, assigned to nobody

[2021-02-03 06:04] #736 closed, assigned to nobody

[2021-02-03 06:04] #737 closed, assigned to nobody

[2021-02-03 06:04] #738 closed, assigned to nobody

[2021-02-03 06:04] #739 closed, assigned to nobody

[2021-02-03 06:04] #740 closed, assigned to nobody

[2021-02-03 06:04] #741 closed, assigned to nobody

[2021-02-03 06:04] #742 closed, assigned to nobody

[2021-02-03 06:04] #743 closed, assigned to nobody

[2021-02-03 06:04] #744 closed, assigned to nobody

[2021-02-03 06:04] #745 closed, assigned to nobody

[2021-02-03 06:05] #734 closed, assigned to nobody

[2021-02-03 06:06] #733 closed, assigned to benrfairless

[2021-02-03 06:07] mlandauer commented on #704
Fixed

[2021-02-03 06:07] #704 closed, assigned to nobody

[2021-02-03 06:08] mlandauer commented on #696
I tried this recently and it seems fine. So, closing

[2021-02-03 06:08] #696 closed, assigned to nobody

[2021-02-04 00:14] benrfairless opened #756 "Follow button on User Profile is very much larger than the text"
In test and production, find a user profile: https://www.righttoknow.org.au/user/matthew_landauer

The green "Follow" button is huge compared to other buttons:

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/6841582/106825992-ef54d400-66c0-11eb-8a40-b9da3e8e5389.png">

[2021-02-04 00:15] benrfairless commented on #756
Might be fixed as part of #749 but raising it as a seperate issue just in case I forget.

[2021-02-04 00:17] mlandauer commented on #756
Yes the design across the board is very likely to change with #749 so I won't prioritise fixing this in the short term. However, I won't close the issue in case the new design doesn't happen

[2021-02-04 12:43] benrfairless opened #757 "Admin Console - Personal Correspondence - Change Wording"
Current Wording is:

I think this should be changed to:

[2021-02-04 14:50] garethrees commented on #757
Happy to accept a generic upstream change to tweak the janky wording. These strings are translated so we should be able to include the site name. I haven't checked the exact helpers, but should be something along the lines of `_('We don't allow requests about your personal circumstances on {{site_name}}…', site_name: site_name)`.

[2021-02-08 13:01] benrfairless opened #758 ""Not an FOI Request" wording is no longer generic"
Before we upgraded we didn't specify the reason why a request was hidden. Now we do:

Example Request: https://www.righttoknow.org.au/request/train_footage_from_the_151220
<img width="771" alt="image" src="https://user-images.githubusercontent.com/6841582/107223071-b619bc80-6a50-11eb-997a-72fc6717e300.png">

Ideally we should say something like

[2021-02-08 13:23] benrfairless opened #759 "Timeline is being spammed with automation"
https://www.righttoknow.org.au/admin/timeline

<img width="951" alt="image" src="https://user-images.githubusercontent.com/6841582/107225198-7accbd00-6a53-11eb-9585-025d9a55cd7e.png">

I've not checked if this is an issue upstream but it does make it hard to work out what's going on.

[2021-02-08 13:26] garethrees commented on #759
Upstream issue: https://github.com/mysociety/alaveteli/issues/4776

Sorry! 😔

[2021-02-08 13:30] benrfairless commented on #759
No problem. Will close this issue :)

[2021-02-09 06:41] benrfairless commented on #706
When we tried to do this it caused the server to fill with log files and PDF documents to be inaccessible. I'm sure that UK numbers are censored, I just don't know how to do this for AU numbers.

[2021-02-10 03:12] katska commented on #712
@benrfairless sadly I am locked out of @kat due to dead drive disaster with my 2fa codes .... but I can reply as @katska

[2021-02-10 04:52] mlandauer commented on #579
I found the original adobe illustrator file we were sent. Looks like I can't attach it to the issue because github doesn't support it. Here's a link to it on google drive: https://drive.google.com/file/d/15Xzj7tMODyh-tbkkLWvz_9uJXcVqMo1v/view?usp=sharing

[2021-02-13 02:29] benrfairless opened #760 "When selecting “Withdraw my request” you are given the option to select internal review"
Steps to replicate:

1. Create a request to an authority
2. Select to change the status to “I want to withdraw this request”
3. You are given the option to write to the authority, but are asked if it’s an internal review or just a normal email

I think this should simply send an email saying that the request is withdrawn. At a minimum, the email type button should be removed.

[2021-02-15 01:19] katska opened #761 "update icon/logo for RTK"
The icon/logo for RightToKnow is based on the one from Chilean alevateli. Although it has served us well, it's time to refresh, without a white hand!
Options are to adapt or lose entirely from the main landing page.

[2021-02-15 01:21] katska opened #762 "create new favicon"
When we update or lose the icon/logo for RightToKnow we'll need a matching favicon derived from the new thing, for easy tab finding in the browser.
dependent on #761

[2021-02-15 01:23] katska opened #763 "find and test landing page images"
Find some images options to test as RightToKnow front page backgrounds

https://docs.google.com/spreadsheets/d/1H4HGQZGuqK5Bh7oQG_Pe_MFMxjZ1JcAstl9yix2I1MU/edit?usp=sharing

[2021-02-15 01:26] katska commented on #763
the one at WhatDoTheyKnow evokes internal large institutional structure, with people moving in it, inside a building.
Possibilities are something similar, or something that's closer to the people making requests.

[2021-02-15 01:41] katska opened #764 "Find the logo font"
I think its this one https://www.myfonts.com/fonts/softmaker/typewriter-serial/regular/

[2021-02-15 01:46] katska commented on #764
would this work? https://www.fonts.com/font/itc/itc-american-typewriter?QueryFontType=Web&src=GoogleWebFonts

[2021-02-17 01:46] katska commented on #764
I think we're done here.

[2021-02-17 01:46] #764 closed, assigned to nobody

[2021-02-17 01:56] katska opened #765 "find information on supporting organisations"
IS there a list? Where is it?

[2021-02-17 01:58] katska opened #766 "proposition for existing supporting organisations"
Craft a proposition
- Thank you for being a supporting organisation
- How have you been using Right To Know?
- Where it might be useful, introduce Right to Know Pro

[2021-02-17 04:56] katska opened #767 "fix links broken on RTK/help/requesting"
Checking links at [w3c's link checker](https://validator.w3.org/checklink?uri=https%3A%2F%2Fwww.righttoknow.org.au%2Fhelp%2Frequesting&hide_type=all&depth=&check=Check#results1), some of the links are broken on
https://www.righttoknow.org.au/help/requesting
Specifically the section **Can you tell me more of the nitty gritty about the process of making requests? #**

http://www.oaic.gov.au/freedom-

[2021-02-17 04:56] katska commented on #767
I checked the twitter account and that one is fine

[2021-02-17 05:09] katska commented on #767
1) So the first link has been broken for a while - it was overall guidelines with lots of links and sections. https://web.archive.org/web/20140419053017/http://www.oaic.gov.au/freedom-of-information/applying-the-foi-act/foi-guidelines/
I think the equivalent is now https://www.oaic.gov.au/freedom-of-information/foi-guidelines/ There's also an overview for FOI practitioners to supply to Agency staf

[2021-02-17 05:22] katska commented on #767
Tasmanian Ombudsman information page (last link) is now at https://www.ombudsman.tas.gov.au/right-to-information

[2021-02-17 05:38] katska commented on #767
I found the [statement of IP principles ]( https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjl58WUmPDuAhXKQN4KHecRASIQFjABegQIAhAC&url=https%3A%2F%2Fwww.communications.gov.au%2Ffile%2F20151%2Fdownload%3Ftoken%3DnmvWmdrj&usg=AOvVaw3HCINU6jXoMqcoUxe-yZf5) again: that's dated 2016, I note a change of language from 'manage' in to 'protect' in sample of introductory text. https

[2021-02-17 05:50] katska commented on #767
Copyright statement is 2016 on both. And indeed, they're essentially the same document, with formatting changes. One small but significant improvement is the link to creative commons licensing is no longer spelled out separately, its now embedded as a link in the text.
[ip_principles_for_commonwealth_entities_-_september_2016_0(1).pdf](https://github.com/openaustralia/righttoknow/files/5993498/ip_

[2021-02-17 05:54] katska commented on #767
All links found. Now to update them!

[2021-02-17 06:17] katska opened #768 "rebuild supporting organisations logos"
Rebuild the supporting organisations logos to have transparent backgrounds

[2021-02-19 13:36] benrfairless opened #769 "I’m not getting summary emails"
I'm not getting summary emails about requests or agencies I'm following.

I am getting emails about my requests which are overdue, so some emails are going out.

I suspect this is a cron job not working properly following the upgrades.

[2021-02-23 05:26] mlandauer commented on #768
This is done now

[2021-02-23 05:26] #768 closed, assigned to nobody

[2021-02-23 05:37] mlandauer commented on #767
@katska I fixed the IP principles link in https://github.com/openaustralia/righttoknow/commit/d4064088cdf464ec7f6bddfcf459059c42a80e4e

[2021-02-23 05:57] mlandauer commented on #769
Looks to me like I missed some updates that needed to be done to the cron jobs. I guess that wasn't documented in the upgrade notes. :-( Thanks for spotting this @benrfairless.

[2021-02-23 12:06] benrfairless commented on #761
I really like just the text logo we have now. It's cleaner and more professional than the old one :)

[2021-02-23 12:35] benrfairless opened #773 "New Theme - Yellow on white makes it hard to read some of the links"
The yellow on white background is very hard to see, especially when I've got Night Shift enabled. I think we should darken this a bit.

Example:
<img width="414" alt="image" src="https://user-images.githubusercontent.com/6841582/108843856-3b3acf00-7616-11eb-9ab4-ffae70b4f2b4.png">

[2021-02-23 12:38] benrfairless opened #774 "New Theme doesn't seem to quote original messages correctly"
Old Theme you see the "Show Quoted Sections"
<img width="733" alt="image" src="https://user-images.githubusercontent.com/6841582/108844348-f7949500-7616-11eb-9a50-0313abdb6db5.png">

New Theme it goes on forever:
<img width="729" alt="image" src="https://user-images.githubusercontent.com/6841582/108844416-1004af80-7617-11eb-8bc1-648e6f0df2ca.png">

[2021-02-23 13:21] benrfairless opened #775 "Captcha does not appear on the new user signup page"
If you go to https://www.righttoknow.org.au/profile/sign_in?r=%2F you don't get prompted for a captcha if you create a new account.

~~This works in test, so there must be a theme issue in production.~~

Captchas appear everywhere else in production just fine.

[2021-02-23 13:33] benrfairless commented on #775
I've traced this to here: https://github.com/mysociety/alaveteli/blob/74834d1b2deab1a99ae1c69a42cc6a2ff5d31990/app/views/user/_signup.html.erb#L44

I suggest we remove this line as we are still getting spammy users being created:
`<% if @request_from_foreign_country %>`

[2021-02-24 00:35] katska commented on #761
@benrfairless cool! It does feel better. @mlandauer Does this issue seem resolved to you? Have you documented the font and image creation files for later?

[2021-02-24 00:49] katska commented on #649
This is a duplicate, @mlandauer updated in this commit https://github.com/openaustralia/righttoknow/commit/d4064088cdf464ec7f6bddfcf459059c42a80e4e

[2021-02-24 00:58] mlandauer commented on #649
Yup looks like a duplicate to me. Closing.

[2021-02-24 00:58] #649 closed, assigned to nobody

[2021-02-24 01:00] mlandauer commented on #761
I'm going to leave this one open until the logo stuff is all done and dusted. There are some alternate versions to be made (for FB sharing and the html attachment view) and I want to test whether an SVG versions make the edges a little more crisp. (They look a little blurry and ill-defined for me)

[2021-02-24 03:28] mlandauer commented on #775
@benrfairless do we know for sure that those spammy users are being created from within Australia?

[2021-02-24 03:29] mlandauer commented on #773
Thanks for actually creating some test requests and authorities on staging to show up the problem

[2021-02-24 03:32] mlandauer opened #776 "Top of authority headings are getting chopped off on authorities list"
![image](https://user-images.githubusercontent.com/2221/108943508-147ba780-76ad-11eb-9c28-fff612322615.png)

[2021-02-24 04:42] mlandauer commented on #773
So now links in incoming emails are styled the same as all the other links. Also decided to switch the download links (in the attachments) to be gray. If the link has been visited it's blue again which is a bit weird but that appears to be the same behaviour as whatdotheyknow.

[2021-02-24 04:42] #773 closed, assigned to mlandauer

[2021-02-24 04:44] mlandauer commented on #774
Is this a problem with the theme? Strikes me that this is more likely to be a problem with the Alaveteli version that we're on. Any chance @benrfairless you could see if the same thing is happening in production in new requests?

[2021-02-24 04:55] #776 closed, assigned to mlandauer

[2021-02-24 22:40] benrfairless commented on #774
The production screenshot I provided was a recent reply. I'm wondering if it has something to do with the fact I'm replying through Front instead of Outlook?

[2021-02-24 22:42] benrfairless commented on #775
@mlandauer I don't think we record the IP addresses of sign ups. If we do, I'll provide some recent example accounts and we can see if they are Australian or not.

[2021-02-24 22:46] benrfairless commented on #769
Sorry @mlandauer re-opening this. I'm still not getting daily updates.

I'm subscribed to a number of requests and authorities and none have come through.

[2021-02-24 22:52] mlandauer commented on #775
@benrfairless can you send me some links to recent (since we've been on the latest version of Alaveteli) spam accounts in the admin panel and then I can go and investigate to see if I can figure out where they're coming from?

[2021-02-24 22:57] benrfairless commented on #775
Have sent you a few examples in slack to review 😇

[2021-02-25 00:34] katska commented on #767
Changes all merged. Thanks @mlandauer! I rechecked the links and problems that showed up were all related to being on staging/password needed.

[2021-02-25 00:34] #767 closed, assigned to katska

[2021-02-25 00:36] mlandauer commented on #767
Woot! 🎉

[2021-02-25 00:37] mlandauer commented on #769
I guess I shouldn't be surprised it didn't work first go. Thanks @benrfairless for re-opening the issue. I'll take a look now.

[2021-02-25 01:37] mlandauer commented on #769
I think I completely misunderstood one bit of the upgrade notes. I thought a new notifications thing was replacing the "tracking" but I don't think that's the case. I've reinstated the old daemon https://github.com/openaustralia/infrastructure/commit/654715334f37c0a01bfb1cd0328fbcd69fd31c1e. Please let me know if that makes any difference @benrfairless

[2021-02-25 02:25] mlandauer commented on #775
Just for completeness I accessed the production site through a VPN and as expected it showed the recaptcha on the user sign up. I also checked that the form doesn't work when the recaptcha isn't completed.

So, after much trawling I figured out that the spam accounts that @benrfairless sent me for review were both created by requests originating outside Australia and they both successfully complet

[2021-02-25 02:25] #775 closed, assigned to nobody

[2021-02-25 04:05] katska opened #778 "remove logos/signs from intended background image"
![Uploading nate-watson-ArnSNszzd1M-unsplash.jpg…]()

[2021-02-25 04:28] katska commented on #778
uploaded the krita file that paints out the Parking and burger chain signs to slack #righttoknow channel

[2021-02-25 04:53] katska commented on #766
to craft propositions, there are some questions to ask, what would make a meaningful relationship, to suit how organisations could connect to further their interests.

Who are they?
So far we have organisations who use Freedom of Information/Access to Information in their work, and/or whose aims and objectives are aligned more directly with FOI.

There was one Australian Government supporter Ausgo

[2021-02-25 05:39] katska commented on #766
Some things I came across that might be useful next

https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1467-9299.1989.tb00721.x

https://www.ndi.org/sites/default/files/freeinfo_010504.pdf

Australia's freedom of information regime labelled 'dysfunctional' in scathing audit

An Australian Conservation Foundation report urges an investigation into how ministers treat requests for government documen

[2021-03-02 10:32] benrfairless commented on #769
I'm still not getting the daily notification emails :(

[2021-03-03 04:32] mlandauer commented on #769
@benrfairless According to https://www.righttoknow.org.au/admin/users/487 where it says  "Last daily track email" it seems to suggest you received one on March 2nd (yesterday). Is there any chance that you received an email but it's gone into spam or something like that?

[2021-03-03 04:43] mlandauer commented on #769
On closer examination that "last daily track email" date gets updated even if no actual email gets sent out (because there's nothing to notify you about). It basically suggests that the last time things were checked whether you should receive something was yesterday. So, that at least looks promising.

Looking at [the code](https://github.com/mysociety/alaveteli/blob/0.38.4.0/app/mailers/track_mai

[2021-03-03 04:45] mlandauer commented on #769
By the way I checked the logs for the daemon and there's nothing in them other than a message saying the daemon started. Also, I checked that the daemon is currently running which it is.

[2021-03-03 10:56] benrfairless opened #782 "House Rules - Be clearer about the consequences"
From Matt's comment here: https://github.com/openaustralia/righttoknow/pull/780#issuecomment-789275653

Should we update the house rules to update the fact that there are multiple courses of action?

[2021-03-03 11:00] benrfairless commented on #782
Instead of:

I'm thinking something like:

[2021-03-04 01:10] mlandauer commented on #782
I think the suggested wording is good. It makes it clearer that there are a number of potential consequences and that we will make a judgement call based on the seriousness of the "violation". I think it's good that it doesn't lay out a specific process because I'm a little wary that that potentially could be used against us by users of the site with bad intentions.

[2021-03-04 01:11] #782 closed, assigned to nobody

[2021-03-08 00:30] katska opened #785 "Review pro terms"
review these terms that Matthew has given a first pass adapt in OAF/Australia context righttoknow.org.au/pro/pages/legal

see https://github.com/openaustralia/righttoknow/issues/749

[2021-03-08 00:39] katska commented on #785
@mlandauer I think this looks pretty good. There's just one part that maybe we could be more specific about - which is the part
 "We take your privacy seriously. We will use the personal data that you provide to us solely for the purpose of administering the service, and we will not disclose it to anyone else unless we are obliged to by law. "
I'm not requesting a change here, however I would appr

[2021-03-08 00:51] mlandauer commented on #785
Any suggestions for improved wording?

[2021-03-08 02:19] katska commented on #785
@mlandauer not at this stage no, I think it's a 'policy' issue that we need to discuss. I don't think writing some words that might constitute a policy and discussing them in github is necessarily the most efficient way of  clarifying OAF/RTK's existing position or elaborating/arriving at a more nuanced description of this and communicating it. Do you have a preference that we do it through an iss

[2021-03-08 04:36] katska opened #786 "check contrast on new version"
check out contrast compliance checkers

here are some https://userway.org/blog/the-best-website-contrast-checkers-to-make-sure-your-websites-accessible

[2021-03-08 09:56] benrfairless commented on #769
I removed and re-added the thing I was following and it now appears to be working. That said, I had a lot of things I was following so maybe I hit a limit somewhere. Going to close this off.

[2021-03-08 09:56] #769 closed, assigned to mlandauer

[2021-03-10 00:08] benrfairless commented on #785
@mlandauer @katska can we possibly arrange an early morning call to go through this?

[2021-03-10 00:12] benrfairless commented on #712
This is now done ❤️

[2021-03-10 00:12] #712 closed, assigned to katska, benrfairless

[2021-03-10 00:13] benrfairless commented on #760
https://github.com/mysociety/alaveteli/issues/6155

[2021-03-10 00:16] benrfairless commented on #760
https://github.com/mysociety/alaveteli/issues/1555

[2021-03-10 00:16] #760 closed, assigned to nobody

[2021-03-10 04:58] katska commented on #785
yes! when are you available?

[2021-03-10 04:59] benrfairless commented on #785
Let's move this chat to Slack :)

[2021-03-10 09:05] katska commented on #765
https://docs.google.com/spreadsheets/d/19aZYflCFZFev-i2JyMu_FIboYXe0kDjS03SKFSylqN0/edit#gid=0

[2021-03-11 00:44] mlandauer opened #788 "Example authority on pro "Add authorities to your batch" needs localisation"
Currently
![image](https://user-images.githubusercontent.com/2221/110718401-0443fa80-825f-11eb-968f-243e6a7b2fce.png)

Should "Cabinet Office" to something more sensible for Australia

[2021-03-16 04:39] katska commented on #778
@mlandauer are we calling this done?

[2021-03-16 04:43] mlandauer commented on #778
Yes!

[2021-03-16 04:43] #778 closed, assigned to katska

[2021-03-22 04:44] #788 closed, assigned to mlandauer

[2021-03-22 23:26] katska commented on #786
Below screenshots and short introductory explanations.

Contrast ratios recommended by WCAG - over 4.6:1, over 3:1 for large text, and not applicable for logos.
https://webaim.org/resources/contrastchecker/

checking with the WCAG - Contrast checker, we see the following results, which are not unexpected, I think.

https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html
I fi

[2021-03-23 00:15] katska opened #791 "remove 'new to professional' section on pricing page"
https://www.test.righttoknow.org.au/pro/pricing

Includes a statement about what's new in pro. Since all of pro is new to Australia there's no need to highlight a a specific feature

"New to Professional – Batch

Make a request to multiple authorities and manage the responses.
"

[2021-03-23 00:33] mlandauer opened #792 "Add referral coupon"
Add referral coupon so that current users of Pro can give the code to other people to get a discount. Useful for publicity

[2021-03-23 00:35] mlandauer commented on #763
I think we've settled on an image for now

[2021-03-23 00:35] #763 closed, assigned to mlandauer

[2021-03-23 00:38] mlandauer commented on #756
This is what it looks like now in the new theme currently on staging:
![image](https://user-images.githubusercontent.com/2221/112075249-40b31700-8bcc-11eb-8d4d-251af2d81dc1.png)

[2021-03-23 00:38] #756 closed, assigned to nobody

[2021-03-23 00:42] katska commented on #765
updating on the google sheet

[2021-03-23 00:42] #765 closed, assigned to katska

[2021-03-23 00:54] katska opened #793 "Write blog post for public launch - why we're doing this, what is new and why it's important"
See also https://www.mysociety.org/tag/whatdotheyknow-pro/

[2021-03-23 03:18] mlandauer opened #794 "Add "Pro" page to the navigation?"
Is "Pro" just a little bit too hard to find right now?

[2021-03-23 03:19] mlandauer opened #795 "Provide alternate way of seeing the Pro terms and conditions"
On signing up to Pro we should say that these terms are also available on the site at ....

This would be a good upstream fix

[2021-03-23 03:19] mlandauer opened #796 "Review Pro email templates"
Because we haven't checked that they all make sense for our context

[2021-03-23 03:21] mlandauer opened #797 "Replace clapping hands image on Pro dashboard todo"
Replace clapping hands on Pro dashboard with sunshine image

The hands are probably white and they don't even particularly look like they're clapping

[2021-03-23 03:23] mlandauer opened #798 "Is $45 the right price for Pro?"
Is $45 per user per month price too high for Pro? In the intro text we talk about it being affordable on a tight budget - is that really true at that price?

[2021-03-23 03:27] mlandauer opened #799 "Send out teaser Tweets"
"something exciting is coming next week"

[2021-03-23 03:28] mlandauer commented on #749
We've pretty much done all the work for this except for updating the help pages and launching it in production. So, closing this.

[2021-03-23 03:33] katska commented on #785
Following a conversation with @mlandauer today, I suggest as much clarity as we can give around the principle of defending personal information. Replace 'We take your privacy seriously. We will use the personal data that you provide to us solely for the purpose of administering the service, and we will not disclose it to anyone else unless we are obliged to by law."
with
"We take your privacy seri

[2021-03-23 03:44] katska commented on #799
a document is ready here https://drive.google.com/drive/u/1/folders/0AIx7lTJiGDqDUk9PVA

[2021-03-23 05:01] katska commented on #799
Using https://favicon.io/favicon-generator/ with

Zilla Slab | #ffffff | #25d9ed
Font FG.BG colours

as a first pass

Also uploaded to https://drive.google.com/drive/u/1/folders/0AIx7lTJiGDqDUk9PVA in favicon_io-2 folder
[about.txt](https://github.com/openaustralia/righttoknow/files/6186961/about.txt)
![android-chrome-512x512](https://user-images.githubusercontent.com/1001129/112095497-b6c97500-8b

[2021-03-23 05:07] katska commented on #762
first pass - round one!

![android-chrome-192x192](https://user-images.githubusercontent.com/1001129/112096116-cb5a3d00-8bf1-11eb-84ed-1302d633adf6.png)
![android-chrome-512x512](https://user-images.githubusercontent.com/1001129/112096125-cdbc9700-8bf1-11eb-8723-6a68d2df4a9c.png)
![favicon-16x16](https://user-images.githubusercontent.com/1001129/112096130-d01ef100-8bf1-11eb-906f-ad77b67a4775.png)

[2021-03-23 05:07] katska commented on #762
[favicon_io-2.zip](https://github.com/openaustralia/righttoknow/files/6186991/favicon_io-2.zip)

[2021-03-23 05:08] katska commented on #762
also here https://drive.google.com/drive/u/1/folders/0AIx7lTJiGDqDUk9PVA

[2021-03-23 05:08] mlandauer commented on #762
@katska I like except we're not using a round design element anywhere else so it feels a little out of place. Can we just go for a square in the colour instead?

[2021-03-23 05:13] mlandauer commented on #762
Used the following settings:
![image](https://user-images.githubusercontent.com/2221/112096536-98647900-8bf2-11eb-939c-92c0ec50bc4e.png)

To make:
![android-chrome-192x192](https://user-images.githubusercontent.com/2221/112096506-84b91280-8bf2-11eb-97c8-67104546fe22.png)

[2021-03-23 05:18] katska opened #800 "create new twitter icon"
use the fav-icon?

[2021-03-23 05:31] mlandauer commented on #796
Here are places to look:
* https://github.com/mysociety/alaveteli/tree/develop/app/views/alaveteli_pro/account_mailer
* https://github.com/mysociety/alaveteli/tree/develop/app/views/alaveteli_pro/embargo_mailer
* https://github.com/mysociety/alaveteli/tree/develop/app/views/alaveteli_pro/metrics_mailer
* https://github.com/mysociety/alaveteli/tree/develop/app/views/alaveteli_pro/subscription_maile

[2021-03-23 05:34] katska commented on #799
https://twitter.com/RightToKnowAu/status/1374228704503627783

[2021-03-23 05:44] katska commented on #796
The wording looks good to me. I don't see any issues from the perspective of UK > Aus or wording that looks odd. There are links out to stripe payment that I'll assume work, or that are tested elsewhere.

[2021-03-23 23:27] mlandauer commented on #762
Added in https://github.com/openaustralia/righttoknow/commit/f556bd31618dc650ccfe0e1cf15aea01f983adc5

It looks like the main favicon is working but at least the ios one (when adding to your homescreen) isn't working

[2021-03-23 23:28] mlandauer commented on #762
Ah just a thought. I wonder if that might be related to the simple auth protecting the staging site

[2021-03-23 23:35] mlandauer commented on #762
Temporarily disabled simple auth and now the ios icon works. So, I'm closing this

[2021-03-23 23:35] #762 closed, assigned to katska

[2021-03-23 23:43] mlandauer commented on #796
Looks done then

[2021-03-23 23:43] #796 closed, assigned to nobody

[2021-03-24 02:59] katska opened #801 "remove OKFNAU from supporting orgs"
Appartently OKFN isn't really around now
Spoke with Nicholas Gruen, who was the chair, and our contact there today.
He suggested catching up with Stephen de Costa, but OKFN's last tweet was 2019.
https://twitter.com/OKFNau/with_replies

[2021-03-24 05:10] mlandauer commented on #798
@katska had a little investigate to see what other tools for journalists are out there. After some discussion we decided that $45 per user per month was a reasonable place to start with the pricing. We'll likely be offering discounts to people that we invite anyway so we can use those discounts to understand what pricing works. So, I'm closing this ticket for now.

[2021-03-24 05:10] #798 closed, assigned to nobody

[2021-03-24 05:15] #801 closed, assigned to nobody

[2021-03-24 06:09] katska opened #802 "offer discount to MEAA for RightToKnow Pro"
We want to offer a discount to the MEAA members
Maybe the want to be a supporting org?

I've messaged them today on fb. https://www.facebook.com/withMEAA

[2021-03-25 00:26] mlandauer commented on #794
This is done now

[2021-03-25 00:26] #794 closed, assigned to nobody

[2021-03-25 00:27] mlandauer opened #803 "Display of attachments not working"
Display of attachments seems to not be working as expected. Images aren't always properly displaying and the header doesn't have the logo or expected styling

[2021-03-25 00:28] mlandauer commented on #761
The opengraph logos are now done.

There is still an issue with the display of attachements but a new issue has been opened for that (#803)

[2021-03-25 00:28] #761 closed, assigned to katska

[2021-03-25 01:14] mlandauer commented on #785
After discussion with @katska we decided instead to just change the word "obliged" to "compelled" and leave the rest of the change out. The reason is that from a user perspective all that really matters is that we're saying that their personal information might be disclosed to a third-party if we're forced to by law to do that but otherwise we won't. All the extra words didn't really change that m

[2021-03-25 01:18] #785 closed, assigned to katska

[2021-03-25 01:59] katska commented on #802
I've messaged them via facebook

[2021-03-25 02:08] katska commented on #791
More specifically - remove the separate section highlighting this change...
<img width="950" alt="Screen Shot 2021-03-25 at 13 06 45" src="https://user-images.githubusercontent.com/1001129/112407937-0338c000-8d6b-11eb-9891-4c9bbff04c23.png">

Add the wording
 "Make a request to multiple authorities and manage the responses." in the bulleted list of features
 to the next list...

<img width="1045"

[2021-03-25 05:12] #791 closed, assigned to mlandauer, katska

[2021-03-25 05:32] katska opened #804 "write a piece to share with journalists"
here it is

Introducing RightToKnow Pro For Journalists

Hello esteemed member of the forth estate. We're relying on you to keep the bastards honest! Now you can rely on us to help!

Since we launched RightToKnow we’ve regularly heard from journalists like you who would love to use RightToKnow, but need to keep Freedom of Information (FOI) requests under wraps.

We’ve listened to you, as a journal

[2021-03-25 06:09] katska opened #805 "writing: announcing Right to Know Pro for pros"
RightToKnow For Researchers, Academics, Campaigners, Journalists and FOI professionals.

Since we launched RightToKnow we’ve regularly heard from journalists, who would love to use RightToKnow, but need to keep Freedom of Information (FOI) requests under wraps until a story comes together.

We also know it’s not only journalists who need to work carefully through the issues of complex FOI requests

[2021-03-29 01:36] mlandauer commented on #749
We haven't managed to update the help text to the level that I had hoped yet but otherwise everything on this is now done to the level that it's deployed to staging and we will do the final deploy to production tomorrow for the public launch of the new theme and Pro. So, I think it's fair to say that we can close this issue

[2021-03-29 01:36] #749 closed, assigned to mlandauer

[2021-03-29 01:38] mlandauer opened #806 "Add "Batch Requests" to "Featuring" on Pro Pricing page"

[2021-03-29 01:38] mlandauer commented on #806
After looking at this again since we have batch as a feature in the more detailed list below and the featuring list at the top is super broad I don't think we should add it. So, closing this as a "won't fix"

[2021-03-29 01:38] #806 closed, assigned to nobody

[2021-03-29 03:49] mlandauer opened #807 "Advice on pro request page only applies to federal authorities"
"Remember public authorities have 30 calendar days to respond to FOI requests" on Pro make a request page - wording is wrong

[2021-03-31 09:40] benrfairless opened #808 "Remove batch request feature from free users"
Remove batch request feature from free users, now that we support it in Pro.

We will need to notify these users that we have done this and it's now available in our pro product.

[2021-04-07 01:50] mlandauer commented on #802
We were recommended to offer this to Walkley Foundation instead. Fingers crossed we'll get something in their newsletter going out Thursday.

[2021-04-07 02:17] katska opened #809 "offer bursary based on success of RTK Pro"
When X number of Pro users sign up, share that success, by offering a special free account for X amount of time.
Let the Pro users know that when they sign up they are also helping someone else get started.
Add this information to Right to Know also

[2021-04-07 02:19] katska opened #810 "Figure out how codes should be created for busaries"
see #809, should these be individual, based on the awarded Pro user?

[2021-04-09 01:04] mlandauer commented on #802
Was included in the Walkley newsletter. See https://mailchi.mp/7860bf2e2aa7/apr-08-2021-walkley-newsletter?e=334e10f109

[2021-04-09 01:04] #802 closed, assigned to katska

[2021-04-09 01:27] katska opened #811 "make a free offer for Aboriginal and Torres Straight Islanders for Pro"
Consisting of
[] Create a code
[] make** a list of people to contact initially
[] write to them with the offer

[2021-04-13 02:27] mlandauer commented on #799
Done

[2021-04-13 02:27] #799 closed, assigned to mlandauer, katska

[2021-04-14 05:59] benrfairless commented on #808
I tried to find these people using `bundle exec rails console` but I couldn't find the relevant folder to perform the task in anymore (it used to be `/srv/www/production/current` but I'm getting an error when I try to run it in there.

@mlandauer can you point me in the right direction on how I can get into the console? I can then run the searches and email the users in question.

[2021-05-24 03:01] katska opened #812 "fix mobile usability reported by google"
We received the following:

Mobile Usability issues detected on righttoknow.org.au

To the owner of righttoknow.org.au:

Search Console has identified that your site is affected by 1 Mobile Usability issues:

Top Issues

The following issues were found on your site:

Viewport not set

We recommend that you fix these issues when possible to enable the best experience and coverage in Google Search.

[2021-12-01 09:46] katska opened #813 "add GST to RightToKnow Pro pricing"
As of 22/11/2021 we're voluntarily registered for GST
So we need to update our prices to include it
https://www.righttoknow.org.au/pro/pricing
Price = $45 + 10% GST

[2022-08-23 03:14] katska opened #814 "Create "I've been asked to amend my request or else it will be refused" status"
Someone using the site who's an experienced FOI requester, asks that we have another status that makes an intent to refuse more obvious and accountable.

Having an "intent to refuse" is an extremely valuable tag that's worth adding, since it later allows the easy search for departments which are using this approach to cover up misbehaviour.

[2022-08-23 03:19] katska commented on #814
catch up with the person who reported this issue in October

[2022-08-24 02:02] katska opened #815 "link to australian webguide broken"
The [Australian Government Webguide](http://webguide.gov.au/accessibility-usability/accessibility/pdf-accessibility/)

shown on https://www.righttoknow.org.au/help/officers

[2022-09-05 07:29] katska opened #816 "show content of PDF responses"
Come up with a better way to display content from responses buried in PDFs?

"Have you considered "in-lining" PDF and other responses, maybe within iframes?  It's quite difficult at the best of times to follow what's going on, and making everyone jump through hoops to see attachments on a web page is a user experience that might be improvable?"

<img src="https://front.com/assets/img/favicons/favi

[2022-10-04 23:21] katska opened #817 "Internal review information link broken"
The URL for the[ Federal Information Commissioner](http://www.oaic.gov.au/freedom-of-information/foi-reviews) on this page: https://www.righttoknow.org.au/help/unhappy/correspondence_regarding_foi_req doesn't work any more.

<img width="735" alt="Screen Shot 2022-10-05 at 10 30 38 am" src="https://user-images.githubusercontent.com/1001129/193949204-3cd840f7-494a-47f7-8bfd-860df7a1a1a4.png">

Proba