[2014-05-13 03:01] kat commented on #317
data.gov.au confirm they're rolling in the foi-able agencies we list on the site in their next update to their 'list of known foi disclosure logs' dataset - see conversation at https://data.gov.au/dataset/list-of-known-foi-disclosure-logs - the site states they're reviewing this list monthly and the last review was about a month ago so fingers crossed we should see an update fairly soon.

[2014-05-13 16:28] benrfairless opened #343 "Upgrade to Alaveteli 0.18"
Changes at: https://github.com/mysociety/alaveteli/blob/release/0.18/doc/CHANGES.md

I suggest we get the upgrade working and then work on getting this responsive stylesheets working.

[2014-05-13 17:04] benrfairless commented on #342
@StevenRoddis The entire blog I'm afraid isn't working - https://www.righttoknow.org.au/blog. I think that @henare is suggesting we need to upgrade Ruby to the latest version to fix this.

[2014-05-17 03:52] benrfairless opened #344 "Authority Pages aren't updating with new requests"
https://www.righttoknow.org.au/body/asada isn't showing https://www.righttoknow.org.au/request/afl_asada_joint_investigation_fr, and it should. Guessing this is a cache issue?

[2014-05-17 14:18] benrfairless commented on #343
Pull request to update Staging to 0.18 - https://github.com/openaustralia/alaveteli/pull/4

[2014-05-17 14:21] benrfairless commented on #343
Theme Updates for 0.18 into staging (all else seems to work fine) - https://github.com/openaustralia/righttoknow/pull/345

[2014-05-18 06:21] henare commented on #344
It's showing for me [now].

Closing as a duplicate of #313 since they seem to be the same problem.

[2014-05-18 06:21] #344 closed, assigned to nobody

[2014-05-19 22:24] henare opened #346 "FOI suggestion site"
Create a site that allows people to submit suggestions for FOI requests when, for whatever reason, they can't or don't want to submit one via RTK themselves.

The suggestion would then be made public and someone else could submit the request on their behalf.

[2014-05-20 02:48] fuzzyroddis commented on #342
I'm not sure upgrading Ruby will fix the issue I reported, I suspect upstream should implement a filter  to convert `U+C2A0` into `U+0020` (which is a regular space)

[2014-05-22 22:13] henare commented on #313
Closing as a duplicate of #259

[2014-05-22 22:13] #313 closed, assigned to nobody

[2014-06-06 01:58] henare opened #347 "Magnifying glass missing from search field"
I guess it was the recent theme upgrade.

[2014-06-06 05:37] kat commented on #317
latest news "DGA_Custodian Mod  kat • 5 hours ago
Hi Kat, thanks again for the suggestion. Just letting you know that we used the list you provided to substantially increase the amount of entries in this dataset.

Kind Regards,
Allan, data.gov.au team."

There are now 155 FOI disclosure logs, but this is a subset of what we need as a dataset for the list of FOI-ables, so I don't think it fits our

[2014-06-06 05:37] #317 closed, assigned to kat

[2014-06-08 04:04] benrfairless opened #348 "STAGING - Contact Form is Broken"
When attempting to use the contact form in staging, I get the below response:

[code]

[2014-06-08 04:53] henare commented on #348
Nice catch!

App backtrace:

[code]

[2014-06-08 05:08] henare commented on #348
It's because we're missing a field in our theme: https://github.com/openaustralia/alaveteli/blob/56692a92463c37eaddde7c712a182f1ee8000421/app/views/help/contact.html.erb#L68-L71

[2014-06-08 05:13] benrfairless commented on #348
Is there any real difference between Alaveteli base and our themes?

Edit: I can't find one - Should we simply nuke our contact form and use the one in Alaveteli code (instead of our theme)

[2014-06-08 05:24] #348 closed, assigned to henare

[2014-06-08 05:26] henare opened #349 "Remove pages that aren't different from upstream"
It's worth doing this as we start to get the benefits of improvements and fixes from upstream, e.g. there was both an improvement and bugfix on the contact page we got as part of #348.

[2014-06-08 06:01] benrfairless commented on #349
I'll work on this tonight

[2014-06-08 06:13] henare commented on #349
:sparkling_heart:

[2014-06-08 09:13] benrfairless commented on #343
Update Completed! :star:

[2014-06-08 09:13] #343 closed, assigned to benrfairless

[2014-06-08 16:06] benrfairless commented on #349
I've started work on this in https://github.com/openaustralia/righttoknow/tree/issue-349

[2014-06-08 16:59] benrfairless opened #352 "Email Disclaimer is too long"
Current Email Disclaimer looks like this:

<i>Please use this email address for all replies to this request:
[FOI Request Address] @righttoknow.org.au

<i>Is [FOI Contact Address] the wrong address for Freedom of Information requests to Right to Know? If so, please contact us using this form:
http://test.righttoknow.org.au/change_request/new?body=rtk

<i>Write your response as plain text. Only sen

[2014-06-08 17:01] benrfairless commented on #352
I'm considering migrating the files from https://github.com/mysociety/alaveteli/tree/master/app/views/outgoing_mailer to https://github.com/openaustralia/righttoknow/tree/production/lib/views/outgoing_mailer to be able to manipulate the files more, but this would go against the idea of #349

[2014-06-08 19:11] benrfairless opened #354 "Viewing Attachments in HTML looks like rubbish"
Example: https://www.righttoknow.org.au/request/616/response/2048/attach/html/4/FOI%20letter%20and%20decision%20DIAMOND%200515.pdf.html

The bar across the top is grey, which means you can't see the RTK logo. I would suggest upgrading the CSS so that the top header bar is 00DCF0 and this should make the logo look consistent.

[2014-06-08 19:13] benrfairless commented on #349
will be fixed by #353

[2014-06-08 19:13] #349 closed, assigned to benrfairless

[2014-06-08 22:46] henare opened #356 "Allow others to deploy to staging"
I'm wondering how hard this would be.
- [ ] Create new user `deploy-rtk-test`
- [ ] chown the app directory files
- [ ] Add ssh keys to that user
- [ ] Reconfigure Capistrano to deploy using that user (easy, there's an Alaveteli config file for that)

Anything I've missed?

[2014-06-08 22:50] henare commented on #352
If you need to so we can customise the files then do it and if you don't...don't! :)

The idea is to have as few customisations as possible but that shouldn't get in the way of customising the things we want to.

[2014-06-09 02:34] benrfairless commented on #352
PR has been closed with no changes. The disclaimer has everything it needs to for the time being and won't be changing.

[2014-06-09 02:34] #352 closed, assigned to benrfairless

[2014-06-15 06:56] benrfairless opened #357 "STAGING - Logo is covered by the Nav Bar"
After deploying #353 the RTK logo is hidden by the Navigation bar:

![1](https://cloud.githubusercontent.com/assets/6841582/3280349/1adbfbe8-f45a-11e3-841e-c2ec204e1ac9.PNG)

[2014-06-15 06:58] benrfairless commented on #357
This file would look to be the culprit:
https://github.com/openaustralia/righttoknow/blob/f4da37993b9c91c5c974b15f07fe779c8d530a3f/lib/views/general/_topnav.html.erb

The Core (currently active) file is here:
https://github.com/openaustralia/alaveteli/blob/production/app/views/general/_topnav.html.erb

[2014-06-15 07:11] benrfairless commented on #357
The fix will be to restore this file: https://github.com/openaustralia/righttoknow/blob/f4da37993b9c91c5c974b15f07fe779c8d530a3f/lib/views/general/_topnav.html.erb

I'll do this tonight.

[2014-06-18 13:26] benrfairless opened #358 "Attention Requested emails aren't received"
We had 3 attention requested alerts in the console today, but I didn't receive any of them:

https://www.righttoknow.org.au/request/the_mdba_fact_sheet_all_about_th
https://www.righttoknow.org.au/request/the_mdba_fact_sheet_all_about_th_3
https://www.righttoknow.org.au/request/the_mdba_fact_sheet_all_about_th_2

However I get admin attention required emails when I send them from my account.

[2014-06-18 14:34] benrfairless commented on #357
Over to @henare to deploy to staging

[2014-06-18 23:27] henare commented on #357
Done.

[2014-06-22 05:08] henare commented on #358
I simply cannot reproduce this issue no matter what I try.

I'm going for group therapy: https://groups.google.com/forum/#!topic/alaveteli-dev/V3rFMaxuLb0

[2014-07-17 18:42] #357 closed, assigned to henare

[2014-07-30 07:47] equivalentideas opened #361 "Explain :display_status with :described_state in request api/advanced search docs"
It took me a little while to work out the relationship between `:described_state` and `:display_status` in the json versions of requests. Am I right that `:display_status` is just a human friendly version of `:described_state` ?

It could be good to add this information to the [Table of statuses](https://www.righttoknow.org.au/advancedsearch#statuses) so it's explicit.

Maybe that's not the best p

[2014-07-30 07:55] equivalentideas commented on #361
Also, are their requests in the system with the [full range of states available in Alaveteli](https://github.com/mysociety/alaveteli/blob/rails-3-develop/app/models/info_request.rb#L95-L110)?

[code]

[2014-07-30 08:02] benrfairless commented on #361
Answer to 2nd question - List of number of requests in each state:
![states](https://cloud.githubusercontent.com/assets/6841582/3746462/b4ad9e9c-17bf-11e4-90c4-a111cc4d2bd4.PNG)

[2014-07-30 08:10] equivalentideas commented on #361
Thanks for that @brfairless

[2014-07-30 08:12] benrfairless commented on #361
Just a heads up that you can't view requests marked `:not_foi` and `:vexatious` unless you are either an Admin or the original requester.

[2014-07-30 08:15] benrfairless commented on #361
Code for the Advanced Search is here: https://github.com/mysociety/alaveteli/blob/master/app/views/general/_advanced_search_tips.html.erb (We don't use a custom set of search tips in our instance).

[2014-07-30 08:20] equivalentideas commented on #361
Thanks thats helpful context.

Know what is that :not_foi state for?

[2014-07-30 08:22] benrfairless commented on #361
It looks like `:display_status` can be different from `:described_state`. If you look at this request (https://www.righttoknow.org.au/request/documents_relating_to_the_appoin) `:display_status = "Long Overdue"` (a calculation made by Right to Know based on the time it has been in the Described State) while `:described_state = "waiting_response"`.

Does that help?

[2014-07-30 08:33] equivalentideas commented on #361
Yeah, I noticed that on my side, but every request with the described_state "waiting_response" has "Long Overdue" was the display_status—so I assumed that was the designated 'display' version of that 'state'.

This is a bit of a doozy. I think it would make a worthwhile addition to rtk docs or upstream if we can get to the bottom of it. Do you recon it's worth leaving an issue up there?

[2014-07-30 08:36] benrfairless commented on #361
`:not_foi` is used by Administrators to hide requests which are clearly not FOI requests.

[2014-07-30 08:36] benrfairless commented on #361
This request isn't "Long Overdue": https://www.righttoknow.org.au/request/it_network_documentation_ipv4v6_20.json

[2014-07-30 08:43] benrfairless commented on #361
As we don't change anything from a statuses point of view I would suggest this go Upstream. But `:display_state` is different to `:described_state` as I've indicated above ;)

What does everyone else think?

[2014-07-30 08:51] equivalentideas commented on #361
Nice, that's great @brfairless .

Do :not_foi come through the api/if I want to hide them as well will I have to handle it on my end?

[2014-07-30 09:56] benrfairless commented on #361
It's an interesting status. If I just change the request to not_foi it is still visible. But if I use the admin function "This is not an FOI request" then it sets the visibility to "requester only" and then changes the status.

[2014-07-30 09:58] benrfairless commented on #361
@equivalentideas did you want to raise an upstream issue or shall I?

[2014-07-30 12:16] equivalentideas commented on #361
I can take it. I'll drop the link back here so you can jump in if you want.

[2014-08-07 07:36] benrfairless commented on #17
Steps needed to make this happen:
- [ ] Review the Help Pages to modify or remove any references to OAIC or Federal Government Laws
- [ ] Collate a list of ACT Government Authorities
- [ ] Add tags to Right to Know so that the authorities can be categories
- [ ] Test the changes in Staging to confirm no major bugs
- [ ] Have a drink when its deployed!

[2014-08-12 05:00] benrfairless commented on #361
Awesome. I'll close this then.

[2014-08-12 05:00] #361 closed, assigned to nobody

[2014-08-12 05:04] benrfairless opened #363 "/help/about Updates - ACT Requests"
Master issue: #17

Issue to discuss changes required to https://www.righttoknow.org.au/help/about in order to allow us to import ACT authorities.

File to change is located here: https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/about.html.erb

[2014-08-12 05:07] benrfairless commented on #363
Proposed Change to "What is Right To Know for?":

Old:

Proposed:

[2014-08-12 05:10] benrfairless commented on #363
Proposed Change to "Why would the public authority bother to reply?":

Old:

Proposed:

[2014-08-12 05:14] benrfairless opened #364 "/help/requesting Updates - ACT Requests"
Master Issue #17

Page is here: https://www.righttoknow.org.au/help/requesting

Code is here: https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/requesting.html.erb

[2014-08-12 05:21] benrfairless commented on #364
Updates to "I'm not sure which authority to make my request to, how can I find out?":

[Current](https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/requesting.html.erb#L42-L44):

Proposed:

[2014-08-12 05:57] benrfairless commented on #364
[Current](https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/requesting.html.erb#L58):

Proposed:
Remove this line from the Help Files

[2014-08-12 05:58] benrfairless commented on #364
[Current](https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/requesting.html.erb#L65-L67):

Proposed:

[2014-08-12 06:02] benrfairless commented on #364
[Current](https://github.com/openaustralia/righttoknow/blob/production/lib/views/help/requesting.html.erb#L81-L87):

Proposed:

[2014-08-22 10:54] benrfairless opened #365 "Update to 0.19"
https://github.com/mysociety/alaveteli/blob/release/0.19/doc/CHANGES.md#version-019
## Upgrade Notes
- Ubuntu Precise users can get an updated version of pdftk from mySociety's PPA

Install the repo and update the sources:

[code]

The mySociety pdftk package (`1.44-7~precise1ms1`) should now be the install
candidate:

[code]
- Install `lockfile-progs` so that the `run-with-lockfile` shell script

[2014-08-24 23:58] henare opened #366 ""I've been asked to pay" status"
When you get a response from an authority, RTK asks you what the status of your request is and promises that we'll tell you what to do next. However when you've been asked to pay something, none of the statues we offer quite fit and you're certainly not told what to do next.

What if we added a status, even a dummy one, that at least gives you some hints on what to do if you've been asked to pay?

[2014-08-25 00:07] benrfairless commented on #366
:+1:  Sounds like a good idea! I'm sure its possible, but need to read into figure out how

[2014-08-25 00:13] equivalentideas commented on #366
I think this is a good idea, it would be useful on the Detention Logs side to group by status and see what needs payment for the project.

##

Luke Bacon

http://equivalentideas.com

http://twitter.com/equivalentideas

+61 406566693

[2014-09-22 07:37] benrfairless opened #367 "Gmail addresses don't work with the contact form"
When sending a contact form from an @gmail.com address, the form is not received by contact@

This doesn't affect Google hosted services (Google for Work)

Tested with 2x seperate email addresses whilst logged in and as a guest on the site.

[2014-09-22 07:37] benrfairless commented on #367
I suspect this is caused by a spam prevention measure in the contact@ Google group. I'm not sure if we could engage Google to check spam prevention on their end?

[2014-09-22 07:50] henare commented on #367
Groups Admin had 15 pending messages. I've allowed them and they've come through.

I don't know why they were held back - the settings look good to me.

[2014-09-22 08:16] benrfairless commented on #367
is that something I can get access to that area for the contact group @henare? Would be nice to have for troubleshooting. Worth checking with Google to see if we can disable the "held" feature?

Glad we got most of the messages, will reply to them tonight.

[2014-10-15 10:45] benrfairless opened #368 "OAIC Links on Internal Review page are wrong"
The link for the "Information Commissioner Guidelines" on https://www.righttoknow.org.au/help/unhappy#internal_review directs to the following now dead link.

http://www.oaic.gov.au/publications/guidelines/guidelines-part9_guidelines-internal-review.html#_Toc287345402

The new link is as follows.

http://www.oaic.gov.au/freedom-of-information/freedom-of-information-archive/foi-guidelines-archive/p

[2014-10-15 13:11] benrfairless commented on #367
I've enabled all messages to come through to the group, and will look into it depending on spam levels.

[2014-10-15 13:12] #367 closed, assigned to nobody

[2014-10-16 03:19] luke-john opened #370 "Update (and monitor) external links"
Hi,

After noticing a couple of dead links yesterday, Ben Fairless kindly pointed me to the righttoknow github repo.

I've just run a script to check the status of any links under /lib/views and it looks like theres a number of outdated links.

The links are in the form filename linenumber url status
## Https security certificate expired
- [x] ./lib/views/help/credits.html.erb   42  https://www.ac

[2014-10-16 03:20] luke-john commented on #370
I'll have a look at trying to find replacements for 404's tonight and submit a pull request.

[2014-10-16 09:00] luke-john commented on #370
A number of the links no longer have anchors on the sections referred to.

Should I update the link text to include the section code or simply leave as is?

[2014-10-17 16:19] benrfairless commented on #370
Thanks for the issue and for identifying all those dead links @lukejohnosmahi!

On the OAIC links, I'm not sure if it's worth updating them at this stage due to the fact that OAIC will not exist from 31 December. I would suggest simply changing the links for those that are valid for now, unless someone else had an idea? ping @openaustralia/team-right-to-know

[2014-10-17 16:21] benrfairless commented on #370
On the HTTPS Security Certificate one, the best link would be http://ciudadanointeligente.org would be the best link I think for now.

[2014-10-19 03:49] luke-john opened #371 "OAICs guidelines role to be taken over by Attorney General"
I have contacted the Attorney Generals department seeking clarification on what will become of the current OAIC FOI guidelines¹.

Once a response is received the links and advice on the righttoknow website should be updated accordingly.
## Amendment²

[code]
## Current Act³

[code]

¹ http://www.oaic.gov.au/freedom-of-information/applying-the-foi-act/foi-guidelines/
² http://www.aph.gov.au/Parliam

[2014-10-19 03:51] luke-john commented on #370
So for the OAIC links they still have two months where those guidelines are "valid".

At which stage the AG will become the body in charge of providing guidelines, I've contacted the AG to ask if they intend on maintaining the current OAIC guidelines or starting from scratch.  I've created an issue to track this change #371.

I'll submit a separate pull request with the OAIC links updated as I thi

[2014-11-17 12:59] henare opened #372 "Remove gone postal status option"
We think it's never needed so it's an unnecessary option.

[2015-01-04 22:54] equivalentideas commented on #305
https://www.righttoknow.org.au/blog . I'm seeing the error:

[2015-01-11 01:31] henare opened #374 "Add They Vote For You to footer"

[2015-01-11 02:17] benrfairless commented on #374
Working on this now

[2015-01-11 02:23] henare opened #375 "Doesn't validate"
http://validator.w3.org/check?uri=http%3A%2F%2Frighttoknow.org.au%2F&charset=%28detect+automatically%29&doctype=Inline&group=0

[2015-01-11 03:29] benrfairless commented on #374
I've completed the work, however I need someone with access to the server to complete this. @henare can you push this out?

[2015-01-11 04:59] #374 closed, assigned to henare

[2015-01-13 09:32] benrfairless opened #378 "Update Twitter background"
Update the Twitter background, it's not very nice. Would the top of https://www.righttoknow.org.au/admin/stats look better?

![image](https://cloud.githubusercontent.com/assets/6841582/5718544/9db1515a-9b56-11e4-9160-19c2f2cccf91.jpg)

[2015-01-13 23:16] henare commented on #378
I agree.

I don't agree ;)

I quite like the concept of using a screenshot of the site but maybe doesn't work here. Or we could include pics of documents released or something?

Maybe @equivalentideas has some thoughts?

[2015-01-13 23:21] equivalentideas commented on #378
Could we do something with the data from the sight? Coloured grid for success of requests? something more about the awesome community?

[2015-01-13 23:25] henare commented on #378
I really like that - maybe a collage of user avatars?

[2015-01-16 07:31] benrfairless opened #379 "Update to 0.20"
Relies on #365. We really need to do this as the features in 0.19 (Spam prevention) and other benefits look really awesome!

[2015-01-16 10:50] benrfairless commented on #259
This was re-reported as an issue again by someone - https://www.righttoknow.org.au/request/liberal_democratic_party#comment-766

[2015-01-18 05:24] benrfairless commented on #370
Fixed by #381

[2015-01-18 05:24] #370 closed, assigned to benrfairless

[2015-01-18 05:24] benrfairless commented on #372
Fixed by #380

[2015-01-18 05:24] #372 closed, assigned to benrfairless

[2015-01-18 05:25] benrfairless commented on #368
Fixed by #381

[2015-01-18 05:25] #368 closed, assigned to benrfairless

[2015-01-18 07:36] benrfairless commented on #366
Do we still think this should be added? If so, I'll start working on it (probably next weekend at this point).

[2015-01-18 07:37] benrfairless commented on #371
It doesn't look like the OAIC is going anywhere anytime soon.

[2015-01-18 07:37] #371 closed, assigned to nobody

[2015-01-19 08:27] henare commented on #366
I think there's still some good ideas here to be explored.

We need to think about how this would work first so if you want to work on it, don't look at the code but instead map out how it will work. We can then all review that and then move on to engineering once we're agreed on a solution or way forward.

I hope that makes sense :)

[2015-01-19 08:29] henare commented on #371
:tada:

[2015-01-19 20:58] henare commented on #370
On minister's pages we've got out of date links to FOI guidelines at the OAIC too, e.g. https://www.righttoknow.org.au/body/minister_for_communications

[2015-01-19 23:19] benrfairless commented on #358
This was caused by the emails being incorrect classed as Spam I think, and was resolved by turning off spam protection on contact@righttknow. I wonder if we have white listed our outbound mail hosts in GApps - https://support.google.com/a/answer/60751?hl=en

[2015-01-19 23:19] #358 closed, assigned to nobody

[2015-01-19 23:26] henare commented on #358
How did we do that?

Yes, we do.

It would be awesome if you could update that Alaveteli thread @brfairless.

[2015-01-19 23:30] benrfairless commented on #366
It could work in a similar way to how failed requests work. When you select a status which indicates the request has failed, it redirects you to http://www.righttoknow.org.au/help/unhappy/ which provides advice on some next steps.

Some of the things we could mention are RE: being asked to pay include:
- Reduction on Public Interest Grounds
- Clarifying the request - Removing Drafts/Duplicates
- R

[2015-01-19 23:41] benrfairless commented on #358
You made me a manager on the Google Group, and I disabled Spam via the Google Groups page

Awesomeness Achieved :tada:

[2015-01-19 23:45] benrfairless opened #382 "Re-Enable Spam Protection on contact"
Due to the increasing rates of spam, I suggest we:
[ ] Change the "Spam Messages" setting in Groups > Manage Group > Settings > Moderation to <i> Send them to the Moderation queue and send notification to moderators </i>
[ ] Add everyone who needs to be alerted to the "Managers" group via Group > Manage Group > Roles > Roles so they receive notifications of spam

This will ensure that selected peo

[2015-01-20 00:08] henare commented on #358
My, my. I didn't know you could do that.

Legend :metal:

[2015-01-20 00:10] henare commented on #382
1. What spam?
2. Given we'll all be notified about pending messages, won't we still be getting a message for each spam message therefore defeating the purpose of this?

[2015-01-20 00:20] henare commented on #366
I've had a bit more of a think about this and discussed it with @equivalentideas.

This feature could be really useful in a lot of places so upstream might be interested in it. How about we email the list and see if anyone else is interested in this feature and if so we can open an issue/pull request on Alaveteli?

[2015-01-20 00:40] benrfairless commented on #382
All those people trying to Update the Anzac Centenary Advisory Board

I was hoping there would be a way to have it as a daily digest, so we wouldn't have this issue. Alas, Google isn't as nice as they want us.

[2015-01-20 00:40] #382 closed, assigned to nobody

[2015-01-20 00:48] henare commented on #382
Those emails are from Right To Know - we don't want them marked as spam! :)

[2015-01-20 01:17] benrfairless commented on #382
But they are being run by spambots, therefore we do want them blocked, no?

[2015-01-20 01:22] benrfairless commented on #378
That could be quite nice, but would we need our user's approval? I would mock something up, but I'm not really a designer-type

[2015-01-20 02:04] henare commented on #382
No - the emails are from us.

Instead we need to fix the form so it doesn't get used in that way (which is done in the latest Alaveteli, AFAIK).

[2015-01-20 02:06] henare commented on #378
I don't think so - they're publicly available.

[2015-01-20 02:24] equivalentideas opened #383 "Update the signup email policy"
This should let people know that we will email them occasionally about donations or other things related to improving the project.

[2015-01-20 02:45] benrfairless commented on #383
I can work on this tonight if you would like. We can change the wording to:

[2015-01-20 02:46] benrfairless commented on #383
We should also email our existing users to advise them of changes.

[2015-01-20 02:49] benrfairless opened #384 "Provide information on who is on the contact list"
On the OAF website (https://www.openaustraliafoundation.org.au/contact-us/who-do-the-emails-go-to/) we list the names of the people who receive emails sent to contact@oaf

Should we do the same for Right to Know?

[2015-01-20 02:55] henare commented on #384
Not a bad idea.

[2015-01-20 03:09] equivalentideas commented on #383
What about:

Would be nice to make it a bit friendlier

[2015-01-20 03:14] benrfairless commented on #383
I was going to put a bit about opt-out however I wasn't sure if we were going to support opt-out. I'm happy with Luke's change, so the full wording now is:

[2015-01-20 03:25] equivalentideas commented on #383
For clarity:

[2015-01-20 08:51] benrfairless commented on #383
Fixed by #385

[2015-01-20 08:51] #383 closed, assigned to benrfairless

[2015-01-20 08:58] benrfairless commented on #384
I've emailed the contact group to see if there are any objections

[2015-01-23 08:07] benrfairless opened #386 "No Mail Logs visible in Admin"
It appears that the Mail Logs in the Administrator console are no longer showing up. I can't find any after the 15th. Contrary to what Admin says, we used to see both incoming and outgoing logs.

[2015-01-23 22:36] henare commented on #386
I'm seeing mail logs after the 15th. There's some from yesterday on this request for example https://www.righttoknow.org.au/admin/request/show/820

Got an example @brfairless?

[2015-01-28 00:35] benrfairless commented on #386
Looks fixed now. Not sure what happened there, or if there is a delay in the logs being available :-)

[2015-01-28 00:35] #386 closed, assigned to nobody

[2015-01-28 00:40] henare commented on #386
They get loaded every hour at [31 minutes past the hour](https://github.com/openaustralia/alaveteli/blob/6d5d1f5618c4c7d297b0373941336f0603635593/config/crontab-example#L20-L21).

[2015-01-28 07:26] benrfairless opened #388 "Create a "Practical Refusal" category"
Same as #366 but for practical refusal.

[2015-01-28 23:18] henare commented on #388
My first reaction to this was, "let's not clutter the statuses with too many options for people" but on reflection I can see where you're coming from.

When people get a practical refusal it would be great to give them some options. Often agencies do this by all too often they don't.

At the moment our wonderful community often steps in and helps requesters. This is a really nice, personal touch.

[2015-01-28 23:28] #384 closed, assigned to nobody

[2015-01-29 02:46] kat commented on #312
that update was completed.

[2015-01-29 02:46] #312 closed, assigned to kat

[2015-01-29 02:48] kat opened #389 "2015 Cabinet reshuffle - update list of agencies/ministers"
Some agencies were abolished recently and there was a cabinet reshuffle. Related to #312

[2015-01-29 02:49] kat commented on #389
parliament is sitting again on Feb 9th so would be good to get most of this done by then.

[2015-01-29 02:54] henare commented on #312
:hibiscus: nice :hibiscus:

[2015-01-29 02:55] henare commented on #389
This could be helpful, it's the changes we had to make on OA.org https://github.com/openaustralia/openaustralia-parser/commit/a1855f29bb88ea6b36114682b0dc97728836e28c

[2015-01-29 03:08] kat commented on #389
thanks @henare - if only these could be related _somehow_

[2015-01-30 07:25] benrfairless opened #390 "Encourage Agenices to deal with requests informally"
In the template, we currently provide a Greeting and a salutation, unless it's an Internal review where we provide a bit more information.

Should we add the below (or something like it) to the user editable template on RTK:

[2015-02-01 05:59] benrfairless commented on #389
I'm going through off this list provided by the OAIC: https://www.righttoknow.org.au/request/foiable_agencies

I'll create a list of agencies which are on the OAIC list but not in RTK, then I'll compare whats in RTK but not on the OAIC list.

[2015-02-01 07:32] benrfairless commented on #389
Changes so far:

[2015-02-01 07:32] benrfairless commented on #389
I just need to remove or defunct the old stuff and we should be done.

[2015-02-01 20:39] henare commented on #389
Amazing :star2:

[2015-02-02 04:38] henare opened #391 "Create Ansible setup for deployment"

[2015-02-05 03:06] henare commented on #390
Most of the time it doesn't help asking agencies to do this anyway so I don't think we should add it because it's just more cognitive overhead for the requester.

[2015-02-05 03:17] benrfairless commented on #379
There are no theme changes required specifically to make it work, all the changes are in the general.yml file which are documented in the [release notes](https://github.com/mysociety/alaveteli/blob/rails-3-develop/doc/CHANGES.md)

[2015-02-08 12:32] benrfairless commented on #390
All good then, we will close the request :)

[2015-02-08 12:32] #390 closed, assigned to nobody

[2015-02-11 00:25] benrfairless commented on #388
@henare you are right. There are a few great people who jump in whenever a request gets too tricky to offer help and advice. That said, there are often differing reasons why a practical refusal reason might exist, and the agencies generally do a poor job on providing guidance.

They just say "call us and we can help" which removes the transperancy.

We could go down the path of creating a unique h

[2015-02-11 00:30] henare commented on #388
Would it be worth asking Locutus about this given her experience helping people?

Selecting a category sounds like a pain. It's hard enough getting people to categorise requests. Anything we can do to remove extra steps for people is a good thing.

:heart: I love this idea :heart:

[2015-02-11 02:29] benrfairless commented on #388
Raised Upstream: https://github.com/mysociety/alaveteli/issues/2155

[2015-02-11 02:29] #388 closed, assigned to nobody

[2015-02-12 01:20] kat opened #392 "update portfolio tags"
update these portfolio tags

education-and-training =Education and Training _was_ education=Education
industry-and-science=Industry and Science   _was_ industry=Industry
prime-minister=Prime Minister    _was_ prime_minister_and_cabinet=Prime Minister and Cabinet

[2015-02-12 01:27] kat opened #393 "update list of portfolios in the sidebar"
update list of portfolios in  righttoknow/lib/public_body_categories_en.rb
update portfolio tags in all agencies (see #392) first

[2015-02-13 01:27] benrfairless opened #394 "Heaps of spam users have been created"
I've found over 20 spam users in about 30mins of searching. We should probably  try and stop this.

[2015-02-13 03:53] benrfairless commented on #394
I've banned a heap of users now, it would appear that even when banned they can update their user profile, which shouldn't really be possible. I also can't delete the users out of RTK.

[2015-02-16 05:47] kat commented on #392
added education_and_training tag to those which were previously tagged education, using search https://www.righttoknow.org.au/admin/body/list?query=education very handy for when, as now, portfolio name changes and holds on to same authorities.

[2015-02-16 08:10] benrfairless commented on #392
Hi @kat,

I've got a list of all the portfolios here: https://github.com/openaustralia/righttoknow/blob/60430a6c11ba0915cb8a2a81c9daae0712a0eb02/lib/public_body_categories_en.rb

We had `education_employment_and_workplace_relations`, '`industry_innovation_science_research_and_tertiary_education` and `prime_minister_and_cabinet` as the current ones.

What I'm assuming you want is to:

Change `educa

[2015-02-16 08:46] benrfairless commented on #394
I've cleaned out all the ones I can find, hopefully this won't be much more of an issue. I would suggest when Alaveteli support No ReCAPTCHA (https://github.com/mysociety/alaveteli/issues/2162) that we upgrade to that, because frankly it works much better then existing captchas do.

[2015-02-16 08:46] #394 closed, assigned to nobody

[2015-02-16 08:51] benrfairless commented on #162
Bumping this as something to look at. @kat and I were discussing how to best do this. We should move away from using Portfolios as they change every 3 years and are good for Government, not for people.

[2015-02-16 08:59] kat commented on #162
cool @brfairless do feel like looking at the report @henare points to earlier in this issue and draw up an initial list. Seems like a good place to begin

[2015-02-16 09:00] benrfairless commented on #162
Some basic categories I came up with (in no particular order):
- Ministers and Assistant Ministers
- Defence
- Law and Order
- Immigration and Citizenship
- Digital
- Health
- Science
- Transport Infrastructure
- Foreign Relations
- Environment
- Finance
- Education
- Employment

I think almost everything at a federal level could be put into one or more of these categories!

[2015-02-16 09:11] kat commented on #392
(see #162 )

[2015-02-17 05:21] kat commented on #88
The government bodies list at finance.gov.au has been replaced by [Australian Government Organisations Register](http://www.finance.gov.au/resource-management/governance/agor/)  which appears to be updated more frequently and is downloadable :smile_cat:  as an .xls

[2015-02-17 05:22] kat commented on #88
the Australian Government Organisations Register xls is also listed at http://data.gov.au/dataset/australian-government-organisations-register

[2015-02-17 05:34] kat commented on #88
data.gov.au listing above has their latest update for this dataset marked as 2015-01-07 and update frequency listed as biennial. Compare to finance.gov.au list, which is marked as last updated yesterday.

[2015-02-17 05:35] #88 closed, assigned to nobody

[2015-02-17 10:52] kat commented on #17
I've uploaded ACT authorities to the staging server, but still have to work out how we should tag them usefully.

[2015-02-17 22:57] benrfairless opened #395 "Update all regional.gov.au email addresses to infrastructure.gov.au"

[2015-02-17 22:59] benrfairless commented on #395
Department email:

Please also be advised that the former Department of Regional Australia email address (FOI@regional.gov.au) is no longer utilised – although emails are still being redirected. Requests which relate to regional development and local government should be directed to FOI@infrastructure.gov.au.

[2015-02-18 07:53] benrfairless commented on #395
All fixed :cake: :stars:

[2015-02-18 07:53] #395 closed, assigned to nobody

[2015-02-20 15:07] benrfairless opened #396 "Update the CSS to be more "Mobile Friendly""
Over 40% of our users access RTK via mobile devices. We should make this experience better for them by changing the CSS to be more mobile friendly.

[2015-02-22 02:02] equivalentideas commented on #396
Just a note here that https://www.whatdotheyknow.com/ is using responsive design techniques to provide a better experience on small screens.

[2015-02-26 04:42] henare opened #397 "Work out how to neatly display references to the various laws around Australia"
In some places, mainly the help text, we need to be able to link to the various FOI laws around Australia.

For instance:

At first I thought we might be able to generalise the sentence and remove the references and links to the laws:

But it turns out it's nice to be able to link to the different legislation because it allows people to learn more if they so choose. This is especially true where w

[2015-02-26 04:45] henare commented on #391
This is happening over at https://github.com/openaustralia/infrastructure

[2015-02-26 04:45] #391 closed, assigned to nobody

[2015-02-26 04:50] henare commented on #291
We've done this, e.g. https://www.righttoknow.org.au/body/asio

[2015-02-26 04:50] #291 closed, assigned to nobody

[2015-02-26 04:51] henare commented on #264
Duplicate of #308

[2015-02-26 04:51] #264 closed, assigned to nobody

[2015-02-27 01:02] benrfairless opened #398 "Purge Requests for Personal Information"
While I feel we should be helpful to people who want to use FOI to release personal information, there is a risk that we could end up holding personal information that we really shouldn't (such as health info).

I think we should:
- [ ]  review all hidden requests for personal information
- [ ] email a copy of the request to the person making it
- [ ] delete the requests using the Purge function i

[2015-02-27 01:09] #398 closed, assigned to nobody

[2015-02-27 04:13] #363 closed, assigned to nobody

[2015-02-27 04:27] henare opened #399 "Add ACT to list of authorities covered"
https://www.righttoknow.org.au/help/requesting#missing_body

[2015-02-27 04:59] henare opened #400 "Add ACT FOI process nitty gritty"
https://www.righttoknow.org.au/help/requesting#ico_help

This seems like a good place to add links off to help for different states.

[2015-02-27 05:09] henare commented on #363
Thanks for all your work on this and #364 @brfairless. All the generalised bits are now deployed, woo! :rocket:

I've split the ACT specific stuff out into issues we can address just before we deploy ACT, e.g. #399

[2015-02-27 05:34] henare commented on #400
@brfairless has got some good stuff here https://github.com/openaustralia/righttoknow/pull/341/files#diff-8f9238e7bfd73767ef75ff6b7758e1f4L277

[2015-02-27 07:43] kat opened #402 "federal authority pages broken on staging branch"
When I select a Federal Authority from its name on this page http://test.righttoknow.org.au/body/list/federal on the staging branch I get the following error.

Sorry, there was a problem processing this page

You have found a bug. Please contact us to tell us about the problem
Technical details

NoMethodError

undefined method `[]' for nil:NilClass

This is one of the ones I just uploaded.

[2015-02-27 10:14] kat opened #403 "tag appears as authority name in staging branch"
recently uploaded list of federal agencies threw up tag this as an authority

 health foi_yes federal minister directory_gov_au oaic_report_2011_2012 github_316

it's the last entry in the [list of Ministers](http://test.righttoknow.org.au/body/list/minister)

[2015-02-27 11:02] benrfairless commented on #399
Fixed in #404

[2015-02-27 11:03] benrfairless commented on #403
I think something has broken while doing the uploads via CSV, as that authority doesn't appear to have been created properly (also explains #402). I think this is going to be something on the staging server we need to address...

[2015-02-27 11:06] benrfairless opened #405 "Changes in Staging don't reflect what's in Github"
There are category changes in Staging which don't mirror up with what I see in Github. I'm not sure if this is causing issues with the authorities issues which have been raised in staging.

[2015-03-02 00:26] henare commented on #396
Assigned to @equivalentideas to get our theme working with Alaveteli's new [responsive styling](https://github.com/mysociety/alaveteli/blob/rails-3-develop/config/general.yml-example#L769-L777) **without** changing the design.

[2015-03-02 01:29] benrfairless opened #406 "Change preview bar"
The preview as HTML bar doesn't show the logo well. We should change the top bar to be a different colour (probably the same blue as the background)

[2015-03-02 01:34] equivalentideas commented on #406
Could you please add a screen shot of what you mean? @brfairless

[2015-03-02 01:46] henare commented on #405
@kat and I [are testing](https://oaf.slack.com/archives/hackerspace/p1425020890000260) another [branch](https://github.com/openaustralia/righttoknow/tree/category-changes).

[2015-03-02 01:46] #405 closed, assigned to nobody

[2015-03-02 01:52] benrfairless commented on #406
Can't on mobile, but it's the top bar of this page: https://www.righttoknow.org.au/request/831/response/3195/attach/html/3/Document%201.pdf.html

[2015-03-02 01:53] henare commented on #406
Duplicate of #354?

[2015-03-02 02:54] benrfairless commented on #406
Correct! Thanks @henare

[2015-03-02 02:54] #406 closed, assigned to nobody

[2015-03-02 04:05] henare commented on #402
A category description is mandatory so I've added this now.

[2015-03-02 04:05] #402 closed, assigned to henare

[2015-03-02 05:05] equivalentideas commented on #396
Ok, so flicking `RESPONSIVE_STYLING:` to `true` in general.yml , makes the layout flexible, but it stops loading custom.css so it breaks some of the layout and all the type and colour styles:
![screen shot 2015-03-02 at 4 04 26 pm](https://cloud.githubusercontent.com/assets/1239550/6435617/dd4f0cc0-c0f5-11e4-8658-0ed938f4c433.png)

I'm going to look at how custom.css gets loaded and make that stic

[2015-03-02 05:36] equivalentideas commented on #396
As a test I added `*= require custom` to `responsive/application.css` to see what happens when you combine our custom css with the responsive css:

![screen shot 2015-03-02 at 4 32 23 pm](https://cloud.githubusercontent.com/assets/1239550/6435843/2a991cf6-c0fa-11e4-924e-5d1a46499982.png)
![screen shot 2015-03-02 at 4 33 58 pm](https://cloud.githubusercontent.com/assets/1239550/6435844/2a9d6072-c0f

[2015-03-02 06:19] equivalentideas commented on #396
Following the instructions at http://alaveteli.org/docs/customising/themes/#changing-other-styling I replaced the theme `responsive/custom.scss`.

[2015-03-02 07:09] equivalentideas commented on #396
Major difference areas that need fixing are:
- [x] Header
  - [x] make the logo more appropriately sized on small screens.
  - [x] set the search form at the top of the page on wide screens
- [x] Basic max-width of the site (responsive default: 65em, righttoknow: 56.25em)
- [x] button styles
- [x] sidebar list style
- [x] match type sizes
  - [x] authority lists
  - [x] request lists
    - [x] ver

[2015-03-02 08:22] kat commented on #403
my bad. Fixed now.

[2015-03-02 08:22] #403 closed, assigned to nobody

[2015-03-02 08:26] kat commented on #392
done!

[2015-03-02 08:26] #392 closed, assigned to benrfairless

[2015-03-02 09:04] henare commented on #392
:tada:

[2015-03-02 09:05] henare commented on #393
All done I think.

[2015-03-02 09:05] #393 closed, assigned to nobody

[2015-03-02 09:21] benrfairless commented on #354
Addressed in #407

[2015-03-02 09:21] #354 closed, assigned to benrfairless

[2015-03-02 11:06] kat commented on #312
closed with #162 - til next time

[2015-03-02 22:46] equivalentideas commented on #396
Another component to this is that the header and footer are different html partials than the ones currently used in our theme.

The immediate standout is the search bar that comes before the logo and header nav in the static partials, is at the bottom of the nav menu in the responsive partials.

[2015-03-03 03:26] henare commented on #399
I'm reopening until we're ready to merge #404

[2015-03-03 04:44] henare opened #410 "Update outgoing mail footer so it makes sense when ACT is covered"
@brfairless had a first go in #408.

[2015-03-03 06:03] #347 closed, assigned to nobody

[2015-03-04 04:15] henare commented on #399
Fix consolidated into #413.

[2015-03-04 04:15] #399 closed, assigned to nobody

[2015-03-04 04:50] henare commented on #400
I've added this to #413.

[2015-03-04 04:50] #400 closed, assigned to nobody

[2015-03-04 05:20] henare commented on #410
I've proposed a more bold/controversial solution in #414.

[2015-03-04 05:28] henare commented on #217
wontfix

[2015-03-04 05:28] #217 closed, assigned to nobody

[2015-03-04 05:29] equivalentideas opened #415 "Simplify body list styles"
The list item dot points in the [body list (Authorities side bar)](https://www.righttoknow.org.au/body/list/all?post_redirect=1) are a very noisy way to make the separation between list items clear:

![screen shot 2015-03-04 at 4 23 38 pm](https://cloud.githubusercontent.com/assets/1239550/6478615/0220f612-c28b-11e4-99a3-de713eec99ef.png)

We could move to the default styles in the Alavateli respo

[2015-03-04 06:05] henare commented on #182
If you add the tag `not_apply` Alaveteli does this for you, e.g. https://www.righttoknow.org.au/body/asio

As far as I know this is done for all the exempt authorities we cover.

[2015-03-04 06:09] henare commented on #234
Fixed upstream and now being implemented on our theme as part of #396.

[2015-03-04 06:09] #234 closed, assigned to nobody

[2015-03-04 06:10] henare commented on #238
Almost certainly #259.

[2015-03-04 06:10] #238 closed, assigned to nobody

[2015-03-04 06:12] henare commented on #240
I haven't seen this so I'm closing as cannot reproduce.

[2015-03-04 06:12] #240 closed, assigned to nobody

[2015-03-04 06:15] henare commented on #247
I don't think we want this kind of restriction implemented so I'm closing as wontfix.

[2015-03-04 06:15] #247 closed, assigned to nobody

[2015-03-04 06:16] henare commented on #248
There's no such thing as a private response so I think this is just a misunderstanding of the functionality. Closing as wontfix.

[2015-03-04 06:16] #248 closed, assigned to nobody

[2015-03-04 06:22] henare commented on #293
I've seen agencies claim you can only request a fees reduction or waiver _after_ a charges notice has been issued.

I'm closing as wontfix until we come up with a compelling reason to include this.

[2015-03-04 06:22] #293 closed, assigned to nobody

[2015-03-04 06:24] henare commented on #301
I can't see this in the current feed so I'm closing as cannot reproduce.

[2015-03-04 06:24] #301 closed, assigned to nobody

[2015-03-04 06:41] benrfairless commented on #182
Nope. I added that manually. ASIO doesn't have not_apply on it because it prohibits requests I think.

[2015-03-04 06:44] henare commented on #182
Oh nice work - I didn't even realise it was part of the notes description!

Why did you reopen this? Do you think there are ones we need to check?

[2015-03-04 10:52] benrfairless commented on #182
I re-opened it because I wasn't sure. I'll do a quick check for the obvious ones. I wouldn't mind being able to use not_apply to provide a generic description, but still allow FOI requests to them, but I think that's going to be a "too hard" one for our theme.

[2015-03-04 11:30] benrfairless commented on #212
This needs to be done by an OA Director, I can't do this

[2015-03-04 11:32] benrfairless commented on #244
the new Responsive Theme has this in it now. We should wait for #396 to be done and then look to implement this!

[2015-03-04 22:33] henare commented on #182
Brilliant, thanks!

Yeah it's such a small number of authorities it's not worth it, especially when you can add a nicely formatted notice like you came up with.

[2015-03-05 00:20] henare commented on #212
I've reviewed the memorandum that we'd be agreeing to and the other members to ensure it's appropriate and it all looks good.

I've submitted our application so we should hear back in the first week of April.

[2015-03-05 05:02] benrfairless opened #416 "Introduce better Analytics"
Google does an alright job of analysing what happens across the whole site, however I'm finding it difficult to get the below information from our current analytics:
- Who is creating accounts and:
  - Using their account only for annotations
  - Using their account to track things
  - Not using their account at all
  - Using (or not using) specific parts of the site (such as the categorisation ga

[2015-03-05 05:29] equivalentideas commented on #396
After testing this out on my phone. These need to be tested on staging, something weird happening here that I can't replicate using local emulator:

_update_: after testing this on staging the date picker and image rendering is fine.

~~\* Date picker is not activated on iPhone5
*Fix image rendering problems on iPhone 5:~~
![2015-03-05 16 10 06](https://cloud.githubusercontent.com/assets/1239550/6

[2015-03-09 02:01] kat opened #417 "review wording on RTK for Federal and ACT"
A heap of work has already been done on this - @henare asked me to review the site.

[2015-03-09 02:12] kat opened #418 "public authorities/public bodies inconsistent wording"
http://test.righttoknow.org.au/help/requesting

Wording is inconsistent - sometime "public authority" sometimes "public body". Change everywhere it says "public body" to "public authority".

[2015-03-09 02:31] kat opened #419 "review wording at help/requesting about extensions for ACT"
An ACT authority can notify requester of 30 day extension from date of original request.

 (4) The period of 30 days mentioned in subsection (1) (d) must be
extended by 30 days if the agency or Minister to whom the request
was made determines, in writing, that the requirements of
section 26, 27 or 27A make it appropriate to extend the period.
http://www.legislation.act.gov.au/a/alt_a1989-46co/curr

[2015-03-09 02:32] henare commented on #418
:+1:

[2015-03-09 02:35] kat opened #420 "Make the text in the Right To Know help sections clearer and more direct"
There are lots of instances of "you can" in RTK's help sections. Remove them all. In one or two places, 'then' works much better instead. When I find those that can be replaced by 'then' I'll list them here.

[2015-03-09 02:36] #418 closed, assigned to henare

[2015-03-09 02:38] kat commented on #417
http://test.righttoknow.org.au/help/requesting

Who can make a request?  says
"

[code]

"
replace Freedom of Information Act, with Freedom of Information Acts
replace Federal Freedom of Information (FOI) law. with Freedom of Information Laws.

[2015-03-09 02:38] henare commented on #419
That's also the case Federally. Since there are so many different reasons that the timeframe can be extended I think it's good to remain non-specific. I also think that we don't want to start playing the clock game with authorities and not putting all their rules on our site helps in this regard.

What do you think @kat? What should we change this to?

[2015-03-09 02:43] kat commented on #364
I think explicitly talking about lobbying this way is a mischaracterisation. Let's change this back and keep the primary mission clear :-)

[2015-03-09 02:46] henare commented on #364
@kat I was surprised to learn that's what we have [on the site currently](https://www.righttoknow.org.au/help/requesting#authorities).

Can you please open a new issue for this?

[2015-03-09 02:46] #364 closed, assigned to nobody

[2015-03-09 02:48] henare commented on #417
^^^ fixed in c1680a4

[2015-03-09 02:56] kat commented on #419
ok fair enough @henare

[2015-03-09 02:56] #419 closed, assigned to nobody

[2015-03-09 03:53] kat opened #421 "additional credits"
Is there anyone who's made a significant contribution to the site since the original development who we should thank in the [credits](http://test.righttoknow.org.au/help/credits)?

[2015-03-09 04:00] kat opened #422 "advanced search tips link broken?"
http://test.righttoknow.org.au/help/api link to advanced search tips, goes to [search](http://test.righttoknow.org.au/search) not to [advanced search tips](http://test.righttoknow.org.au/advancedsearch) This is broken at righttoknow.org.au not just staging.

[2015-03-09 04:16] #422 closed, assigned to nobody

[2015-03-09 04:23] kat commented on #417
nice work, we're done!

[2015-03-09 04:23] #417 closed, assigned to kat

[2015-03-09 04:24] henare commented on #417
:metal: :tada: :balloon:

[2015-03-09 04:40] kat opened #423 "return wording"
wording currently reads:

In the last case, we're using the site to lobby for expansion of the scope of the Freedom of Information Act. Even if an organisation is not legally obliged to respond to a Freedom of Information request, they can still do so voluntarily.

remove/replace wording: "In the last case, we're using the site to lobby for expansion of the scope of the Freedom of Information Act.

[2015-03-09 04:41] henare commented on #423
:+1:

[2015-03-09 04:47] #410 closed, assigned to nobody

[2015-03-09 05:17] benrfairless commented on #423
Better wording perhaps?:

[2015-03-09 06:50] henare commented on #17
:tada: https://www.righttoknow.org.au/body/list/ACT_state :tada:

[2015-03-09 06:50] #17 closed, assigned to benrfairless

[2015-03-09 06:50] henare commented on #421
Done in f21ea87be0703dfa0961ccd33a7a2d7da4d054e8 and e20fd8fe30ca673bc48d0050642ef1311eb34cce

[2015-03-09 06:50] #421 closed, assigned to henare

[2015-03-09 08:13] benrfairless commented on #415
I agree that dot points appear dated, and I prefer the WDTK version (but that's the opinion of someone who isn't a designer!)

[2015-03-09 23:10] equivalentideas opened #425 "request form is scrunched up, add space and simplify"
The layout of the request form is very tight vertically and appears somewhat randomly spaced horizontally. I think this would be more scannable and clearer with some vertical space between elements and if it was all bought into a consistent horizontal line. In particular it's not obvious why the 'possibly related requests' are indented—maybe there's a good reason?

![screen shot 2015-03-10 at 10 0

[2015-03-10 00:21] benrfairless commented on #425
I think Alaveteli are updating the way a request will be made going forward anyway (I think I read something, but can't recall) so I'm not sure if this is something we need to consider when looking into this.

On a slightly unrelated topic, I have always found the number of "possibly related requests" is usually far too long and has little meaning to what the person is tying into the summary box.

[2015-03-10 00:26] benrfairless commented on #397
I think the way we have done it for the ACT changes (https://www.righttoknow.org.au/help/requesting#ico_help) is a brilliant way of doing it. We make it clear that Right to Know will handle most things, but if they want to review the law provide it to them!

[2015-03-10 00:28] henare commented on #397
Right on! :+1:

[2015-03-10 00:28] #397 closed, assigned to nobody

[2015-03-10 00:29] henare commented on #425
Me too - I wonder why it's so long?

[2015-03-10 00:29] benrfairless commented on #323
@henare this has now been raised upstream by someone else: https://github.com/mysociety/alaveteli/issues/2045

[2015-03-10 00:29] #323 closed, assigned to nobody

[2015-03-10 00:30] henare commented on #323
Excellent, thanks Ben.

[2015-03-10 00:32] benrfairless commented on #375
Full error:

[2015-03-10 00:33] henare commented on #176
@richardtaylor found this directory: http://www.foi.vic.gov.au/home/how+to+apply/finding+an+agency/

I'm going to scrape it.

[2015-03-10 00:35] benrfairless commented on #375
I'm confused by this... On line 31, there is no Column 118! There is only 111 columns

[2015-03-10 00:37] benrfairless commented on #346
I feel that this would be better as a secondary OAF project (if at all) and not as part of Right to Know. Feel free to re-open if you disagree.

[2015-03-10 00:39] benrfairless commented on #366
I'll email the group later today and see if anyone else would find this useful.

[2015-03-10 00:43] benrfairless commented on #342
Raised Upstream: https://github.com/mysociety/alaveteli/issues/2226

[2015-03-10 00:43] #342 closed, assigned to nobody

[2015-03-10 00:45] benrfairless commented on #378
I think we should remove the current background while we decide what we are going to do with this. @henare @mlandauer any objections?

[2015-03-10 00:56] benrfairless commented on #182
I've not had time to check this, and I don't think we have enough exempt authorities for this to be a major issue.

I'm going to close this, but address each authority if/when it comes up.

[2015-03-10 00:56] #182 closed, assigned to benrfairless

[2015-03-10 00:57] benrfairless commented on #20
I'm told Richard might be helping us with this, so unassigning from me at this stage.

[2015-03-10 00:58] benrfairless commented on #420
I might take a crack at this tonight if I can find time

[2015-03-10 01:00] benrfairless commented on #253
RTK has New Relic configure now I think. I'm going to close it, @openaustralia/team-right-to-know please re-open if i've misunderstood.

[2015-03-10 01:00] #253 closed, assigned to nobody

[2015-03-10 01:01] benrfairless commented on #133
We don't get many emails anyway, I'm not sure this is required at the moment.

[2015-03-10 01:01] #133 closed, assigned to nobody

[2015-03-10 01:02] benrfairless commented on #309
https://github.com/openaustralia/righttoknow/issues/366

[2015-03-10 01:02] #309 closed, assigned to nobody

[2015-03-10 01:16] benrfairless commented on #71
closing this wontfix. We send such a low volume of email from the service I don't think this is needed.

[2015-03-10 01:16] #71 closed, assigned to nobody

[2015-03-10 01:22] benrfairless commented on #73
I don't think we should work rigidly to the timeframes, we should provide a general guide. Closing as wontfix

[2015-03-10 01:30] mlandauer commented on #73
I think having timeframes in place is very helpful for the user

[2015-03-10 01:36] henare commented on #176
Done: https://morph.io/openaustralia/victorian_public_bodies

[2015-03-10 04:25] henare commented on #253
We haven't done this but I don't care enough about it to reopen this.

[2015-03-10 05:01] equivalentideas opened #426 "PDF appears blank in 'View as HTML'"
The document image in 'View as HTML' appears blank to me (it is quite pretty, but not what I was looking for):
![screen shot 2015-03-10 at 3 57 11 pm](https://cloud.githubusercontent.com/assets/1239550/6569449/80d3651e-c73e-11e4-89ed-a9e04ba22395.png)
See https://www.righttoknow.org.au/request/936/response/3262/attach/html/3/Signed%20response%2010.3.15.pdf.html

The [PDF version](https://www.right

[2015-03-10 05:35] equivalentideas commented on #379
Looks good.

[2015-03-10 05:36] #375 closed, assigned to nobody

[2015-03-11 03:02] kat commented on #423
ok @bfairless I like where that's going. Suggest just make it a bit more concise "Even if they aren't subject to the Freedom of Information Act, they can still respond."

[2015-03-12 00:08] equivalentideas commented on #396
The signup form needs to flick back to horizontal layout on wider screens:

Current responsive:
![screen shot 2015-03-12 at 11 06 25 am](https://cloud.githubusercontent.com/assets/1239550/6609613/fccac2b0-c8a7-11e4-9723-7348122ea0fb.png)

Right To Know:
![screen shot 2015-03-12 at 11 06 33 am](https://cloud.githubusercontent.com/assets/1239550/6609614/02f9f7dc-c8a8-11e4-8d39-cae6f19c21a9.png)

[2015-03-12 01:36] equivalentideas commented on #396
Much closer now:

Current responsive:
![screen shot 2015-03-12 at 12 34 38 pm](https://cloud.githubusercontent.com/assets/1239550/6610500/4a0353a6-c8b4-11e4-95db-2c6f5aa8fd8f.png)

Right To Know:
![screen shot 2015-03-12 at 12 34 46 pm](https://cloud.githubusercontent.com/assets/1239550/6610502/514e951c-c8b4-11e4-9782-92f4064f6832.png)

[2015-03-12 03:38] henare commented on #73
#450 overrides the calculation of request due date.

It doesn't affect the calculation of the "very overdue" date, which we currently have set to 60 days. Given that the longest due date in Australia is 45 days (VIC & WA), I think it's still reasonable to leave it at that.

There's one other place where we need to make a change for this to be complete - the flash message shown immediately after we

[2015-03-12 04:27] henare opened #428 "Modify law name used depending on jurisdiction of public body"
4 out of the 9 Australian jurisdictions use a name other than "Freedom of Information" for their information access law.

[2015-03-12 04:42] henare commented on #428
From my investigation I think it will be a huge and painful job to change it throughout the application and completely impractical to dynamically change it based on the public authority's jurisdiction (because we couldn't even use translations for this - we'd have to override and change all the templates).

It would be really nice if upstream Alaveteli made the wording throughout the application g

[2015-03-15 23:58] equivalentideas commented on #396
We're deploying this to staging and I'm going to break it out into individual issues.

[2015-03-16 00:03] equivalentideas opened #429 "The request form header padding overflows margin"
The padding of the request header makes it sit outside the page margin:

Responsive theme:
![screen shot 2015-03-16 at 10 59 30 am](https://cloud.githubusercontent.com/assets/1239550/6658909/0c31b160-cbcc-11e4-8dc2-5c13fbfba9b1.png)

Right To Know:
![screen shot 2015-03-16 at 10 59 55 am](https://cloud.githubusercontent.com/assets/1239550/6658910/10f7c20c-cbcc-11e4-88cb-88dfb860189a.png)

[2015-03-16 00:06] equivalentideas opened #430 "Form helper layout wrong on wide screens"
The margin and width of the form help text is off on the responsive version:

Responsive:
![screen shot 2015-03-16 at 11 04 34 am](https://cloud.githubusercontent.com/assets/1239550/6658928/5f25a2b4-cbcc-11e4-9b6f-b280d9977cf0.png)

Right To Know:
![screen shot 2015-03-16 at 11 04 40 am](https://cloud.githubusercontent.com/assets/1239550/6658927/5f23a4fa-cbcc-11e4-8f64-c1c33c99e95f.png)

[2015-03-16 00:09] equivalentideas opened #431 "Too much spacing around request filters on wide screens"
On wide screens the spacing around the resquest filters doesn't match the current theme:

Responsive:
![screen shot 2015-03-16 at 11 07 22 am](https://cloud.githubusercontent.com/assets/1239550/6658943/cc01f72a-cbcc-11e4-8be0-44922241632d.png)

Right To Know:
![screen shot 2015-03-16 at 11 06 54 am](https://cloud.githubusercontent.com/assets/1239550/6658944/d1243b3c-cbcc-11e4-9719-ee39ee2110de.png

[2015-03-16 00:12] equivalentideas opened #432 "Remove space between columns on front page"
There is too much space between the columns on the front page on wide screens:

Responsive styles:
![screen shot 2015-03-16 at 11 10 38 am](https://cloud.githubusercontent.com/assets/1239550/6658960/3f72d92c-cbcd-11e4-816c-062ba01c5ba4.png)

Right To Know:
![screen shot 2015-03-16 at 11 10 42 am](https://cloud.githubusercontent.com/assets/1239550/6658961/40e6de02-cbcd-11e4-870c-ed504de5ef9c.png)

[2015-03-16 00:16] equivalentideas opened #433 "Reduce space around page header on wide screens"
The responsive styles have more space around the page header on the authority page than the current theme:

Responsive:
![screen shot 2015-03-16 at 11 15 12 am](https://cloud.githubusercontent.com/assets/1239550/6658970/c3a6e72e-cbcd-11e4-9246-8302345cd58d.png)

Right To Know:
![screen shot 2015-03-16 at 11 13 47 am](https://cloud.githubusercontent.com/assets/1239550/6658972/c894001e-cbcd-11e4-888

[2015-03-16 00:23] henare opened #434 "[responsive styles] Heading wording different"
Staging front page: "What information has been requested?"

Production front page: "What information has been released?"

[2015-03-16 00:28] henare opened #435 ""Describe the status of this request" box has a different appearance"
Staging:

![selection_001](https://cloud.githubusercontent.com/assets/48945/6659035/65b684b0-cbcf-11e4-9907-7fcb0e58064b.png)

Production:

![selection_002](https://cloud.githubusercontent.com/assets/48945/6659038/75891254-cbcf-11e4-8942-03e04b8107c1.png)

[2015-03-16 00:31] henare commented on #434
You need 5 or more requests before this text change so that explains the difference between staging and production.

[2015-03-16 00:31] #434 closed, assigned to henare

[2015-03-16 00:33] henare opened #436 "Yellow and green background colours different"
See #429

[2015-03-16 00:35] equivalentideas commented on #436
This was just on the image captures in issue #429 not an issue in the live version. Closing.

[2015-03-16 00:35] #436 closed, assigned to nobody

[2015-03-16 00:41] henare opened #437 "Text spacing slightly different"
Only on Chromium on Linux. Firefox on Linux is not affected.

![text](https://cloud.githubusercontent.com/assets/48945/6659098/5416ee8c-cbd1-11e4-91fe-88340ca91b47.gif)

[2015-03-16 00:48] henare opened #438 "Select authority page: Small spacing and layout differences"
![select_authority](https://cloud.githubusercontent.com/assets/48945/6659132/542af50c-cbd2-11e4-8a19-b55620344cb8.gif)

[2015-03-16 00:48] equivalentideas opened #439 "Status form wraps badly on small screens"
The radio input is on a different line to the label:
![screen shot 2015-03-16 at 11 47 02 am](https://cloud.githubusercontent.com/assets/1239550/6659128/4e5e43a4-cbd2-11e4-8448-18619939c9a7.png)

[2015-03-16 03:52] equivalentideas commented on #435
Fixed by commits https://github.com/openaustralia/righttoknow/compare/2c85ec6c5dbe...0fa0ac1e2e8e . Responsive styles now:
![screen shot 2015-03-16 at 2 50 51 pm](https://cloud.githubusercontent.com/assets/1239550/6660385/e1aa8e10-cbeb-11e4-9002-d361877ad6d3.png)

[2015-03-16 03:52] #435 closed, assigned to nobody

[2015-03-16 04:08] equivalentideas commented on #439
fixed by https://github.com/openaustralia/righttoknow/commit/e8f5de6641694bbe29d44473f90fccae77c17b4c

[2015-03-16 04:08] #439 closed, assigned to nobody

[2015-03-16 04:31] henare opened #440 "Authority update form different"
https://www.righttoknow.org.au/change_request/new?body=aaf_company

http://test.righttoknow.org.au/change_request/new?body=aaf_company

[2015-03-16 04:40] henare opened #441 "Sign in pages different"
I notice "- or -" has incorrectly wrapped too.

![sign_in](https://cloud.githubusercontent.com/assets/48945/6660686/bfbd312a-cbf2-11e4-95f6-29ec564b79e0.gif)

[2015-03-16 05:08] equivalentideas commented on #438
fixed in https://github.com/openaustralia/righttoknow/compare/e8f5de664169...53c9772a5716

![screen shot 2015-03-16 at 4 05 39 pm](https://cloud.githubusercontent.com/assets/1239550/6660868/85343752-cbf6-11e4-90f6-0490a1b102ef.png)
![screen shot 2015-03-16 at 4 05 48 pm](https://cloud.githubusercontent.com/assets/1239550/6660869/8538e77a-cbf6-11e4-90fd-5891b4baa994.png)

[2015-03-16 05:08] #438 closed, assigned to nobody

[2015-03-16 05:09] henare commented on #438
:metal: I'll deploy the updates to staging now.

[2015-03-16 05:14] equivalentideas opened #442 "line up footer to site wide grid"
There's no obvious reason why the footer should be aligned slightly differently to the main content column. This can be fixed if the responsive styles branch is merged by reverting https://github.com/openaustralia/righttoknow/commit/fc49b89ab783a401b28b283da190deac47a17f6c

![screen shot 2015-03-16 at 4 11 03 pm](https://cloud.githubusercontent.com/assets/1239550/6660918/87fc5cc0-cbf7-11e4-9600-dd

[2015-03-16 08:14] equivalentideas commented on #441
made a few improvements to this with https://github.com/openaustralia/righttoknow/compare/53c9772a5716...9e833f84b311

Will come back around to this later, it's doing my head in a bit.

[2015-03-16 08:22] benrfairless opened #443 "Anchor and Admin links are not visible on touch devices"
The admin and anchor buttons on messages are not visible until you hover over the message in question.

On mobile, you are unable to hover, so have to click "roughly" where they are for them to become visible.

[2015-03-16 08:39] benrfairless opened #444 "Tapping/Clicking the Anchor link on mobile takes you to the bottom of the page"
If you click an Anchor link on a request from a mobile device, you are whizzed down to the bottom of the page and have to scroll back up again.

[2015-03-16 09:05] equivalentideas commented on #444
Thanks @brfairless can you chuck in a screenshot and url for the location you mean? Also what device are you using mate?

[2015-03-16 09:43] benrfairless commented on #444
Happens on both iPhone and iPad, and I'm talking about the anchor button available on any request. I'll do one better then a picture :)

https://drive.google.com/a/openaustralia.org/file/d/0B6FvM3R1FeGaaGFveW80bThIMXc/view?usp=sharing

[2015-03-16 09:56] benrfairless opened #445 "Error Messages aren't responsive"
If there are any errors when you create a request, the error box is not responsive:

iPhone 4S example:
![ios simulator screen shot 16 mar 2015 7 20 31 pm](https://cloud.githubusercontent.com/assets/6841582/6663865/454fd6e8-cc12-11e4-99a4-68bb81f16e0b.png)

[2015-03-16 13:52] benrfairless opened #446 "RSS Image on API Page is not working"
See below, affects staging and production

![rssfeeds-broken](https://cloud.githubusercontent.com/assets/6841582/6667408/4bf81b56-cc33-11e4-834a-3abd98624e0b.png)

[2015-03-16 23:07] equivalentideas commented on #429
fixed by https://github.com/openaustralia/righttoknow/commit/458074336b1f20a50e1d4afd29f50285018b1115

[2015-03-16 23:07] #429 closed, assigned to equivalentideas

[2015-03-16 23:19] benrfairless commented on #420
Clarification in #447 (Thanks @kat!):

[2015-03-16 23:34] kat commented on #420
@brfairless sorry to have wasted your time on alternative ways of saying 'you can'. The writing guide is well worth spending quality time on. I know you will find it helpful. Consider reading the guide along with rereading the help pages, and maybe you'll find new issues to document.

[2015-03-16 23:42] benrfairless commented on #428
RTK already does this for something called EIRs (which we don't use). If I could find a way to do something like what you [see here](https://github.com/openaustralia/alaveteli/blob/production/app/models/info_request.rb#L301) then it should be simple.

I was thinking of something in https://github.com/openaustralia/alaveteli/blob/production/app/models/public_body.rb like

[code]

If you then re-wor

[2015-03-16 23:51] equivalentideas commented on #430
fixed by https://github.com/openaustralia/righttoknow/compare/ac035091e04f...1b2fa343ee36

[2015-03-16 23:51] #430 closed, assigned to equivalentideas

[2015-03-17 00:27] equivalentideas commented on #432
fixed by https://github.com/openaustralia/righttoknow/commit/d993b46ed5c71038708db9f6c3e3f017c3e460c1

[2015-03-17 00:27] #432 closed, assigned to equivalentideas

[2015-03-17 00:49] equivalentideas commented on #437
Tried to fix this with https://github.com/openaustralia/righttoknow/commit/ccee57e . There seems to be bugs in `text-rendering` see https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering#Browser_Compatibility . This could be a reason that the styles added in that commit were removed in the responsive styles.

I wont close this until I can see it fixed on staging.

[2015-03-17 00:54] equivalentideas commented on #445
Thanks for that @brfairless :+1: I've fixed this with https://github.com/openaustralia/righttoknow/commit/8f9b9cc

[2015-03-17 00:54] #445 closed, assigned to nobody

[2015-03-17 04:32] equivalentideas commented on #437
Fixed by https://github.com/openaustralia/righttoknow/commit/94bf47f8f1dfbc40f736981ebf34f0c5b107bd35 . The text-rendering actually had to be reset to browser default with 'auto'.

[2015-03-17 04:32] #437 closed, assigned to equivalentideas

[2015-03-17 05:09] equivalentideas commented on #440
I've matched these with https://github.com/openaustralia/righttoknow/compare/8f9b9ccc51...4b2ddf8bb5 all except for the textarea.

In the current theme the textarea has no styling and appears as the browser defined width, height and border style. Unfortunately the width of this default isn't flexible so it was overridden in the responsive styles. But now as far as I can see, it's not possible to r

[2015-03-18 12:22] benrfairless commented on #428
I'm working on this here: https://github.com/openaustralia/righttoknow/tree/law-name

[2015-03-20 14:28] equivalentideas commented on #433
fixed in https://github.com/openaustralia/righttoknow/compare/4b2ddf8bb5a4...3d60c76edef8

[2015-03-20 14:28] #433 closed, assigned to equivalentideas

[2015-03-20 15:01] equivalentideas commented on #431
fixed in https://github.com/openaustralia/righttoknow/commit/ccddd7c

[2015-03-20 15:01] #431 closed, assigned to equivalentideas

[2015-03-24 04:15] #428 closed, assigned to benrfairless

[2015-03-29 10:07] equivalentideas commented on #441
fixed in https://github.com/openaustralia/righttoknow/compare/f0a292bde1b3...3f1644e42b0d

[2015-03-29 10:07] #441 closed, assigned to nobody

[2015-03-29 23:35] equivalentideas commented on #443
fixed by https://github.com/openaustralia/righttoknow/commit/68a6a74

[2015-03-29 23:35] #443 closed, assigned to nobody

[2015-03-29 23:41] equivalentideas commented on #444
This appears to be a bug upstream. I've recreated the it on whatdotheyknow.com as well, at https://www.whatdotheyknow.com/request/how_much_time_does_the_vice_chan .

I'm going to close this here, remove the milestone and report it upstream.

[2015-03-29 23:41] #444 closed, assigned to equivalentideas

[2015-03-29 23:49] equivalentideas commented on #440
I think accepting this slight change to the width of the textarea on wide screens is an acceptable solution here.

I'm going to close this, and as always, if anyone has a better idea please reopen it :)

[2015-03-29 23:49] #440 closed, assigned to nobody

[2015-03-29 23:55] equivalentideas opened #451 "'link to this' close button positioned wrong"
The close button on the 'link to this' box is positioned on the left instead of right and the icon is also missing.

Responsive:
![screen shot 2015-03-30 at 10 52 40 am](https://cloud.githubusercontent.com/assets/1239550/6888489/18173176-d6cb-11e4-90a5-d38294ba9c65.png)

Current Right To Know:
![screen shot 2015-03-30 at 10 52 46 am](https://cloud.githubusercontent.com/assets/1239550/6888490/1d8cf

[2015-03-30 00:06] equivalentideas commented on #451
fixed by https://github.com/openaustralia/righttoknow/commit/61ba49d91e656e82ef3551ecbd3822511456d7ea

[2015-03-30 00:06] #451 closed, assigned to equivalentideas

[2015-03-30 05:04] henare opened #453 "Credits page spacing and text size differences"
Compare:

https://www.righttoknow.org.au/help/credits#supporting

http://test.righttoknow.org.au/help/credits#supporting

[2015-03-30 05:08] equivalentideas commented on #453
Thanks for that @henare . I'll pick this up now.

[2015-03-30 05:12] equivalentideas commented on #453
- [x] heading sizes are different
- [x] space at the bottom of list is different

[2015-03-30 05:17] henare opened #454 "Public authorities page has title after categories list"

[2015-03-30 05:18] mlandauer opened #455 "Link on "Read blog" in staging doesn't match the one in production"

[2015-03-30 05:18] equivalentideas commented on #454
I'm not sure what you mean by this, could you add a link or screenshot?

[2015-03-30 05:22] henare commented on #454
Visit http://test.righttoknow.org.au/body/list/all on your mobile. The categories are displayed first, before the title, so you don't even know what page you're on.

It's the same on the authority show page.

Here's my technologically advanced "screenshot"!

![2015-03-30-162039](https://cloud.githubusercontent.com/assets/48945/6890539/e0c62d3e-d6f8-11e4-80d9-6be1fb34f62a.jpg)

[2015-03-30 05:23] equivalentideas commented on #454
That's beauty thanks!

[2015-03-30 05:27] henare opened #456 "Authority search doesn't find a certain authority"
I want to find the ACT Chief Minister so I go to _View authorities_ and type "act chief":

https://www.righttoknow.org.au/body/list/all?utf8=%E2%9C%93&public_body_query=act+chief&commit=Search

Which gives me one result that I don't want :( However searching using the search box in the top right does find it!

https://www.righttoknow.org.au/search/act%20chief/all

[2015-03-30 05:34] henare opened #457 "Possibly related requests on mobile when making a request is off to the side"
![screenshot 30 mar 2015 4_30_38 pm](https://cloud.githubusercontent.com/assets/48945/6890619/93977a0c-d6fa-11e4-9dcf-0032cf5e6c7d.png)

[2015-03-30 05:41] henare opened #458 "Flash message internal spacing a bit tight"
![screenshot 30 mar 2015 4_37_46 pm](https://cloud.githubusercontent.com/assets/48945/6890672/911fecc2-d6fb-11e4-9b39-da7016b2cca3.png)

[2015-03-30 05:45] henare opened #459 "Annotation preview aligned oddly"
![screenshot 30 mar 2015 4_42_17 pm](https://cloud.githubusercontent.com/assets/48945/6890705/2d32974a-d6fc-11e4-99f2-c4494b0b83b7.png)

[2015-03-30 05:51] henare opened #460 "Request status radio buttons warped"
Firefox on Android:

![screenshot 30 mar 2015 4_49_15 pm](https://cloud.githubusercontent.com/assets/48945/6890759/111eaf7a-d6fd-11e4-8400-545bde8dffc3.png)

[2015-03-30 05:53] henare opened #461 ""Unhappy about your request?" page has no padding on mobile"
It makes things very squished on the left side:

![screenshot 30 mar 2015 4_50_23 pm](https://cloud.githubusercontent.com/assets/48945/6890770/42d8f8ae-d6fd-11e4-95a3-c07f50eb0ec3.png)

[2015-03-30 05:59] henare commented on #454
Same on the user profile page, e.g. http://test.righttoknow.org.au/user/henare_degan/

[2015-03-30 06:54] equivalentideas commented on #453
fixed by https://github.com/openaustralia/righttoknow/compare/eda48d9cf168...61d2c617f74c

[2015-03-30 06:54] #453 closed, assigned to equivalentideas

[2015-03-30 07:01] henare commented on #453
@equivalentideas ^^^ these commit range references for multiple commits you've been doing lately has been really effective :+1:

[2015-03-30 07:19] equivalentideas commented on #458
fixed in https://github.com/openaustralia/righttoknow/commit/cd31f540c214601acbb9326be43b055c5b924bfa

[2015-03-30 07:20] #458 closed, assigned to nobody

[2015-03-30 07:25] equivalentideas commented on #455
@mlandauer Do you mean that the url in the link is different ? I think that's actually part of the config for staging and isn't part of this milestone.

[2015-03-30 07:29] mlandauer commented on #455
Click on the link in the menu on both staging and production and you'll see that production takes you to the oaf blog directly. In staging it shows you another page on RTK. I'm pretty sure this difference is in the theme. It might just be a case of merging the latest stuff from the main branch across

[2015-03-31 06:05] equivalentideas commented on #459
fixed by https://github.com/openaustralia/righttoknow/commit/72e86517f7141008382c51fa3dd1f5e9c4bfd8f7

[2015-03-31 06:06] equivalentideas commented on #457
fixed by https://github.com/openaustralia/righttoknow/commit/597138240f5c5f1794ea99561cbdfc53ea32af1c

[2015-03-31 06:06] #457 closed, assigned to nobody

[2015-03-31 06:06] #459 closed, assigned to equivalentideas

[2015-03-31 06:15] equivalentideas commented on #455
fixed in https://github.com/openaustralia/righttoknow/commit/674b9c88af05c7301f1229c9fe74991963bac296

[2015-03-31 06:15] #455 closed, assigned to equivalentideas

[2015-03-31 06:30] equivalentideas commented on #461
fixed by https://github.com/openaustralia/righttoknow/commit/6fc3131e02962709b8520411a9535c5bd1a8594a

[2015-03-31 06:30] #461 closed, assigned to nobody

[2015-03-31 06:40] equivalentideas commented on #454
I've logged this issue upstream https://github.com/mysociety/alaveteli/issues/2272 will close it here as discussed today.

[2015-03-31 06:40] #454 closed, assigned to equivalentideas

[2015-03-31 06:46] equivalentideas commented on #460
@henare I can't recreate this and can't find an emulator. Could you please confirm for me it's not an upstream issue?

[2015-03-31 22:18] benrfairless opened #462 "Update the documentation to make it easy to get RTK working"
Perhaps include step by step instructions on how to get a Vagrant Instance up and running, and go from there? This was suggested at the Meetup last night.

[2015-04-01 00:54] henare commented on #460
@equivalentideas doesn't happen on http://demo.alaveteli.org/

[2015-04-01 05:46] equivalentideas commented on #460
fixed by https://github.com/openaustralia/righttoknow/commit/076d172c33fc9fe98aa4674eaab45c82bca6f094

[2015-04-01 05:46] #460 closed, assigned to nobody

[2015-04-01 06:47] #305 closed, assigned to nobody

[2015-04-02 05:07] equivalentideas commented on #396
Closed by merging https://github.com/openaustralia/righttoknow/issues/452

[2015-04-02 05:07] #396 closed, assigned to equivalentideas

[2015-04-02 10:55] benrfairless opened #463 "How are schools dealt with under FOI"
I'm not sure if each school would be covered individually under FOI, as teachers in public schools are normally employed not by the school but by the Department/Directorate of Education.

I can't see anything in the law which makes it clear if schools == authorities. In the ACT, an FOIable authority either needs to be specified via the FOI regulations or be an "administrative unit" which is establ

[2015-04-02 11:05] benrfairless opened #464 "Admin bar doesn't wrap properly on mobiles"
The Admin bar doesn't wrap properly on my iPhone 6 now that responsive styling is enabled:
![ios simulator screen shot 2 apr 2015 10 02 30 pm](https://cloud.githubusercontent.com/assets/6841582/6962824/3060bca0-d984-11e4-84ed-546f3fd54209.png)

The Admin console also isn't responsive at all:
![ios simulator screen shot 2 apr 2015 10 04 46 pm](https://cloud.githubusercontent.com/assets/6841582/6962

[2015-04-02 11:36] benrfairless opened #465 "Multiple Attachments icons don't line up properly"
Original Example on https://www.righttoknow.org.au/request/complaints_related_to_online_gam#incoming-3384

Safari on MacOS:
![rtk-design](https://cloud.githubusercontent.com/assets/6841582/6963225/536a3092-d988-11e4-855e-5adfc0cb9cdd.png)

They look fine on mobile:
![ios simulator screen shot 2 apr 2015 10 35 21 pm](https://cloud.githubusercontent.com/assets/6841582/6963247/990e81fc-d988-11e4-948f

[2015-04-02 11:50] benrfairless opened #466 "Incorrect alignment when replying to a request"
1. The buttons are hanging out the red box (on Desktop):
   ![rtk-radiobuttons](https://cloud.githubusercontent.com/assets/6841582/6963349/f8c52af0-d989-11e4-8005-03faa25ef5bc.png)
2. The buttons are above the text (Mobile):
   ![ios simulator screen shot 2 apr 2015 10 48 00 pm](https://cloud.githubusercontent.com/assets/6841582/6963373/59cf4df8-d98a-11e4-8a71-1e4358078886.png)
3. There is too muc

[2015-04-02 12:30] benrfairless commented on #425
According to https://github.com/mysociety/alaveteli/blob/release/0.21/doc/CHANGES.md there have been some massive changes to the request function in 0.21. I suggest we hold fire on this to see if the upgrades to 0.21 fix some of the issues described here.

[2015-04-02 12:39] benrfairless opened #467 "The Flash message when sending a followup is a bit tight"
On Desktop:
![rtk-tightfit](https://cloud.githubusercontent.com/assets/6841582/6964062/79adea88-d991-11e4-89a4-585b7353c5a6.png)

[2015-04-02 13:02] benrfairless opened #468 "Email content was not redacted"
The Mobile number and email address of an employee of NBNCo was not redacted:
https://www.righttoknow.org.au/request/information_regarding_rollout_in_2#incoming-3448

[2015-04-02 13:04] benrfairless commented on #468
previously the email address has been, but not phone numbers in international format or email addresses (another example: https://www.righttoknow.org.au/request/nbn_rollout_regarding_plans_for#incoming-3185)

[2015-04-02 13:35] benrfairless commented on #468
It turns out only emails are being redacted, not even UK based mobile numbers are redacted anymore! I've raised this upstream: https://github.com/mysociety/alaveteli/issues/2278

[2015-04-06 11:37] CloCkWeRX opened #469 "Consider making fuller content available in RSS feeds"
![not_enough_context](https://cloud.githubusercontent.com/assets/365751/7003842/87c68280-dca0-11e4-896f-c0d3a5480062.png)

is what I get for https://www.righttoknow.org.au/request/call_scripts_ambulance#outgoing-2280

There's:
- No pre-formatting or line breaks as per the original email/input
- An emphasis on the status of the overall request which is somewhat unimportant for comments (useful for

[2015-04-06 12:05] CloCkWeRX opened #470 "Consider adding improved tools for agencies responding to FOI requests"
Time and time again, we see a lot of agencies playing silly buggers with the act, misunderstanding the guidance provided by the OAIC and more.

Rather than assume malice, I'd like to assume a lack of common, easy to use tools across government that help them respond to their obligations under the act.

Right to Know is well positioned to offer easy to use tools not only to members of the public, b

[2015-04-06 18:57] benrfairless commented on #469
I've just pulled a sample feed from another Alaveteli instance: https://www.whatdotheyknow.com/feed/request/council_tax_and_nndr_summons_and_12

I think the above improvements could be enjoyed by all upstream, so I'm going to raise the issue upstream. If I get time, I might work on the code and submit a PR upstream too!

[2015-04-06 23:12] equivalentideas commented on #464
Thanks @brfairless

There are two separate issues here:
1. The admin bar on the front end doesn't change layout for smaller screens
2. The admin views don’t adapt for smaller screen use at all

@ben Are you happy if we keep this issue about no.1 and if you think no.2 is a problem break it out into it's own issue?

[2015-04-06 23:15] equivalentideas commented on #464
@brfairless because this is development for the small number of admin users, can you document here current problem and why it would be useful to adapt the admin bar for them?

For example, are you unable to access some of the links that you need to administer the site? Does it break the layout of the site in a way that makes it hard to access some other functionality?

Unless it's currently blocki

[2015-04-06 23:56] benrfairless commented on #464
I tend to do admin stuff on my phone and I can't get some of the buttons, so I would say this is a minor issue, if it can be fixed quickly then great, if not then ahh well:

##

Ben Fairless
Right to Know Volunteer

e: ben@rightotknow.org.au
w: www.rightotknow.org.au
t: @RighttoKnowAu

[2015-04-07 00:35] equivalentideas commented on #464
That's really helpful, would be really good to include that kind of thing in issue descriptions :)

I'll have a look at how much time this would take and we can go from there.

[2015-04-07 01:22] #467 closed, assigned to equivalentideas

[2015-04-07 02:18] equivalentideas opened #473 "'View as HTML' label is meaningless to the citizen"
For the link for citizens to view a document attached to a request in their browser:

![screen shot 2015-04-07 at 12 16 03 pm](https://cloud.githubusercontent.com/assets/1239550/7015983/1630e22a-dd20-11e4-87fc-5bceeee014db.png)

Why are we telling them what format it's in? Do they know what it means that it's in HTML?

Maybe a label like: 'View online' or 'View in your browser' or 'View text versi

[2015-04-07 02:43] benrfairless commented on #473
@equivalentideas I'm wondering if it's even worth having that option. I agree the wording is poor, but that said I don't know of many people who use it (considering most documents are PDFs, and may not render properly).

If we choose to keep it, I agree that we should use a "View online" or "view in your browser" option.

[2015-04-07 02:43] equivalentideas opened #474 "Make 'View as HTML' page responsive"
I'm not sure why we aren't getting the responsive version of the 'View as HTML' page?

See What Do They Know for example of the responsive version: https://www.whatdotheyknow.com/request/261308/response/636793/attach/html/2/810078%20Berry.doc.html

I'm having trouble getting it to use the original partial in my dev version, even after removing our overriding `request/_view_html_prefix.html.erb` pa

[2015-04-07 02:53] benrfairless opened #475 "Use Google Docs to render PDFs in HTML view"
WDTK uses Google Docs Viewer to render PDFs, which would be a massive improvement over what we have now. We should consider doing this.

[2015-04-07 02:54] equivalentideas commented on #474
Is there a possibility we could use an external doc view like the [Internet Archive's](https://archive.org/stream/NSW_Pecuniary_Interests_2013-2014/2014-06-30_Hancock_Shelley_pecuniary-interests#page/n3/mode/2up) or Google Docs, like [What Do They Know](https://www.whatdotheyknow.com/request/261308/response/636793/attach/html/2/810078%20Berry.doc.html)?

Related to https://github.com/openaustralia

[2015-04-07 03:02] equivalentideas commented on #473
It would be interesting to see if there are any documented use cases, but here's an idea:
- As a user I need to view request documents without downloading them onto my device, which does not have this capability

I'm not quite sure what processing this does to the pdf text, but it may been making it more accessible to assistive technologies in the browser than the pdf would be otherwise. It might

[2015-04-07 04:18] benrfairless opened #476 "Response has gone outside the response text"
https://www.righttoknow.org.au/request/call_scripts_ambulance#incoming-3454

The response on the above has gone siginficantly over the side (seen in Chrome on Windows):
![capture](https://cloud.githubusercontent.com/assets/6841582/7016851/b3180c06-dd2c-11e4-8c3c-57e2ba434f21.PNG)

[2015-04-07 06:27] equivalentideas commented on #475
@maxious mentioned the Office online viewer for Word, Excel and Power Point docs http://products.office.com/en-us/office-online/view-office-documents-online

[2015-04-07 06:29] equivalentideas commented on #475
Also there's this from #474 :

There's the [internet archive’s PDF viewer](https://archive.org/stream/NSW_Pecuniary_Interests_2013-2014/2014-06-30_Hancock_Shelley_pecuniary-interests#page/n3/mode/2up).

[2015-04-08 00:20] benrfairless commented on #463
I've spoken with Margaret from the ACT Government to clarify how the directorate would process a request. Generally speaking, schools would refer the request to the Directorate anyway and private schools aren't covered under FOI.

Suggest we:
- [ ] Mark all schools as `not_apply`
- [ ] Add a note to every school that, if they want to, they can request information from the ACT-DET

Are there any ob

[2015-04-08 08:13] equivalentideas commented on #476
@brfairless do you mean that there isn't margin between the text and the edge of the box?

I can't see this on my mac. Is this a problem across all the correspondence boxes?

[2015-04-08 09:00] mlandauer opened #479 "Spacing around avatar thumbnail in annotation a little ackward"
See https://www.righttoknow.org.au/request/prime_minister_gift_of_tie_and_b#comment-948

![prime minister gift of tie and bike to museum a freedom of information request to museum of australian democracy right to know](https://cloud.githubusercontent.com/assets/2221/7041974/7845f746-de21-11e4-8303-b44a0ff4339f.png)

[2015-04-08 23:51] henare commented on #474
Yes, I think you're right.

Sure can.

[2015-04-09 00:02] henare commented on #470
This sounds like a great candidate for a standalone tool that uses the Right To Know API.

[2015-04-09 01:43] henare commented on #463
@brfairless any reason to not just delete the schools?

[2015-04-09 01:46] henare commented on #473
I like where this is going but I think this should be raised upstream.

[2015-04-09 01:46] equivalentideas commented on #473
I agree.

[2015-04-09 01:50] henare commented on #475
Related: https://github.com/mysociety/alaveteli/issues/833

The first WDTK request I picked to reproduce this didn't so I'm closing this as cannot reproduce:

https://www.whatdotheyknow.com/request/257035/response/638392/attach/html/2/Response%20all%20information%20to%20be%20supplied.pdf.html

[2015-04-09 01:50] #475 closed, assigned to nobody

[2015-04-09 01:54] benrfairless commented on #463
I was thinking if people search for their school, it would be better to at least list it with instructions on how to make a request to DET, but I'm just as happy to delete them.

[2015-04-09 01:55] #465 closed, assigned to equivalentideas

[2015-04-09 01:55] #442 closed, assigned to equivalentideas

[2015-04-09 01:55] #466 closed, assigned to equivalentideas

[2015-04-09 01:57] henare commented on #463
Yeah it could also help Google juice too I guess. Let's have a think about it.

[2015-04-09 01:59] henare commented on #479
Similar to #223.

[2015-04-09 02:04] equivalentideas commented on #473
Moved upstream https://github.com/mysociety/alaveteli/issues/2303

[2015-04-09 02:10] henare commented on #473
Champion, thanks @equivalentideas.

[2015-04-09 02:10] #473 closed, assigned to nobody

[2015-04-09 03:36] henare opened #481 "Document how to tag authorities"
We've mostly done the code changes to support all the different Australian jurisdictions. When adding authorities you need to know very clearly what tags to add or else it won't work so we need to document this somewhere.

[2015-04-09 04:21] henare commented on #475
Here's an example of a PDF on RTK using the Docs viewer: https://www.righttoknow.org.au/request/882/response/3196/attach/html/3/December%20Diary.pdf.html

[2015-04-09 04:37] henare commented on #474
I've deleted the cache by removing these two directories:

[code]

This was long overdue as we fixed a bug a while ago and also changed the design recently and none of these changes were reflected in already-cached HTML views. So we need to remember to do this when we make changes to the HTML view stuff.

[2015-04-09 04:37] #474 closed, assigned to henare

[2015-04-09 05:51] henare commented on #389
Is this done?

[2015-04-09 05:53] henare commented on #356
This will all be different soon when we're on separate servers and since there's no immediate need I'm closing this.

[2015-04-09 05:53] #356 closed, assigned to nobody

[2015-04-09 05:55] henare commented on #306
Duplicate of #143.

[2015-04-09 05:55] #306 closed, assigned to nobody

[2015-04-09 06:01] henare commented on #212
We got an acknowledgement a few weeks back and I just sent a follow up asking for an update.

[2015-04-09 06:15] henare commented on #20
The reason I proposed that we added the NT next was that it has the same response timeframes as existing jurisdictions on RTK, it's small, and it has an application fee. This meant we needed minimal changes to test the impact of application fees in a low risk way.

We have all the public authorities now - 37 authorities and 17 councils. I'd like us to put in some test requests like we did for the

[2015-04-09 06:23] henare opened #482 "Work out what to do with ACT schools"
@brfairless discovered on #463 that in the ACT individual schools aren't really FOIable - the request would be referred to the Directorate.

We've already added them to RTK so now we have to decide whether to:
- Delete them - What about people searching the site or Google?
- Mark them as not FOIable with a note telling people to FOI the appropriate directorate - this means we'll have heaps of auth

[2015-04-09 06:24] henare commented on #463
I've split out the question of what to do with the ACT into #482.

This issue is still open since we need to work out what the story is with schools in other states.

[2015-04-09 06:53] henare commented on #365
I've modified our init script so that it does nothing on `start` and `stop` (since you don't need that with Passenger) and so that `restart` will restart both staging and production since we can't tell from the deploy which one it wants to restart.

The full script is in this gist: https://gist.github.com/henare/4daaa7364bd8eedfd8ac

[2015-04-09 06:59] henare commented on #365
Merging the latest 0.19 tag into staging caused merge conflicts so I used `git merge -X theirs 0.19.0.13` to accept upstream's changes by default. This appears to have worked:

https://github.com/openaustralia/alaveteli/compare/staging...mysociety:hotfix/0.19.0.13

Since tests passed and it looks OK on my development machine I'm deploying to staging.

[2015-04-09 07:17] henare commented on #365
I've deployed to staging and it looks good to me. The init script worked as expected on deploy.

@brfairless can you poke around and try to break things? http://test.righttoknow.org.au/

If you get a chance this evening I think we'll be good to deploy to production in the morning.

[2015-04-09 11:35] benrfairless commented on #365
We can:
- Make a Request
- Annotate a request
- Reply to a Request
- Request an authority update
- decline an authority update

I think this is pretty much done and ready to go!

[2015-04-09 11:47] benrfairless commented on #482
The maintenance burden makes me lean towards getting rid of them

[2015-04-09 23:17] henare commented on #482
It also feels wrong to add a whole bunch of authorities that aren't actually authorities for FOI purposes. It will be confusing because you wouldn't expect it. It's different to our choice to include excluded agencies because you can effectively FOI schools via their department, i.e. schools are effectively sub-units of the department in our case.

So I agree, let's delete them. We still need to c

[2015-04-09 23:23] henare commented on #365
Thanks for your testing @brfairless! :sparkles:

This is now deployed :shipit:

[2015-04-09 23:23] #365 closed, assigned to henare

[2015-04-09 23:30] henare opened #483 "Update to 0.21"
Needed to complete #450.
# [Version 0.21](https://github.com/mysociety/alaveteli/blob/rails-3-develop/doc/CHANGES.md#version-021)
## Highlighted Features
- Lots of improvements in the process of making a new
  request (Martin Wright, Gareth Rees, Louise Crow):
  - Removal of confusing AJAX results in `/select_authority`.
  - Better layout of search/filtering options on the authority pages.
  - Bet

[2015-04-10 00:50] henare commented on #379
# [Version 0.20](https://github.com/mysociety/alaveteli/blob/rails-3-develop/doc/CHANGES.md#version-020)

## Highlighted Features
- Upgrade compass-rails to version 2.0.0 (Louise Crow, Вальо)
- Added a fix to ensure attachments are rendered for emails sent with Apple Mail (Gareth Rees)
- Removed the authority preview from `/select_authority`. Clicking an authority now goes straight to the authorit

[2015-04-10 01:00] henare commented on #379
0.20.0.15 is the latest 0.20 release.

[2015-04-10 01:22] benrfairless commented on #482
I'm deleting all the schools now!

[2015-04-10 01:23] henare commented on #482
Ain't no :school: like the deleted :school:

[2015-04-10 01:24] benrfairless commented on #482
So I've marked them all as `not_apply` so people can't make requests to them while I go through and destroy them all!

:hammer: the :school:

[2015-04-10 02:21] henare opened #484 "Web server optimisations"
http://www.webpagetest.org/result/150410_WW_3XJ/
- [Enable keep-alive](https://httpd.apache.org/docs/2.2/mod/core.html#keepalive)
- Add far future expires headers for assets

[2015-04-11 07:33] henare commented on #379
I've been trying to fix a test failure I was getting after merging 0.20 in. It's got me stumped - you can read more in this PR upstream: https://github.com/mysociety/alaveteli/pull/2311

It's still failing for me but as it's not a big problem I've decided to keep moving and deploy 0.20 to staging, despite this test failure on my machine (upstream's Travis passed it so ¯_(ツ)_/¯).

[2015-04-11 09:22] henare commented on #379
As there are migrations in this release I used `cap deploy:migrations -S stage=staging` to deploy this.

I then logged into the server and ran `RAILS_ENV=production ./script/migrate-public-body-categories` in the "current" directory to add the public authority categories to the database.

Now on to testing.

[2015-04-11 09:26] henare commented on #379
Issues logged against [the 0.20 milestone](https://github.com/openaustralia/righttoknow/milestones/v0.20%20update).

[2015-04-12 04:04] henare opened #485 "Visited link colour different"
It's lightblue whereas we don't differentiate currently.

[2015-04-12 04:04] henare opened #486 ""Environment" category not migrated from theme into database"

[2015-04-12 04:08] henare opened #487 "Select an authority page layout different"
The layout of this page has changed in 0.20:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7104350/451db300-e11d-11e4-9c96-aca91984808b.png)

WDTK for comparison:

![selection_002](https://cloud.githubusercontent.com/assets/48945/7104351/4d31c446-e11d-11e4-861c-d7b50d7e9778.png)

[2015-04-12 04:43] henare opened #488 "Select authority page refers to the UK"
http://test.righttoknow.org.au/select_authority "name of the UK public authority" and also "Ministry of Defence"

[2015-04-12 04:45] henare commented on #487
Non-responsive looks OK:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7104407/8a4f68ba-e122-11e4-9e07-6a2f6e2b50d1.png)

[2015-04-12 05:13] henare commented on #487
Can you please take a look at this @equivalentideas?

To reproduce checkout the `staging` branch from our Alaveteli fork and add changes to the `v0.20` branch of our theme which will be added to #489.

[2015-04-12 05:15] #488 closed, assigned to henare

[2015-04-12 05:15] #485 closed, assigned to henare

[2015-04-12 05:20] henare commented on #486
Turns out we had a duplicate category in production, oops. Fixed in c1bb012462dc916c877b9cac7581e97b9e3050f6

[2015-04-12 05:20] #486 closed, assigned to nobody

[2015-04-12 05:33] henare opened #490 ""Preview your request" button not aligned"
It's not left aligned with the rest of the content, is this a bug?

![selection_001](https://cloud.githubusercontent.com/assets/48945/7104500/39ed91c4-e129-11e4-8639-a355399ab740.png)

[2015-04-12 06:16] henare commented on #379
I've given things a pretty good test. Once #487 is fixed we're ready to go.

[2015-04-13 01:05] equivalentideas commented on #487
fixed by https://github.com/openaustralia/righttoknow/commit/411f5b33d8a601897e77146aabb42a4d2c63d726

[2015-04-13 01:05] #487 closed, assigned to equivalentideas

[2015-04-13 01:12] equivalentideas commented on #487
Just a note that your screenshot of WDTK is actually at version .21 , I'm made this match the layout at [.20](https://github.com/mysociety/alaveteli/blob/823e58dc69960c600230b10604a0051359173f85/app/assets/stylesheets/responsive/_new_request_layout.scss) .

![screen shot 2015-04-13 at 11 11 04 am](https://cloud.githubusercontent.com/assets/1239550/7108560/d14fbffc-e1cd-11e4-974f-4292e9b5881f.png)

[2015-04-13 01:22] benrfairless opened #491 "If a request is successful we shouldn't request status updates on future emails"
https://www.righttoknow.org.au/request/correspondence_referencings_usag#incoming-3487

There has been some back and forth chat, but the request was already marked as successful so we shouldn't be asking people to re-clarify new responses.

[2015-04-13 01:25] equivalentideas opened #492 "remove captcha from sign up form"
In staging there is a captcha form on the sign up form http://test.righttoknow.org.au/profile/sign_in . Unless we have a spam problem and can't think of another fix, I think we should remove it as captchas are a nasty users experience in my opinion.

[2015-04-13 01:32] benrfairless commented on #492
There isn't a problem on staging, but we do have an issue with Spam Accounts in production.

 I would like us to use the new "NOCAPTCHA" if possible, but I think it needs an update to a gem in alaveteli and I don't know how to do that!

##

Ben Fairless
Right to Know Volunteer

e: ben@rightotknow.org.au
w: www.rightotknow.org.au
t: @RighttoKnowAu

[2015-04-13 01:41] equivalentideas commented on #490
No, it's actually part of the current design. Presumably it's meant to make the buttons more eye-catching by breaking the horizontal line of the layout. I don't think it's necessary, and that it makes the page appear dis-ordered. Without usability testing to confirm, I'd say that the distinct button style is attention grabbing enough.

[2015-04-13 01:49] henare commented on #492
I cannot reproduce, can you please check this @equivalentideas?

[2015-04-13 01:52] henare commented on #492
Worked out that Alaveteli shows the CAPTCHA if it detects you're from a foreign country.

@equivalentideas was seeing this because he's using a VPN.

[2015-04-13 01:52] #492 closed, assigned to equivalentideas

[2015-04-13 01:59] henare commented on #491
Probably a good idea but definitely one for :point_up: upstream

[2015-04-13 02:00] henare commented on #490
Thanks @equivalentideas. I'm happy to close this then.

[2015-04-13 02:00] #490 closed, assigned to nobody

[2015-04-13 03:54] henare commented on #379
:package: deployed :point_right:

[2015-04-13 03:54] #379 closed, assigned to henare

[2015-04-13 05:34] equivalentideas commented on #479
This is an upstream issue. The problem stems from the 'padding' on the correspondence boxes being implemented with margin on the elements inside, which is uneven. I'm going to have a quick go at improving the implementation upstream so this is _way_ simpler and then patching it on our end.

[2015-04-13 05:49] henare commented on #482
33 left to delete so I'll do that now.

[2015-04-13 05:57] henare commented on #482
Done.

[2015-04-13 06:02] henare commented on #469
This is opened upstream so I'll close this. We'll deploy it if/when it gets accepted upstream.

[2015-04-13 06:02] #469 closed, assigned to nobody

[2015-04-13 06:12] henare commented on #389
Please reopen if this isn't done.

[2015-04-13 06:12] #389 closed, assigned to benrfairless

[2015-04-13 06:25] #462 closed, assigned to nobody

[2015-04-13 06:57] #481 closed, assigned to henare

[2015-04-13 07:15] henare commented on #483
Deploying this to staging so we can start :bug: :eyeglasses:

[2015-04-13 07:26] equivalentideas commented on #479
This will get fixed https://github.com/equivalentideas/alaveteli/commit/807bcc5f2e415243832e0f8b03f1ac1d36b9c522 get's merged into alaveteli and we update. I'll do a quick patch in our theme that can hold till then.

[2015-04-13 07:28] henare opened #493 "Make a request button overlaps text"
http://test.righttoknow.org.au/select_authority

![selection_002](https://cloud.githubusercontent.com/assets/48945/7111280/251b6518-e201-11e4-9bab-8590ba4523c7.png)

[2015-04-13 07:29] henare opened #494 "Search filters are all over the place"
http://test.righttoknow.org.au/list/all

![selection_001](https://cloud.githubusercontent.com/assets/48945/7111275/ff846066-e200-11e4-8fc3-0ab24ffd56f0.png)

[2015-04-13 07:34] henare opened #495 "Authority show page is very different"
And it has a bunch of display problems:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7111467/587440d6-e203-11e4-99c6-b2bea1efe548.png)

[2015-04-13 07:43] henare opened #496 "Check sign up page for markup changes"
The heading is oddly off to the side.

"Got an account?" seems quite prominent when it's probably not supposed to be.

And various other things: http://test.righttoknow.org.au/profile/sign_in

[2015-04-13 07:51] henare opened #497 "Make a request page looks a bit naff"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7111662/be090a88-e205-11e4-8bff-78bab067d3e3.png)

[2015-04-13 07:52] henare commented on #497
Not sure if or what we want to do about this but thought it was worth noting so we can make a decision.

[2015-04-13 08:04] henare opened #499 "Link goes to wrong search location"
The "Browse other requests for examples of how to word your request." link on the new request page goes to a search for nothing: http://test.righttoknow.org.au/list

e.g. http://test.righttoknow.org.au/new/parks_and_city_services_division_act

On WDTK it's "Browse other requests to '[NAME_OF_AUTHORITY]' for examples of how to word your request."

[2015-04-13 08:09] henare opened #500 "Preview page message headings misaligned"
![selection_002](https://cloud.githubusercontent.com/assets/48945/7111899/f13b658e-e207-11e4-9680-5b50677c3997.png)

I think we just need to line the subject heading up properly. That's what they've done on WDTK:

![selection_003](https://cloud.githubusercontent.com/assets/48945/7111934/4219234c-e208-11e4-923b-42e4d5167a4e.png)

[2015-04-13 08:11] henare opened #501 "Edit your request button is a half-button, half-link mutant!"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7111958/7be8c050-e208-11e4-9e37-8b5b935448ae.png)

[2015-04-13 08:11] henare commented on #501
WDTK has it as a link:

![selection_003](https://cloud.githubusercontent.com/assets/48945/7111990/8f3598c2-e208-11e4-9cf4-7d10240fdfce.png)

[2015-04-13 08:15] henare opened #502 "Messages have extra padding above and below content"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7112044/0c53be4c-e209-11e4-83d1-f31014fd9805.png)

[2015-04-13 08:26] henare commented on #483
I've given everything on staging a pretty good test. There plenty of layout issues and I've logged them all against the [v0.21 milestone](https://github.com/openaustralia/righttoknow/milestones/v0.21%20update).

[2015-04-13 21:24] benrfairless commented on #501
I think we should change it to a link, this emphasises the sending of the request and will help guide people through the process (In my opinion)

[2015-04-13 22:31] henare commented on #501
SGTM.

[2015-04-13 23:53] #479 closed, assigned to equivalentideas

[2015-04-14 00:06] equivalentideas opened #503 "use alaveteli grid system by removing overrides"
In our current [custom.scss](https://github.com/openaustralia/righttoknow/blob/production/assets/stylesheets/responsive/custom.scss#L391) there are lots of places where we override the default widths and layout of Alaveteli. These were mostly added to match our widescreen responsive styles to the non-responsive version of our theme when we [upgraded to the responsive version](https://github.com/op

[2015-04-14 01:07] benrfairless commented on #503
I like this idea, we shouldn't be doing more then required in this repo

[2015-04-14 01:21] #502 closed, assigned to nobody

[2015-04-14 01:31] #501 closed, assigned to nobody

[2015-04-14 01:31] #500 closed, assigned to nobody

[2015-04-14 01:46] henare commented on #499
This bug report is slightly wrong.

If there's no existing requests to an authority it says "Browse other requests..." and I assume wants to send you to a page showing all other requests. If there are existing requests to an authority it says "Browse other requests to '[NAME_OF_AUTHORITY]'..." and links you to that authority page.

[2015-04-14 01:56] henare commented on #499
It's an upstream issue - PR raised: https://github.com/mysociety/alaveteli/pull/2321.

I don't think it's a big enough issue to bother patching on our theme.

[2015-04-14 01:56] #499 closed, assigned to henare

[2015-04-14 02:41] henare commented on #495
Made a bunch of changes:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7129417/86013acc-e2a3-11e4-9d9f-29a93f558c54.png)

I think this is good to close now.

[2015-04-14 02:41] #495 closed, assigned to henare

[2015-04-14 02:41] #494 closed, assigned to henare

[2015-04-14 02:54] #493 closed, assigned to henare

[2015-04-14 05:13] henare commented on #496
I've stripped back a bunch of our styles so we inherit upstream.

Was:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7130735/bb059668-e2b8-11e4-8c21-2d4c0490fedf.png)

Now:

![selection_002](https://cloud.githubusercontent.com/assets/48945/7130737/c2e4de70-e2b8-11e4-8f9f-56e2130bb16a.png)

@equivalentideas do you think we need more changes or is this OK?

[2015-04-14 05:43] henare commented on #497
I've made what I think are the smallest number of changes to match what we already have:

![selection_001](https://cloud.githubusercontent.com/assets/48945/7131016/fc30aeda-e2bc-11e4-8bcd-b9468b941f5a.png)

[2015-04-14 05:43] #497 closed, assigned to henare

[2015-04-14 05:43] henare commented on #496
@equivalentideas said it was good.

[2015-04-14 05:43] #496 closed, assigned to equivalentideas

[2015-04-15 00:05] #483 closed, assigned to henare

[2015-04-15 05:08] henare commented on #482
We missed colleges: https://www.righttoknow.org.au/body/list/college

[2015-04-15 05:39] henare opened #505 "Make it easy for admins to find authorities with no jurisdiction tag"
Our customised theme uses tags to determine what jurisdiction an authority is in. If a public body doesn't have a tag indicating its jurisdiction we just default to Alaveteli's configuration (which is set to the same as Federal on Right To Know).

However since missing a tag is an easy mistake (there are 12 that are missing a jurisdiction tag as I type) it seems like a good check to add to our adm

[2015-04-15 05:48] benrfairless commented on #505
Could we use a Morph scraper to scrape each authority, and report those which don't have a category?

[2015-04-15 05:50] henare commented on #505
It would be pretty cool if we could add another model patch to our theme that adds a validation checking for the presence of a jurisdiction tag when adding/editing an authority.

[2015-04-15 07:01] henare opened #506 "Update response timeframe help to cover other jurisdictions"
https://github.com/openaustralia/righttoknow/blob/338b2d26891b81f326fb5e4dda9a26861f01d2d5/lib/views/help/requesting.html.erb#L187-L211

I'm thinking about keeping the nitty gritty out of this and saying something like, "you should get a response pretty quickly, we'll email you when it's due, and you can find out all the [nitty gritty here](https://github.com/openaustralia/righttoknow/blob/338b2d2

[2015-04-15 07:02] henare opened #507 "Update fees section to cover other jurisdictions"
https://github.com/openaustralia/righttoknow/blob/338b2d26891b81f326fb5e4dda9a26861f01d2d5/lib/views/help/requesting.html.erb#L150-L183

This needs some thought. I want to emphasise to people that they shouldn't have to pay but lots of our laws are broken. We need to do this in a way that informs people but doesn't put them off making a request.

Like the timeframe issue (#506) I'm thinking of kee

[2015-04-15 23:37] #73 closed, assigned to henare

[2015-04-15 23:47] henare opened #508 "[ERROR] request#get_attachment (NameError) "undefined local variable or method `logger' for AlaveteliTextMasker:Module""
[code]

[2015-04-16 01:21] henare commented on #508
I've tried these two things:
- [Switched](https://github.com/openaustralia/alaveteli/blob/519fb84827fb1dad5d49f176967eac4a0c52f517/lib/alaveteli_text_masker.rb#L43) to using Ghostscript compression
- Upgraded `pdftk` to 1.44 (which [Alaveteli says](https://github.com/openaustralia/alaveteli/blob/519fb84827fb1dad5d49f176967eac4a0c52f517/doc/CHANGES.md#upgrade-notes-2) you should be on because earli

[2015-04-16 01:29] henare commented on #508
I've cherry-picked the fix onto `production`, deployed, and we're not getting that error any more.

[2015-04-16 01:29] #508 closed, assigned to henare

[2015-04-16 08:01] benrfairless opened #511 "Account for Public Holidays - ACT"
When I spoke with ACT DET about the site, they raised concerns about us using definitive words (such as "no later than %DATE%") and suggested we either soften the language or get the date right.

[2015-04-16 08:08] benrfairless opened #512 "Add Public Holidays"
We need to add the National Public Holidays, and consider adding ACT ones as well using the new interface.

When that's done, we need to set `WORKING_OR_CALENDAR_DAYS` to `working` in general.yml

[2015-04-16 11:51] benrfairless opened #513 "Admins can't download Email Attachments"
I'm unable to download the email attachments for this message: https://www.righttoknow.org.au/admin/raw_emails/3499

When I click the download button, I'm placed into a Login Loop. Can someone else test this and confirm if this is a problem for them?

[2015-04-16 11:56] benrfairless commented on #513
Seems like it's affecting all the ones I've tried...

[2015-04-16 23:15] #506 closed, assigned to henare

[2015-04-16 23:15] #507 closed, assigned to henare

[2015-04-16 23:24] henare commented on #511
Will be fixed as part of #512.

[2015-04-16 23:24] #511 closed, assigned to nobody

[2015-04-16 23:28] henare commented on #512
SGTM - we should just add all holidays for all states as a matter of course from now on.

We don't need to make any changes - our theme [magically sorts that out](https://github.com/openaustralia/righttoknow/blob/production/lib/model_patches.rb#L46-L53) based on the jurisdiction now.

[2015-04-16 23:35] henare commented on #513
Happens for me too.

I've tested in development and staging and it works OK.

[2015-04-16 23:54] henare commented on #513
The issue was with Varnish. I've fixed our configuration and opened https://github.com/mysociety/alaveteli/pull/2338 upsteam.

[2015-04-16 23:54] #513 closed, assigned to henare

[2015-04-17 01:18] henare commented on #212
We're members: http://foiadvocates.net/?page_id=10289

[2015-04-17 01:18] #212 closed, assigned to henare

[2015-04-17 01:25] henare commented on #20
All the changes for response timeframes are done and deployed so we can do any jurisdiction we want now.

@brfairless said we're missing authorities :(

I've got some test requests ready now.

Not having a complete list of authorities is now the blocker.

[2015-04-19 03:12] benrfairless commented on #512
In that case, I propose we import the [Google iCal Feed](https://www.google.com/calendar/ical/en.australian%23holiday%40group.v.calendar.google.com/public/basic.ics) into RTK. Are there any objections with this approach?

The only downside I see is that the due dates will be wrong if one state doesn't observe a specific public holiday, however that will give the authority more time, not less to re

[2015-04-19 03:40] benrfairless commented on #20
I'm currently going through the list of authorities now.

@henare the NT FOI law (Information Act) says that agencies must be satisfied as to the applicant's identity... How is that going to work in RTK?

[2015-04-19 04:44] benrfairless commented on #20
OK I've updated the spreadsheet with what I can find from the Information Commissioner page and from some other sources. This should now be good to go (I think!)

[2015-04-19 04:49] benrfairless commented on #491
https://github.com/mysociety/alaveteli/issues/2342

[2015-04-19 04:49] #491 closed, assigned to benrfairless

[2015-04-19 04:53] benrfairless commented on #482
All gone now

[2015-04-19 04:53] #482 closed, assigned to nobody

[2015-04-19 04:56] benrfairless commented on #476
I can't replicate this again. Maybe this was a disturbance in the force.

[2015-04-19 04:56] #476 closed, assigned to equivalentideas

[2015-04-19 05:04] benrfairless commented on #456
I've raised this upstream to try and push all search functionality via the search bits of alaveteli - https://github.com/mysociety/alaveteli/issues/2343

[2015-04-19 05:04] #456 closed, assigned to nobody

[2015-04-19 05:08] benrfairless commented on #446
Raised upstream as this affects WDTK as well - https://github.com/mysociety/alaveteli/issues/2344

[2015-04-19 05:08] #446 closed, assigned to nobody

[2015-04-19 09:26] benrfairless opened #515 "Batch Requests present a bug"
I get a bug when attempting to make batch requests in Production:

Sorry, there was a problem processing this page
You have found a bug. Please contact us to tell us about the problem

[2015-04-19 09:37] benrfairless commented on #515
I can't test this in staging as batch processing isn't enabled in staging. Trying to test this in my Vagrant development environment now

[2015-04-19 10:09] benrfairless opened #516 "Sharing requests via Twitter only provides the subject and a link"
When you share a request via twitter, it only provides the subject of the request, a link to the request, and our twitter handle:
https://twitter.com/benrfairless/status/589730438203060224

Suggest we provide a bit more wording, such as:

[2015-04-19 10:10] benrfairless opened #517 "After sharing a request via twitter, users are prompted to follow alaveteli_foi"
Should we be prompting users to follow alaveteli_foi after sharing requests via Twitter?

[2015-04-19 12:25] benrfairless commented on #515
Found this when I did a batch request in Development:

[code]

Full Trace:

[code]

[2015-04-20 01:04] henare commented on #482
Thanks Ben!

[2015-04-20 02:49] henare opened #518 "Message text box overlaps other content on new batch request page"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7222921/9cdd88ce-e75b-11e4-85b7-51fd517eb0bc.png)

[2015-04-20 03:03] #515 closed, assigned to henare

[2015-04-20 03:05] henare commented on #515
Thanks for finding this Ben. My mistake - I should have tested batch requests properly.

I've enabled this in staging because it should be configured as similar to production as possible.

[2015-04-20 03:18] #518 closed, assigned to henare

[2015-04-20 03:38] henare commented on #512
Just be careful of which ones you import. I tested that feed and it includes "holidays" for when daylight savings time starts and ends and a few other ones we don't want.

Also be careful of this bug: https://github.com/mysociety/alaveteli/issues/2347

I'm fine with this. As we say [on the site](https://www.righttoknow.org.au/help/officers#days), "...we try to be as generous as possible in our cal

[2015-04-20 03:44] henare commented on #20
Interesting, I didn't know that!

No idea but we'll find out soon I guess ;)

Awesome, thank you :sparkles: I'm looking at it now.

[2015-04-20 05:53] henare commented on #20
Wow, that list is way better - thanks Ben.

I'm just uploading to staging before rolling this out to production.

[2015-04-20 06:15] henare commented on #20
I found one issue with a name that I've now fixed: http://test.righttoknow.org.au/body/city_of_palmerston_logo_city_of_palmerston

Production time :rocket:

[2015-04-20 07:00] henare commented on #20
And we're live. I've made some sample requests to test the process and once we're happy with that we can make this public.
- https://www.righttoknow.org.au/request/public_comments_on_northern_terr
- https://www.righttoknow.org.au/request/internal_discussions_about_not_i#incoming-3508
- https://www.righttoknow.org.au/request/oldest_will_held_by_will_storage

[2015-04-20 07:00] #20 closed, assigned to henare

[2015-04-20 10:00] benrfairless opened #519 "Remove me from some pages"
You need to remove me from:
- righttoknow/lib/views/help/contact.html.erb

And I would like the below to be updated to reflect clearly that my involvement is past tense
- righttoknow/lib/views/help/credits.html.erb

Thanks in advance guys!

[2015-04-20 23:30] #519 closed, assigned to henare

[2015-04-21 00:02] henare commented on #512
I've added the holidays from that feed for 2015, removing just the most obvious wrong ones.

[2015-04-21 01:08] henare commented on #15
The [GIPA Act says](http://www.legislation.nsw.gov.au/maintop/view/inforce/act+52+2009+cd+0+N) "The Information Commissioner publishes a list of agencies and their contact details" but I can't for the life of me find it anywhere, including data.nsw.gov.au where you'd expect it. I've [asked them](https://twitter.com/henaredegan/status/590316431331360768) where it is.

[2015-04-21 01:15] henare commented on #15
I'm reviewing our list of authorities.

Local government looks good - we have 152 LGAs which seems to be the [right number](https://en.wikipedia.org/wiki/Local_government_areas_of_New_South_Wales#List_of_all_local_government_areas_in_New_South_Wales). We also have a bunch of extra authorities - 14 responsible for noxious weed control and 19 organisations of groups of councils.

NSW state authoriti

[2015-04-21 02:38] henare commented on #15
208 is a reasonable figure. It's about right for the current directory: http://www.service.nsw.gov.au/nswgovdirectory/completelist

13% of email addresses are missing which seems a bit high to me. I've also found a number of instances where the data could be better, e.g. agencies that don't need to be there.

We also need to look at the other list Matthew noted above.

[2015-04-21 04:24] henare commented on #15
Some in that list are there because they're on the [NSW government directory list](http://www.service.nsw.gov.au/nswgovdirectory/completelist) but it's incomplete.

So we have some missing email addresses, small data issues, and missing authorities. All in all this just looks like a bit of manual work to finish off. So:
- [x] Check missing email addresses
- [x] Add common acronyms
- [x] Review exi

[2015-04-21 05:00] henare commented on #505
I've added the `federal` tag to these.

[2015-04-21 07:04] henare opened #520 "Suggest informal applications for NSW requests?"
Many NSW authorities strongly suggest informal requests on [their GIPA pages](http://www.nbmlhd.health.nsw.gov.au/right-to-information/gipa-act/gipa-act):

Of course we're told that about Federal requests too - that most requests should be able to be fulfilled under administrative access. That is completely at odds with the experience on Right To Know so far though.

[2015-04-22 01:33] henare commented on #15
I also remembered we need to add common acronyms so people can easily find authorities like DOCS or ICAC so I've gone through and added the major ones I know about.

I've added all the easily found email addresses but we still have missing emails. There's the usual missing ones for the various esoteric committees (the same as federal). We're also missing some major authorities that don't publish a

[2015-04-22 05:04] #15 closed, assigned to henare

[2015-04-23 05:49] henare opened #521 "HTML version attachment header has overlapping text"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7291206/370d36d0-e9d0-11e4-9889-ac3ce823c60c.png)

[2015-04-23 05:50] henare commented on #521
This obscures the fact you can download the file so I think it's important we deploy a fix soon.

@equivalentideas can you please look at this?

[2015-04-23 23:49] equivalentideas opened #523 "move to vertical form design"
In our theme we override the default form design of labels stacked on top of form inputs:

[Right To Know](https://www.righttoknow.org.au/new/sydney_catchment_authority):
![screen shot 2015-04-24 at 9 46 29 am](https://cloud.githubusercontent.com/assets/1239550/7309837/de042cdc-ea66-11e4-9b1f-d8b7c7b8251b.png)

[Alaveteli Demo](http://demo.alaveteli.org/new/dfh):
![screen shot 2015-04-24 at 9 44 0

[2015-04-24 00:24] #521 closed, assigned to equivalentideas

[2015-04-24 00:29] equivalentideas commented on #503
Steps to this:
- [x] remove override of site max-width. This will make all our pages about 10% wider
- [x] remove hardcoded column widths
- [x] remove hardcoded frontpage widths

[2015-04-24 02:12] equivalentideas commented on #503
There's something a bit more complex going on with the describe_state_form layout that needs another look.

[2015-04-24 02:21] equivalentideas commented on #503
There are quite a few grid overrides relating to our horizontal form label-input design.

Those should be dealt with in #523 .

[2015-04-24 05:35] equivalentideas commented on #523
@henare do you have any thoughts on this?

[2015-04-24 06:27] equivalentideas commented on #425
I think this would be fixed by #523

[2015-04-24 06:55] equivalentideas opened #527 "make authority listings less compressed"
Our public body listings are much more compressed that the alaveteli default. This makes them more scannable without scrolling when you're searching for authorities. But is that change worth the override? I'm not sure, just wanted to note the thought here for later.

![screen shot 2015-04-24 at 4 53 58 pm](https://cloud.githubusercontent.com/assets/1239550/7313971/d8e1dd80-eaa2-11e4-949b-b0372e519

[2015-04-24 07:26] equivalentideas opened #528 "make listing filters less compressed"

[2015-04-24 07:52] henare commented on #523
I don't know what's best usability-wise. I'd lean slightly towards inheriting upstream but that's for technical reasons, i.e. we don't have to maintain the customisation.

[2015-04-24 07:55] #528 closed, assigned to equivalentideas

[2015-04-24 08:00] #415 closed, assigned to equivalentideas

[2015-04-27 01:17] henare opened #532 "NSW not accepting requests via email"
This email seems to suggest they will only accept GIPA requests made in person or by postal mail: https://www.righttoknow.org.au/request/any_document_or_register_declari#incoming-3519

The Act ([s41.4d](http://www.legislation.nsw.gov.au/maintop/view/inforce/act+52+2009+cd+0+N)) also says that requests,

Which isn't promising.

I'm opening this issue so we can discuss what we should do.

[2015-04-27 01:20] henare opened #533 "What jurisdiction(s) should we do next?"
We're missing VIC, QLD, WA, SA, and TAS. We have all data for local government in these jurisdictions.

Should we roll out all local government in these jurisdictions first or do complete states as we'd originally planned?

If we do the later, what state should we do next? We scrapped a bunch of data for VIC so that probably makes sense to do next.

[2015-04-27 04:58] equivalentideas commented on #425
I think this is fixed by #534  :

![](https://cloud.githubusercontent.com/assets/1239550/7341730/9e423c8e-ecea-11e4-9c81-d2fe6fe566e3.png)

[2015-04-27 05:56] henare opened #536 "Date picker appears behind logo"
![selection_001](https://cloud.githubusercontent.com/assets/48945/7342341/f705c24a-ecf5-11e4-85bd-9ebb62c6de66.png)

[2015-04-27 06:44] #523 closed, assigned to equivalentideas

[2015-04-29 01:21] henare opened #537 "Follow up reason highlight has gone missing"
When writing a follow up message there's a section under the heading "What are you doing?" that has a couple of options for the person to choose from. I'm pretty certain this had a red highlight box around it that's gone missing.

[2015-04-29 02:14] henare commented on #533
Can I get your thoughts on this please @kat and @mlandauer?

[2015-04-30 06:16] henare commented on #533
I had a chat to @mlandauer about this earlier today. He reiterated that the least confusing way for users is to do it state by state as the differences in Australia are state-based. It's also the most effective way we can learn about the differences and adjust as we go.

I've emailed Tom & Richard asking if they're willing to go ahead and collect complete data for a few more states, starting with

[2015-04-30 06:16] #533 closed, assigned to nobody

[2015-05-01 00:05] henare opened #538 "Add NSW Parliamentary departments"
I'm guessing they're not officially GIPAable but we should still add them:

http://www.parliament.nsw.gov.au/prod/web/common.nsf/key/TheDepartments

[2015-05-05 00:25] henare opened #539 "Request categorisation scoreboard has odd borders"
Compare:
- https://www.righttoknow.org.au/categorise/play
- http://www.whatdotheyknow.com/categorise/play

I think it's because of the borders I added to tables for the request cost tables in the help section.

[2015-05-27 14:16] schlos commented on #346
+1

[2015-06-08 22:39] henare opened #540 "Blog post announcing addition of NT and NSW authorities"

[2015-06-08 22:45] henare commented on #540
A really helpful suggestion at AlaveteliCon was that when you're first engaging with a set of authorities you should start by pointing out good behaviour as examples for other authorities to follow rather than focussing on bad behaviour.

IIRC it comes from the idea that most authorities want to help but just don't know how to do it properly and only a small set are deliberately trying to frustrat

[2015-06-09 00:32] mlandauer commented on #540
I like! Do it!

[2015-06-10 00:17] henare commented on #540
Overnight I've been thinking how to position this. Mainly in light of some more thinking from #Alaveteli15.

It's about how to promote your site and it's written up in [this blog post](https://www.mysociety.org/2015/06/02/ten-ways-to-promote-alaveteli-sites/) under "Make FOI concrete". It's something we think a lot about but it's worth repeating.

However these announcement blog posts never get a

[2015-06-10 05:26] henare commented on #540
We've got a post ready to publish tomorrow around 10.

[2015-06-11 00:50] henare commented on #540
:newspaper:  https://www.openaustraliafoundation.org.au/2015/06/11/a-step-forward-for-open-government-in-nsw-and-the-nt/

[2015-06-11 00:50] #540 closed, assigned to henare

[2015-06-11 04:24] henare commented on #378
I've removed it and make our colour match the site.

[2015-06-11 04:24] #378 closed, assigned to nobody

[2015-06-11 06:30] henare commented on #176
The data that scraper has is pretty messy and needs quite a bit of work which unfortunately Richard didn't work on.

Once I've got that cleaned up I'm going to add Victoria to the site next.

[2015-06-11 23:24] henare commented on #176
### Vic Authorities Cleanup TODO
- [x] Remove abbreviations from names
- [x] Merge hospitals into health regions (highlighted)
- [x] Check ministers
- [x] Check department names (many seem to have changed since the election - [see example](http://dsdbi.vic.gov.au/)) (they were already changed in our data it's just the Vic gov websites are a total shitfight of old sites and stuff)
- [x] Check "offi

[2015-06-12 00:28] henare commented on #176
I'm going to remove ministers from the list of public authorities for Victoria. When Richard sent us the list of authorities he said it best:

Another huge hassle is that with every ministerial reshuffle and change of government, ministers' titles change slightly and weirdly. Furthermore at the federal level on RTK the department almost always responds anyway so it's not worth us maintaining the d

[2015-06-12 03:39] henare commented on #176
OK I've done a pretty good clean up. Now moving on to uploading them:
- [x] Upload authorities
- [x] Update categories
- [x] Update theme (follow example in 3eca1fd1d7e0e3b0aef39a4dbbede148fa625cf5)

[2015-06-12 04:06] #176 closed, assigned to henare

[2015-06-12 04:39] henare commented on #61
I think we know we want more human categories but I'm going to close this until we know what that means.

[2015-06-12 04:39] #61 closed, assigned to nobody

[2015-06-12 04:40] henare commented on #123
This is open upstream so I'm closing this.

[2015-06-12 04:40] #123 closed, assigned to nobody

[2015-06-12 04:40] henare commented on #136
We should just switch to Cuttlefish.

[2015-06-12 04:44] henare commented on #138
These exemptions are complex and lengthy. I don't think we're going to be able to create simple to understand and short notes.

In any case that would add cognitive overhead for the requester and it would mean that people would not make requests for those types of documents even though they want them. By people making requests on RTK, even if they're refused, it builds up a body of evidence that t

[2015-06-12 04:44] #138 closed, assigned to nobody

[2015-06-12 04:47] henare commented on #143
Opened upstream: https://github.com/mysociety/alaveteli/issues/2552

[2015-06-12 04:47] #143 closed, assigned to nobody

[2015-06-12 04:50] henare commented on #174
It's just another thing for the requester to do so I'm now voting no.

[2015-06-12 04:50] #174 closed, assigned to nobody

[2015-06-12 04:52] henare commented on #186
Authority pages do this better now: https://www.righttoknow.org.au/body/dibp

[2015-06-12 04:52] henare commented on #193
Fixed in the new wide design.

[2015-06-12 04:52] #193 closed, assigned to nobody

[2015-06-12 04:53] henare commented on #218
This should probably be addressed as part of a broader bit of thinking about the site design so I'll close this issue.

[2015-06-12 04:53] #218 closed, assigned to nobody

[2015-06-12 04:54] henare commented on #223
They're on the same line now so I think this is fixed.

[2015-06-12 04:54] #223 closed, assigned to nobody

[2015-06-12 04:55] henare commented on #228
Meh. Reopen if you really want this.

[2015-06-12 04:55] #228 closed, assigned to nobody

[2015-06-12 05:01] henare commented on #246
This should be done upstream.

[2015-06-12 05:01] #246 closed, assigned to nobody

[2015-06-12 05:02] henare commented on #250
It doesn't any more.

[2015-06-12 05:02] #250 closed, assigned to nobody

[2015-06-12 05:04] henare commented on #252
It's now the title of the page so I guess this is fixed.

[2015-06-12 05:04] #252 closed, assigned to nobody

[2015-06-12 05:05] henare commented on #254
This is open upstream so I'll close this.

[2015-06-12 05:05] #254 closed, assigned to nobody

[2015-06-12 05:05] henare commented on #257
Should be opened upstream.

[2015-06-12 05:05] #257 closed, assigned to nobody

[2015-06-12 05:07] henare commented on #304
Fixed.

[2015-06-12 05:07] #304 closed, assigned to nobody

[2015-06-12 05:10] henare commented on #366
Reopen if any else would find this useful.

[2015-06-12 05:10] #366 closed, assigned to nobody

[2015-06-12 05:11] henare commented on #416
I think this should be split out into upstream issues.

[2015-06-12 05:11] #416 closed, assigned to nobody

[2015-06-12 05:12] #425 closed, assigned to equivalentideas

[2015-06-12 05:14] henare commented on #426
#224 is a related kind of problem.

[2015-06-12 05:16] henare commented on #463
Some hospitals in Victoria come under the banner of a district health authority. I included their names in the notes field so they're still searchable but all the requests will go to the one authority.

This probably wouldn't work for schools since there'd be heaps listed under the department of education.

[2015-06-12 05:17] henare commented on #464
Closing since this is open upstream.

[2015-06-12 05:17] #464 closed, assigned to equivalentideas

[2015-06-12 05:18] #503 closed, assigned to equivalentideas

[2015-06-12 05:20] henare commented on #505
That search works pretty well so I'll close this.

[2015-06-12 05:20] #505 closed, assigned to nobody

[2015-06-12 05:20] henare commented on #516
Should be raised upstream.

[2015-06-12 05:20] #516 closed, assigned to nobody

[2015-06-12 05:22] henare commented on #520
Closing this until we have a better idea of how things are working in NSW.

[2015-06-12 05:22] #520 closed, assigned to nobody

[2015-06-15 03:42] equivalentideas opened #541 "Shift the character of the project to being more a general tool for information access"
Looking at the copy and visual character of Right To Know, it seems to be primarily about keeping government accountable. I wonder whether it could be more accessible to more people if it framed FOI as “less of a bit deal”. For example, as just a simple way to get information that's useful to citizens for their own direct use, rather than in a monitorial role.

This came to me as a thought to note

[2015-09-10 05:25] henare commented on #160
It took me a while to pick this apart so here's an overview:
- Email for the domain `righttoknow.org.au` points at Google's servers like any other Google Apps configuration
- Under Gmail's advanced settings (Apps > Google Apps > Settings for Gmail > Advanced settings)
  - Go to "Hosts" and add "Right To Know server" with host "www.righttoknow.org.au"
  - Under "Default routing" we have two match r

[2015-09-28 06:19] henare opened #542 "[security] Hotfix release - caching of signup tokens"
We applied this fix manually several weeks ago when we were given early warning of the problem:

https://groups.google.com/forum/#!topic/alaveteli-dev/6tkJi3y02_8

We need to upgrade to a fixed version so we don't forget an accidentally redeploy a vulnerable version.

[2015-10-22 14:30] benrfairless opened #543 "Unable to update profile picture"
I can't seem to update my profile picture. I uploaded the new photo and it hasn't changed throughout the site.

[2015-10-22 21:28] henare commented on #543
Looks like there's a new picture to me - just caching?

[2015-10-23 03:29] benrfairless commented on #543
Could well be, maybe I'm too impatient!

[2015-10-23 03:33] henare commented on #543
Is it fixed now?

[2015-10-23 04:18] #543 closed, assigned to nobody

[2015-11-16 13:10] benrfairless opened #544 "Set all responses to "Authority Only" or limit responses"
Can we limit responses to the domain of the authority? Should prevent SEO spam

[2015-11-16 21:03] henare commented on #544
This isn't a big issue AFAIK and we don't understand the consequences of making this change (what would be the impact on real responses?) so I'm closing this.

If there is an issue, please open a new issue that describes the issue, rather than the solution :sparkles:

[2015-11-16 21:03] #544 closed, assigned to nobody

[2015-12-21 11:28] benrfairless opened #545 "The PDF on this email appears to be broken"
https://www.righttoknow.org.au/request/k5_release_date#incoming-4427

Downloading the PDF looks like this:
<img width="512" alt="pdf error" src="https://cloud.githubusercontent.com/assets/6841582/11929795/039bfe14-a819-11e5-8244-7e0bdd55c204.png">

But viewing it in HTML works fine: https://www.righttoknow.org.au/request/1422/response/4427/attach/html/2/LEX%204659%20FOI%20Hamming%20K5%20RHDV%20vir

[2016-01-05 00:23] henare opened #546 "Mail server delivery logs aren't being imported"
Looks like this may have happened after the server upgrade.

[2016-01-21 01:40] henare opened #547 "Character entities show in title when trying to follow a request"
Reported here: https://twitter.com/grumpymojo/status/689968032844779520

e.g. https://www.righttoknow.org.au/track/request/australia_posts_standard_postcod

Looks OK on the UK site, maybe we just need to update Alaveteli? https://www.whatdotheyknow.com/track/request/robocall_and_telemarketer_blockl

[2016-01-27 05:51] henare commented on #546
It was because after the server upgrade our rsyslog configuration was reset so that Postfix's logs weren't going into their own directory. This meant they weren't rotated by logrotate and subsequently picked up by Alaveteli.

I just needed to make this change: http://alaveteli.org/docs/installing/email/#ubuntu

I also moved the log from it's old place, ran logrotate and the import script and we no

[2016-01-27 05:51] #546 closed, assigned to henare

[2016-01-27 06:48] henare commented on #311
Another reason we need to do this:

[2016-01-27 07:18] henare commented on #311
I've just had another look at what we need to do to for this. It looks like a real pain to upgrade it just for Alaveteli because Alaveteli is not RVM aware and we can't really just change the commands that Alaveteli runs.

So that means we're probably going to have to bite the bullet and upgrade the default Ruby for the deploy user on kedumba. That mainly means ensuring OA runs OK - TVFY and PA al

[2016-02-17 01:18] kat opened #548 "not seeing all analytics - landing page not tagged properly?"
Just saw the following error in Analyics:

Clicks and Sessions Discrepancy
The AdWords ad destination URL www.righttoknow.org.au/ has significantly more AdWords clicks than Analytics sessions, most likely because the ad landing page is not properly tagged with Google Analytics.

[2016-02-24 12:18] kat commented on #548
checking into this is seems the wrong Google Analytics tracking code is on a couple of pages - here's one report - login to analytics to see the other one. 'just' need to update the code to see how it's really performing. @henare @equivalentideas either of you interested in this one? Incentive? Our reported clicks will go up, they're not all being tracked now.

![screen shot 2016-02-24 at 11 08 50

[2016-02-24 12:27] kat opened #549 "optimise adwords to get more people using RTK"
Using Information from Myf about [targeting Adwords for RTK](https://docs.google.com/document/d/1RjYMiClyzQBEu8qYZOLQhKn07_9lGI1b4NdMORUHmCE/edit#) we may be able to increase the number of people who find and use RTK.
Our current results, due entirely to @henare's magnificent efforts last year upon the occasion of delightful return of donated Adwords. This comprises currently of one ad and a bucke

[2016-03-01 06:16] henare commented on #549
That's :point_up: all the stats for the RTK ad since we got our AdWords back in July 2015.

[2016-03-01 06:22] henare commented on #548
@kat it's now showing me this:

![selection_004](https://cloud.githubusercontent.com/assets/48945/13419412/162e7fc0-dfd2-11e5-967f-ac8810836cb1.png)

It's saying stuff about latency so it could be because Right To Know is s l o w.

[2016-03-02 03:04] kat commented on #549
Round one. Have
- set up a campaign specifically for RTK rather than inside catchall All OAF Projects
- copied over existing related keywords
- added a bunch of authorities as keywords (some of the authorities' names are not very discoverable being over the character limit and number of words for keyword search, there are also some with special characters like commas and apostrophes that google do

[2016-03-02 03:06] kat opened #550 "download all the FOI requests' text"
to analyse what words are used in request bodies and titles for #549 improve adwords

[2016-03-02 03:16] henare commented on #550
https://github.com/openaustralia/all_alaveteli_requests will probably come in handy.

[2016-03-16 09:33] brtrx commented on #527
Whitespace and differentiating content types improve scanability.
More compressed information is not more scannable, and page length doesn't reduce scanability.

So I'd suggest:
- Increase the whitespace before each authority title
- Differentiate descriptions from metadata to give the content more shape (e.g. by making the description text darker, giving it more contrast than metadata - by which

[2016-03-23 00:02] henare commented on #346
Prior art:
- http://www.detentionlogs.com.au/
- http://blog.fragdenstaat.de/2016/askparliament/

[2016-04-02 03:34] henare opened #551 "Reporting a request doesn't work - email bounces"
To reproduce:
- Login as a user with a yahoo address
- Report a request
- The email appears to come from the yahoo address and `kedumba` tries to send it to contact@righttoknow.org.au
- Google rejects it:

- User gets bounce message
- :cry:

We've whitelisted email from `kedumba` on Google Apps so that's obviously not helping.

[2016-04-18 05:10] henare opened #552 "Cannot send batch requests"
Reported by a requester:

Sure enough we got an exception report:

[code]

[2016-04-18 05:29] #552 closed, assigned to henare

[2016-05-23 02:31] equivalentideas commented on #545
A couple more examples of this bug in the decision letters for these requests:
- https://www.righttoknow.org.au/request/k5_release_date#incoming-4427
- https://www.righttoknow.org.au/request/social_media_policy_8#incoming-5504

All our current examples are decision letters. I wonder if that means anything?

[2016-06-13 12:21] henare commented on #551
Marvellous - this has been [fixed upstream](https://github.com/mysociety/alaveteli/pull/3224). We "just" need to upgrade now.

[2016-06-14 13:23] Gemmamysoc commented on #549
Hey guys,

I was interested to see if the improvements you've made to Adwords have had an effect on traffic to the site - and they have!

When comparing stats from 2 March 2016 - 12 June 2016 with the three months prior (2 Dec 2015 - 2 March 2016) these are the results:
- The number of new users coming to the site via Adwords has risen by 61% (the number of new users overall has risen by 49.54%).

[2016-06-14 21:55] henare commented on #549
@Gemmamysoc thanks so much for looking into this and posting it here! :sparkles:

[2016-06-15 10:01] Gemmamysoc commented on #549
No worries! This might be a good thing to share with other Alaveteli admins who haven't yet set up Adwords, to show how it can really help - would you mind me sharing this?

[2016-06-15 23:58] henare commented on #549
Nope, please do @Gemmamysoc :+1:

[2016-06-16 08:19] Gemmamysoc commented on #549
Great stuff, cheers!

[2016-07-04 07:08] henare opened #553 "Tie requests to policies on TVFY"
[From today's design workshop.]

[2016-07-04 07:10] henare opened #554 "Connect to international groups to get them to submit Australian requests"
[From today's design workshop.]

[2016-07-04 07:10] henare opened #555 "How do we integrate RTK into an activist's toolkit?"
[From today's design workshop.]

[2016-07-04 07:14] henare opened #556 "Identify request themes"
Identify common topics from requests already on RTK. Once we know these topics we're then going to see if we can identify ways to grow the number of effective requests for those topics.

[From today's design workshop.]

[2016-07-04 07:15] henare opened #557 "Get people already using FOI to use RTK"
Who is already getting stuff done on RTK and how are they doing that? If we know this then we can spread that knowledge to other people and groups.

[From today's design workshop.]

[2016-07-04 11:02] henare commented on #556
Very relevant to our interests https://github.com/mysociety/alaveteli-experiments/blob/master/experiments/what-are-popular-topics-on-alaveteli-sites.md

[2016-07-05 05:46] kat opened #558 "give user accountability via access to site stats"
first step access the stats that are visible in the admin interface

[2016-07-05 05:48] kat opened #559 "show gratitude to community members when they help a requester"
Currently site admins send personal messages of thanks when they're alerted to helpful activity by someone in the RTK community. We could make a point of thanking through the system and more often.

[2016-07-05 05:50] kat opened #560 "ask volunteers what works about RTK"
We value our volunteers and want to know what they think is working about RTK. It's also part story gathering, part mapping for future improvement co-design.

[2016-07-05 06:01] kat opened #561 "celebrate helpful volunteers actions"
when we've thanked a volunteer (see #559) celebrate and show others that they've been helpful

[2016-07-05 06:03] kat opened #562 "make it easy for groups and organisations to request"
requests are sometimes in a group interest, not just for that of a single person. Make it easy for a group to work on a request.

[2016-07-05 06:07] kat opened #563 "research how FOI is used in community campaigning?"
Community members campaign using lots of different strategies and actions. Explore where  FOI requests fit into a bigger campaign/action.

[2016-07-05 06:12] kat opened #564 "make FOI easier to include in campaigning actions"
(dependent on #563)

[2016-07-05 06:25] kat opened #565 "make tagline for site 'frank fearless and open""
the way we should all be right?

[2016-07-05 06:29] henare opened #566 "Research effectiveness of state and local requests"
- [x] [How many are there across the different states and local government authorities?](https://github.com/openaustralia/righttoknow/issues/566#issuecomment-247234773) 302 (about 15% since we launched, 29% since the first state request was made)
- [x] [Are they replied to?](https://github.com/openaustralia/righttoknow/issues/566#issuecomment-247236644) By and large, yes. However 1 in 10 _don't_ g

[2016-07-05 06:30] henare commented on #532
We know that it's not uncommon for NSW authorities to accept requests but there's plenty of problems to work through. We should look into this as part of a broader bit of research. I've opened #566 for that.

[2016-07-05 06:30] #532 closed, assigned to nobody

[2016-07-05 06:36] kat opened #567 "International Right to Know day event"
on international Right to Know day:
- International FOI muster (around a problem of global proportions) - eg Climate Change
- Maybe related to above... Get people in different countries to make requests from other countries (That idea from Danny OBrien years ago on one of their retreats).
- FOI Awards - include FOI mentor award, celebrate agencies that have worked well or made big improvements in

[2016-07-05 06:36] henare opened #568 "Upgrade to Alaveteli 0.25.0.1"
It's the [latest version](https://github.com/mysociety/alaveteli/blob/develop/doc/CHANGES.md#version-02410) - we're [currently on 0.21](https://github.com/openaustralia/alaveteli/blob/production/doc/CHANGES.md).
#311 is a pre-requisite.

[2016-07-05 06:37] henare commented on #542
Closing in favour of #568.

[2016-07-05 06:37] #542 closed, assigned to nobody

[2016-07-05 06:39] kat opened #569 "Work out ways to encourage very local requests"

[2016-07-05 06:39] henare commented on #551
This should get fixed by #568.

[2016-07-05 06:44] kat opened #570 "have high profile people to make requests on issues they care about"
During our conversation someone suggested that people don't care about FOI and that they follow celebrities. My flippant retort of a suggestion in response is: so get celebrities to make FOI requests!

An example might be Ellen Degeneres who's been campaigning to save the great barrier reef. So an organisation campaigning to save the reef.  if she put in an FOI request around how decisions were ta

[2016-07-05 06:58] kat commented on #565
This phrase is in response to and making fun of an often used phrase used by those who try to argue that public service shouldn't be open because people can't give 'frank and fearless' advice if they think that advice has public exposure. It's the same lame argument used by those who didn't want to publish the Hansard. No one would get away with arguing this is a good idea today.

[2016-07-05 07:04] kat opened #571 "tie requests to TVFY policies"
where they are related.

[2016-07-05 07:07] henare commented on #553
Duplicate of #553 - we must have had the same PostIt :smile:

[2016-07-05 07:08] #553 closed, assigned to nobody

[2016-07-21 05:57] henare commented on #311
That doesn't feel like the right solution - we should be able to independently control the Ruby versions of our apps.

And, while I'd dearly like to do this, it is a huge job. We have to switch from Hpricot to Nokogiri, which is at the core of the OA parser.

[2016-07-21 06:09] henare commented on #311
I'm going to revisit each bit in more detail.

## Deployment

I've had a look at how the rbenv stuff in Alaveteli works - it just changes the `$PATH`. It's a massive hack but can we set that with `--set-before`? https://rvm.io/deployment/capistrano#environment

## Passenger

We already do this for our other apps. Just set `PassengerRuby` in Apache.

## Cron

We should just prefix these commands wi

[2016-07-22 04:55] henare commented on #311
I think the best idea is to just try and upgrade staging - that's what it's there for. It's currently deployed at the same version as production so that's easy.

I think we should just upgrade to the latest Alaveteli-supported Ruby version. There doesn't feel like much point in progressively upgrading because Alaveteli is supposed to be tested at all version. So in theory it's not like a normal so

[2016-07-22 05:21] henare commented on #311
Ruby 2.0 is the latest version Alaveteli supports for the Alaveteli we're currently on, which is 0.21. We've already got 2.0.0-p353 installed and use it for PA and TVFY.

[2016-07-22 06:44] henare commented on #311
Yeah, nah. Because `:default_environment` is a Hash it's impossible to [set on the command line](https://github.com/capistrano/capistrano/blob/v2.15.4/lib/capistrano/cli/options.rb#L229-L240). Good thing too - it's the kind of nasty I'd be tempted to do but it's just not the right solution.

I've fiddled with a few other ideas like setting stuff in `.caprc` but none of it feels right because you'r

[2016-07-22 07:42] henare commented on #311
Here's the plan of attack I've worked through in my head:

## Pre-migration

Create user
Install rvm, Ruby 2.0, and bundler

Add commented-out config change for Postgres
Add commented-out config for new Ruby to Apache
Add commented-out config change for init script
Add commented-out cronjobs to new user
Add MAILTO to crontab so mails don't get sucked up by Alaveteli production (the username matche

[2016-07-25 08:54] henare commented on #311
I've just done the migration with staging. It took about 30 minutes of downtime, mainly to change file ownership and to install gems.

[2016-07-25 13:17] henare commented on #311
Both production and staging are now running under a new user, `alaveteli`, and on Ruby 2.0.0.

In the init scripts I've also had to manually set the `$GEM_PATH` environment variable as they weren't picking it up and couldn't find the bundler gem.

[2016-07-25 13:17] #311 closed, assigned to henare

[2016-07-25 13:19] henare commented on #311
I also had to make [this change](https://github.com/openaustralia/righttoknow/commit/786894ef6e329ef994d5b59472bc3a73708c6f70) to workaround an issue one of the cronjobs had.

[2016-07-26 00:11] henare commented on #311
I had to create a `.pgpass` file so that the graph generation cronjobs could work.

[2016-07-26 23:29] henare opened #572 "Varnish purge script still running under Ruby 1.8"
[code]

[2016-07-26 23:32] henare opened #573 "check-recent-requests-sent not finding logs"
Has this just started to happen after the Ruby upgrade?

[code]

[2016-07-26 23:36] henare opened #574 "alert-not-clarified-request cronjob not working"
Looks like it's been broken for a while:

[code]

[2016-07-27 07:14] henare commented on #572
This is because when you start the init script with sudo it loads the Alaveteli stuff with start-stop-daemon. This doesn't load a login shell for the alaveteli user and so it doesn't load RVM.

The alert tracks thing was doing the same - it's just I started it from the alaveteli user so it inherited the login shell and therefore RVM.

I've modified both init scripts to explicitly load the RVM wrap

[2016-07-27 07:14] #572 closed, assigned to henare

[2016-07-27 07:41] henare commented on #573
load-mail-server-logs is not working because logrotate stopped working about a month ago (this is also why we've been having disk space issues again). If logrotate doesn't do its job then load-mail-server-logs doesn't see new logs for it to read.

[2016-07-27 07:51] henare commented on #573
I've forced run logrotate (which also freed about 40GB space), loaded the logs into Alaveteli, and this is now running without complaints again.

If this happens again we should check logrotate is working.

[2016-07-27 07:51] #573 closed, assigned to henare

[2016-07-27 07:58] henare commented on #574
It was because this request had a described state of "waiting clarification" yet it had no incoming messages. We must have accidentally set that state when we hid this request for personal information.

I corrected the described state to "waiting response" and now the cronjob runs fine.

[2016-07-27 07:58] #574 closed, assigned to henare

[2016-07-27 08:14] henare opened #575 "mailin script not being run under Ruby 2.0"
Because postfix calls the script, albeit as the alaveteli user, it doesn't load a login shell and therefore doesn't load RVM. Doh!

[2016-07-27 08:20] henare commented on #575
I tested this by running this bash script and redirecting the output `source ps_repeat >> ps_log.txt`:

[code]

Then I'd send a test email and once it was in Alaveteli, look through the ps_log.txt file.

[2016-07-27 08:23] henare commented on #575
By prefixing the commands in the Postfix config with `rvm-exec` we can get it to run under Ruby 2.0. The config now looks like:

[code]

[2016-07-27 08:23] #575 closed, assigned to henare

[2016-07-28 02:45] henare opened #576 "Can't download a particular PDF attachment on one request"
Trying to download this throws an exception after a very long wait: https://www.righttoknow.org.au/request/1190/response/4122/attach/4/FOI%20request%20Operation%20Fortitude%20as%20released.pdf

[code]

[2016-07-28 02:57] henare commented on #568
We're now at 0.22.0.4.

[2016-07-28 03:01] henare opened #577 "Display of text and anchor at top and bottom of message is squished"
After upgrading to 0.22.0.4 from 0.21:

![selection_001](https://cloud.githubusercontent.com/assets/48945/17199833/56ae11da-54c3-11e6-9121-cde9de291054.png)

[2016-07-28 03:25] henare commented on #577
git bisect tells me it's due to https://github.com/openaustralia/alaveteli/commit/a8c6254b0a7565f4536a2fa3c1cc588b066d9e77

[2016-07-28 04:09] #577 closed, assigned to henare

[2016-07-28 06:45] henare commented on #164
Fixed upstream: https://github.com/mysociety/alaveteli/pull/2734

[2016-07-28 06:45] #164 closed, assigned to nobody

[2016-07-28 06:55] henare commented on #568
We're now at 0.22.4.7.

There's a bug in the latest release for that series 0.22.4.8 - it has a backported fix that's not compatible with that version's RSpec so one test fails. Obviously that's not a problem but I can't bring myself to deploy something with a broken build :)

[2016-07-28 07:29] henare opened #578 "Other country message poorly displayed in our theme"
![selection_001](https://cloud.githubusercontent.com/assets/48945/17204427/d0a20d1e-54e8-11e6-87ad-21ef75a0f522.png)
- [x] the link text is unreadable
- [x] there is extra space above the notice

[2016-07-28 07:37] henare opened #579 "Create higher resolution version of logo"
Alaveteli 0.23 introduces a highdpi version of the logo. They say:

[2016-07-28 07:41] henare commented on #579
I've tried to find a vector version of our logo to do this but it isn't in this repo and it wasn't attached to [the issue](https://github.com/openaustralia/righttoknow/issues/22).

@kat can you please have a look and see if you can find a copy? It would be also awesome if you could create the higher resolution raster for me to put up too.

[2016-07-28 07:43] henare commented on #579
So I can proceed with the upgrade I might just set it to the same file for the moment. I'm guessing that's what's already happening for these users so it won't be a regression.

[2016-08-03 03:07] henare commented on #308
As part of the capistrano process Alaveteli now runs `/etc/init.d/alaveteli restart`. I've updated that init script to also call restart on the other init scripts for Alaveteli so this should be fixed.

[2016-08-03 03:07] #308 closed, assigned to nobody

[2016-08-03 03:09] henare commented on #536
Seems to pop down now so I think this is fixed:

![selection_001](https://cloud.githubusercontent.com/assets/48945/17352640/8c754a10-597b-11e6-9269-2d22ad0cfcd4.png)

[2016-08-03 03:09] #536 closed, assigned to nobody

[2016-08-03 03:15] henare opened #582 "Admins cannot use remember me when signing in"
If I check "remember me" when I sign in it appears I've signed in OK but then when I click something else I'm signed out. Steps to reproduce:
- Go to sign in page: https://www.righttoknow.org.au/profile/sign_in
- Sign in and check "remember me"
- You'll be shown a page where you're signed in
- Click a link (any link) and on the subsequent page you're signed out

This happens in production and stag

[2016-08-03 03:17] henare commented on #582
If you try to use remember me when signing in [as an admin](https://www.righttoknow.org.au/admin/) it just won't log you in - you're sent straight back to the same sign in page.

[2016-08-03 03:35] henare opened #583 "Sign in error box missing right padding"
Makes it looks squished:

![selection_001](https://cloud.githubusercontent.com/assets/48945/17353032/1dc0e4cc-597f-11e6-8a53-543dcd3e85b6.png)

[2016-08-03 03:37] henare commented on #582
I've tested this with a non-admin account and they don't seem to be affected.

[2016-08-03 04:00] henare opened #584 "We get a lot of requests for, or containing, personal information"
This is a problem because it exposes personal information and administrators have to go in and manually hide requests.

I'd like to quantify the problem and then work out what we should do about it. Starting this week I'm going to note down actions we take.
- Week beginning 2016-08-01: 2 requests hidden
- Week beginning 2016-08-08: 2 requests hidden
- Week beginning 2016-08-15: 2 requests hidden
-

[2016-08-03 04:05] henare commented on #551
It's fixed in Alaveteli 0.25 and above.

[2016-08-04 02:40] henare commented on #582
@equivalentideas can you please see if you can reproduce this with your account?

[2016-08-04 02:45] henare commented on #468
Since this is opened upstream I'll close this issue.

[2016-08-04 02:45] #468 closed, assigned to nobody

[2016-08-04 02:50] henare commented on #178
Raised upstream: https://github.com/mysociety/alaveteli/issues/3428

[2016-08-04 02:50] #178 closed, assigned to nobody

[2016-08-04 02:51] henare commented on #175
Raised upstream: https://github.com/mysociety/alaveteli/issues/3429

[2016-08-04 02:51] #175 closed, assigned to nobody

[2016-08-04 02:55] henare commented on #177
@benrfairless when Alaveteli creates your user account you get [assigned a random time](https://github.com/mysociety/alaveteli/blob/8aa8e4f23f72a70be3eb87b5b4c93e9bc70f411e/app/models/user.rb#L75) that your alert will be sent. The intention of this is to spread alerts out during the day.

This is expected so I'll close this.

[2016-08-04 02:55] #177 closed, assigned to nobody

[2016-08-04 04:55] equivalentideas opened #585 "Style of popup link makes it unreadable"
The style of links in the site "popup"/notice is too low contrast against the green background to be read.

![screen shot 2016-08-04 at 2 52 10 pm](https://cloud.githubusercontent.com/assets/1239550/17390764/73270688-5a53-11e6-8212-52104fa8dc7e.png)
![screen shot 2016-08-04 at 2 52 25 pm](https://cloud.githubusercontent.com/assets/1239550/17390765/7329f30c-5a53-11e6-835c-874f1d3f791f.png)

[2016-08-04 04:56] henare commented on #585
Duplicate of #578.

[2016-08-04 04:56] #585 closed, assigned to nobody

[2016-08-04 05:07] equivalentideas opened #586 "The 'other country notice' popup appears, when I'm in Australia, on pages that aren't the home page"
The 'other countries' notice is appearing when I'm in Australian in staging. Oddly it only appears when I'm not on the homepage. It's tells me about an 'important message for visitors outside Australia', which isn't relevant to me.

![screen shot 2016-08-04 at 3 01 20 pm](https://cloud.githubusercontent.com/assets/1239550/17390944/f72d4aae-5a54-11e6-8930-dcbf4b33f32b.png)

[2016-08-04 05:16] henare commented on #586
My hunch is that a change to the other country processing code means that it's picking up the IP address as localhost from Varnish.

[2016-08-04 05:33] henare commented on #586
My hunch was wrong. The code [uses `request.remote_ip`](https://github.com/mysociety/alaveteli/blob/0.23.2.4/app/controllers/application_controller.rb#L483) which correctly sets the IP based on X-Forwarded-For. You can see this [in debug](http://test.righttoknow.org.au/admin/debug), it has the correct IP address.

@equivalentideas I can't reproduce this. Can you please test without a VPN?

[2016-08-04 05:37] equivalentideas commented on #586
There's no notice without the VPN. And always a notice with the VPN no matter what country it's set to use.

[2016-08-04 05:37] henare commented on #586
Sweet! I don't think this is a regression then so I'll close this.

[2016-08-04 05:59] henare commented on #568
We're now at 0.23.2.4.

[2016-08-05 04:05] henare commented on #586
I just saw this in production. Reopening.

[2016-08-05 04:20] henare commented on #586
Crap. In production `action_dispatch.remote_ip` is localhost. So it is something to do with the Varnish config.

[2016-08-05 04:20] henare commented on #586
Ahh, HTTP_X_FORWARDED_FOR is localhost - that's not right.

[2016-08-05 05:13] henare commented on #586
This was a doozy. It turns out that Right To Know production gets proxied twice: Apache (HTTPS) > Varnish > Apache (HTTP). This means the X-Forwarded-For header set by the original Apache hit was being stripped by Varnish and replaced with localhost.

I've updated the Varnish configuration to not sanitise the X-Forwarded-For header on requests for Right To Know production:

[code]

I think that's

[2016-08-05 06:18] equivalentideas commented on #582
I can't reproduce this following those steps @henare .
- I can log in with 'remember me' selected and navigate the site and remain logged in.
- I can log in as admin with 'remember me' selected

I'll assign this back to you.

[2016-08-05 06:30] henare commented on #582
I can't reproduce in Chrome, only in Firefox. @equivalentideas can you please try once more in Firefox?

[2016-08-05 06:34] equivalentideas commented on #582
Works for me in Firefox too.

[2016-08-05 07:53] henare commented on #582
Thanks for checking!

On Friday, 5 August 2016, Luke Bacon notifications@github.com wrote:

##

##

Henare Degan
OpenAustralia Foundation https://www.openaustraliafoundation.org.au/ -
@OpenAustralia https://twitter.com/OpenAustralia

[2016-08-07 22:04] #583 closed, assigned to equivalentideas

[2016-08-07 22:21] #578 closed, assigned to equivalentideas

[2016-08-07 22:21] equivalentideas commented on #578
Fixed in https://github.com/openaustralia/righttoknow/compare/239bc63ffb31...d8e8676be69c

![screen shot 2016-08-08 at 8 20 22 am](https://cloud.githubusercontent.com/assets/1239550/17465647/212c5d6a-5d41-11e6-8c32-2859bbcf3633.png)

[2016-08-07 22:23] equivalentideas commented on #583
Fixed by https://github.com/openaustralia/righttoknow/compare/b4d5d107b2a6...239bc63ffb31

![screen shot 2016-08-08 at 8 22 22 am](https://cloud.githubusercontent.com/assets/1239550/17465651/525e8552-5d41-11e6-8d79-32eca186b1e9.png)
![screen shot 2016-08-08 at 8 22 35 am](https://cloud.githubusercontent.com/assets/1239550/17465652/525fed7a-5d41-11e6-8d02-c1880ee31f74.png)
![screen shot 2016-08-08

[2016-08-07 23:10] equivalentideas commented on #539
That’s correct 3f2571ad , the table styles there apply to all tables through the site. That doesn't seem to be having a bad impact at the moment as we probably don't have many tables.

I think the right thing to do would be remove the styles for this specific table.

@henare I found the title of this issue a bit confusing: is it odd that the table has borders at all, or is there something odd abou

[2016-08-07 23:32] equivalentideas commented on #539
@henare is this how you remember this table looking?

![screen shot 2016-08-08 at 9 27 07 am](https://cloud.githubusercontent.com/assets/1239550/17466093/5cf0e830-5d4a-11e6-82ea-60c67db0d9ab.png)

That matches the style of WhatDoTheyKnow (though there larger site-wide `line-height`makes it a bit nicer):

![screen shot 2016-08-08 at 9 28 26 am](https://cloud.githubusercontent.com/assets/1239550/174

[2016-08-08 01:14] equivalentideas commented on #244
I don't understand why these haven't been included into [alaveteli core](https://github.com/mysociety/alaveteli/tree/develop/app/assets/images/status). [I've raised this upstream](https://github.com/mysociety/alaveteli/issues/1086#issuecomment-26914520).

Here's the [status icons in the alavetelitheme](https://github.com/mysociety/alavetelitheme/tree/master/assets/images/status) that @benrfairless

[2016-08-08 04:08] henare commented on #539
@equivalentideas that all sounds good. Please go ahead and implement this :+1:

[2016-08-09 05:05] #539 closed, assigned to equivalentideas

[2016-08-09 07:35] equivalentideas commented on #186
Turns out I raised this upstream https://github.com/mysociety/alaveteli/issues/2375

Apparently it got implemented but is awaiting on something. I think we close this and get that fix merged upstream. Then we can focus on getting up to the latest release. Reopen if you want to implement it in the theme sooner than that.

[2016-08-09 07:35] #186 closed, assigned to equivalentideas

[2016-08-09 11:12] equivalentideas commented on #260
From what I can tell the messed up characters in question are ".$B!G.(B" and they do look like their in place of apostrophes.

I can't find any other cases of this apart from this one set of emails, or by googling for it, or in WhatDoTheyKnow.

I'm gonna close this as I don't think it's a problem on our end. Reopen if that's not the case :)

[2016-08-09 11:12] #260 closed, assigned to nobody

[2016-08-09 11:18] equivalentideas commented on #547
This appears to be fixed:

Here's the report:
![czncrolwwaavtmr](https://cloud.githubusercontent.com/assets/1239550/17514579/b7e32bea-5e76-11e6-8fdc-7e7abb567236.jpg)

Here's now:
![screen shot 2016-08-09 at 9 17 33 pm](https://cloud.githubusercontent.com/assets/1239550/17514584/bf6e8102-5e76-11e6-864c-c28c829cb7b5.png)

[2016-08-09 11:18] #547 closed, assigned to nobody

[2016-08-09 11:20] equivalentideas commented on #517
I'm assuming this issue is about changing that to use the account for Right To Know https://twitter.com/RightToKnowAu instead.

[2016-08-09 11:39] equivalentideas commented on #517
I think this is because of the 'related' data being pushed to twitter ([see twitter dev docs](https://dev.twitter.com/web/tweet-button)):

It used to mention the 'alaveteli_foi' account:
https://github.com/mysociety/alaveteli/commit/7c92fb67028c0371b796cd26edabe9a905d47561#diff-169f058dcf4853f01eb90de23d0a25f6R4

It now mentions mySocietyInt in our version (another depreciated account) and the cur

[2016-08-09 11:39] #517 closed, assigned to nobody

[2016-08-09 11:52] equivalentideas commented on #185
I'm gonna have a go at this. I think the reference for this comes from the old alistapart.com design where it was the blockquote style. That's an editorial context where a quote would be surrounded by lots of text, and the illustration would give more interest to the page. Looking at the request list pages, I have a feeling it's not going to make things simpler or clearer.

![screen shot 2016-08-0

[2016-08-10 02:11] henare commented on #582
Well thanks to @equivalentideas' testing I think this is just my browser so I'll close this. Stupid browser.

[2016-08-10 02:11] #582 closed, assigned to henare

[2016-08-10 04:01] henare opened #589 "Stray ERB tag on annotation preview page after 0.24 upgrade"
![selection_001](https://cloud.githubusercontent.com/assets/48945/17541445/d5a7d824-5f02-11e6-82e4-c089e56db255.png)

[2016-08-10 04:10] henare commented on #589
Looks like it was introduced in https://github.com/mysociety/alaveteli/commit/43705255e68e7ee40eea7722b0f158d60133359c#diff-4dda941fc96978b47f84c19603449c3bR16.

[2016-08-10 04:11] henare commented on #589
Fixed upstream in https://github.com/mysociety/alaveteli/commit/19b47923198a2d20dc6a8a3ee36df69c29f3c141.

[2016-08-10 04:18] mlandauer commented on #586
I'm seeing this in production :-(

[2016-08-10 04:47] henare commented on #586
Thanks for reporting this @mlandauer! Do you have a VPN?

[2016-08-10 04:47] mlandauer commented on #586
Nope, no VPN

[2016-08-10 04:53] equivalentideas commented on #185
I've had a play with this. I've made the icons lighter:

## Before

![screen shot 2016-08-10 at 2 45 12 pm](https://cloud.githubusercontent.com/assets/1239550/17542103/2b2a3b6a-5f09-11e6-81f3-e824b04211ee.png)

## Lighter quote icons

![screen shot 2016-08-10 at 2 45 24 pm](https://cloud.githubusercontent.com/assets/1239550/17542096/1d95c046-5f09-11e6-8a45-adb1d852171f.png)

Here's the [commit mes

[2016-08-10 05:02] henare commented on #586
@mlandauer and I tried a few different things to reproduce and he now can't see it so we're not sure what's going on. I've asked Twitter to test it too: https://twitter.com/henaredegan/status/763238544751996933

[2016-08-10 06:00] henare commented on #586
I got 3 helpful responses on Twitter and none of them could see the problem. I'll close this until we hear more reports or can reproduce.

[2016-08-10 06:13] equivalentideas commented on #537
## Now

![screen shot 2016-08-10 at 3 59 12 pm](https://cloud.githubusercontent.com/assets/1239550/17543354/7b6f5420-5f13-11e6-9fbc-6ec497771d54.png)

## Before

![screen shot 2016-08-10 at 4 07 34 pm](https://cloud.githubusercontent.com/assets/1239550/17543535/a194f050-5f14-11e6-96a4-ea1322c9f9c4.png)

[The red background colour was removed](https://github.com/openaustralia/righttoknow/commit/23d

[2016-08-10 07:19] henare opened #591 "Cannot deploy without special configuration after Ruby changes"
After our Ruby upgrade @equivalentideas can't deploy. After much fiddling it turns out that one of the hacks I tried when I was investigating ways to do the upgrade was still in place on my machine. So instead of our current setup working it was just a convenient alignment of hacks :full_moon_with_face:

I have this in my `~/.caprc` file (the [hardcore method](https://rvm.io/deployment/capistrano#

[2016-08-11 07:23] kat opened #592 "Make it easy to see the most recent requests"
Under [List All](https://www.righttoknow.org.au/list/all) it's not clear that that the requests shown are those with the most recent activity. I want to see the most recent requests not the most recently active. There's no sort option for that.

[2016-08-11 07:29] equivalentideas commented on #586
@Kat had this appear today when at Newtown. No VPN.

[2016-08-11 22:03] kat opened #593 "Make it clear that the most recently active requests are shown at ./list/all"
it's not clear that  the requests shown at [List All](https://www.righttoknow.org.au/list/all) are those with the most recent activity. A heading or option of 'recently active' might help.

[2016-08-13 06:40] henare commented on #593
Yes! I've been confused by this before too :smile: I think it would be best to raise this upstream for inclusion in core.

[2016-08-13 06:41] henare commented on #592
Sort is a good idea. I think we should raise this upstream.

[2016-08-15 01:34] henare opened #594 "Recaptcha on sign up page not configured correctly"
You see this when you're signing up from overseas:

![selection_001](https://cloud.githubusercontent.com/assets/48945/17653652/24b5bb70-62dc-11e6-8cc4-e8132eae08a0.png)

[2016-08-15 01:34] henare commented on #586
This is reliably reproducible at our office in Newtown.

[2016-08-15 05:23] equivalentideas opened #595 "When I'm deciding which authority I should request from, make suggestions as I type, so I find the right one more quickly"
Since people are trying to find a specific authority by name, we can help them do this more quickly by suggesting authorities as they type.

![screen shot 2016-08-15 at 3 23 12 pm](https://cloud.githubusercontent.com/assets/1239550/17656328/33da74ae-62fc-11e6-9b40-ddbe2d2004ea.png)

This could be done with a simple dataset attribute for starters like on They Vote For You:

![screen shot 2016-08-15

[2016-08-15 05:35] henare commented on #595
@equivalentideas it already does:

![selection_002](https://cloud.githubusercontent.com/assets/48945/17656469/ce9fae04-62fd-11e6-9234-4df4a7a86ff1.png)

So it sounds like you encountered a bug. Can you please try to reliably reproduce it and debug it?

[2016-08-15 05:41] equivalentideas commented on #595
Nice, looking again, I do get this, but it's extremely slow and confusing. I'll see if I can work out why.

[2016-08-15 05:48] equivalentideas commented on #595
So the problem is that it's just really slow. It's the same on whatdotheyknow.com so I'm going to raise this upstream.

[2016-08-15 05:48] #595 closed, assigned to equivalentideas

[2016-08-15 05:50] henare commented on #586
My hunch is that the local geoip database is out of date so I'll investigate that first.

[2016-08-15 05:54] henare commented on #586
Yep, that looks to be correct. When I query the IP address we're using in Newtown it says we're in Taiwan. I'll see if we can get an updated version of the `geoip-database` package installed.

[2016-08-15 06:03] henare commented on #586
This fixed it: `sudo aptitude install geoip-database-contrib`

The `geoip-database-contrib` package downloads the binary flavour of the four MaxMind GeoLite databases and keeps them up to date.

After installing this package and restarting I checked my IP address again and I was in Australia, not Taiwan so it should definitely be fixed. I'm also not seeing the message any more.

[2016-08-15 06:04] #586 closed, assigned to henare

[2016-08-15 06:40] henare commented on #589
Because of this we skipped straight to 0.25 so we weren't affected.

[2016-08-15 06:40] #589 closed, assigned to henare

[2016-08-15 06:52] henare commented on #568
We're now at 0.25.0.1 - closing :shipit:

[2016-08-15 06:52] #568 closed, assigned to henare

[2016-08-15 07:05] #244 closed, assigned to equivalentideas

[2016-08-15 07:11] #185 closed, assigned to equivalentideas

[2016-08-15 07:15] equivalentideas opened #596 "Status icons are a different colour to the status text"
![screen shot 2016-08-15 at 5 10 12 pm](https://cloud.githubusercontent.com/assets/1239550/17658002/50e906c8-630b-11e6-85d9-3bf80f507faf.png)

Since [updating to the new/clearer icons](https://github.com/openaustralia/righttoknow/pull/588) the status colours for the text are different to the icons. These need to be the same to communicate the right meaning.

They also need to have enough contrast

[2016-08-15 07:25] henare commented on #259
I've made a lot of changes to the site configuration lately that's got it more in line with the suggested Alaveteli config. So far I cannot reproduce this issue so I'm going to close this until we can.

[2016-08-15 07:25] #259 closed, assigned to nobody

[2016-08-15 20:49] henare opened #597 ""Act on what you've learnt" changed since 0.25 upgrade"
Looks like the Medium icon is missing and where has Tweet gone?

[2016-08-16 00:10] henare opened #598 "foi-alert-tracks crashing"
We recently upgraded to 0.25.0.1, was this the problem?

Weirdly it didn't start happening until 21:05 last night, I was doing something on the server then but I didn't think would be related.

[code]

[2016-08-16 03:45] henare commented on #598
Unsurprisingly it's because one user's about_me is longer than 500 characters. How that happened I've got no idea - AFAIK the validations have been on for ages.

That's because it's when that user's email was due to go out.

I've truncated the about me for that user, notified them, and it seems to be working again.

[2016-08-16 03:45] #598 closed, assigned to henare

[2016-08-16 04:25] henare opened #599 "Search box in the top right doesn't work"
You get a 404!

I think this is after the upgrades.

[2016-08-16 04:33] equivalentideas opened #600 "Highlighting of search term is inconsistent"
When you use search in different places, the highlighting of the search term in the results in inconsistent.

Compare:
- https://www.righttoknow.org.au/search/Health/all
- https://www.righttoknow.org.au/select_authority?utf8=%E2%9C%93&query=Health&bodies=1&commit=Search
- https://www.righttoknow.org.au/user/james_smith_3?utf8=%E2%9C%93&user_query=Health&request_latest_status=&commit=Search+contrib

[2016-08-16 05:07] #599 closed, assigned to equivalentideas

[2016-08-16 06:59] henare commented on #307
They're all under 200 MB now so I guess this is fixed.

[2016-08-16 06:59] #307 closed, assigned to nobody

[2016-08-17 09:49] henare commented on #537
@equivalentideas how about putting forward the reasons for this element's removal like you would in a pull request? That would make it really clear why we think this should be changed.

[2016-08-17 10:22] #597 closed, assigned to henare

[2016-08-17 11:16] henare commented on #591
I think I've got it working _without_ having to do the really painful switch from RVM to rbenv.

What I did was look at how Alaveteli calls rbenv and I've tricked it into doing the same but for RVM. This will probably trip us up down the track but, crazily enough, it does seem like the best situation for now.

So what I did was symlink `/home/alaveteli/.rbenv/shims/` to RVM's wrappers:

[code]

An

[2016-08-17 16:25] garethrees commented on #594
Just noticed this myself. I expect you're on it, but you just need to fill in https://www.google.com/recaptcha/admin#list and add the tokens to `general.yml`.

[2016-08-18 01:45] henare commented on #594
Super, thanks @garethrees - that made fixing it really easy.

I must have missed this change in the release notes, oops :smile:

[2016-08-18 01:45] #594 closed, assigned to nobody

[2016-08-18 04:08] henare commented on #551
I've tested this in staging with a Yahoo! account and it's working.

[2016-08-18 04:08] #551 closed, assigned to nobody

[2016-08-18 04:15] henare commented on #576
I've asked the list https://groups.google.com/forum/#!topic/alaveteli-dev/UvKPMALqteM

[2016-08-18 05:01] henare commented on #484
I've enabled keep-alive across on the whole webserver (how did we not have this before?).

I've also set the far future expires headers for assets but it's not showing up. After trying 3 different configs I think it's actually because Varnish is caching the response!

It's currently using the configuration [recommended by Rails](http://guides.rubyonrails.org/asset_pipeline.html#far-future-expires-

[2016-08-19 00:25] henare commented on #554
Those legends in NZ have already offered to help https://twitter.com/eey0re/status/766148856581021696

[2016-08-19 01:13] henare opened #601 "[ERROR] [www.righttoknow.org.au] help#unhappy (NoMethodError) "undefined method `show_response_no_followup_url' for #<#<..."
When visiting unhappy URL, e.g. https://www.righttoknow.org.au/help/unhappy/documents_related_to_the_associa

[2016-08-19 01:18] henare commented on #484
Yep this worked, we can close this issue.

![selection_001](https://cloud.githubusercontent.com/assets/48945/17795790/ac7b0662-65fe-11e6-975b-09d5909f866c.png)

![selection_002](https://cloud.githubusercontent.com/assets/48945/17795791/b1d1493c-65fe-11e6-8ef1-12b77bb33048.png)

https://www.webpagetest.org/result/160819_B8_4KJ/

[2016-08-19 01:18] #484 closed, assigned to henare

[2016-08-19 01:22] #601 closed, assigned to henare

[2016-08-22 00:22] kat opened #602 "share admin functions with users to share ownership and practise openness by default."
What things do we have access to see as admin that the user doesn't see? How much of that can we share?

[2016-08-22 00:24] equivalentideas commented on #602
@kat Do you think it would be helpful here to explain why we would do this, or why it's helpful to people? I always find the 'why' extremely helpful when picking up issues.

[2016-08-22 00:29] equivalentideas opened #603 "How can we get more people playing the request categorisation game?"
To:
- give current contributors another way to help and have ownership of the project,
- give potential contributors direction and inspiration to follow,

we could invite the current contributor community to create a blog post about classifying requests.

(idea from OAF Right To Know event planning meeting 2016-08-16)

Could this be more general to focus on annotations as well? or would seperate p

[2016-08-22 00:44] equivalentideas opened #604 "Track and share progress towards our goals to give recognition and inspire contributors, and to see if our efforts have an impact"
We've recently set two main goals of:
- getting more requests on Right To Know; and,
- growing and supporting the Right To Know contributor community.

Sharing our progress on these fronts could inspire our contributors, and give them recognition for their work—leading to more requests and contributions. It could also be useful (and fun) for us to see the impact of our work on the project.

Can we

[2016-08-22 01:06] equivalentideas opened #605 "How “diverse” are the users and contributors to Right To Know"
In growing the group of people contributing to Right To Know and making requests, we want to ensure that everyone feels welcome and avoid specific groups being underrepresented, e.g. people who identifying as having a disability.

We thought a good place to start would be to do some research and learn about who’s currently contributing.

When this is picked up, I think we should develop some speci

[2016-08-22 01:27] equivalentideas opened #606 "Promote batch requests so that many more requests are made"
- [ ] is there anyone who's using the site currently who could be making batch requests? If so, make sure they know about the feature.
- [ ] tell more people about batch requests

Batch requests are an easy way to generate lots of requests, but only a few people have used them. If we could get more people using the feature, then many more requests would be made and lots of documents would be relea

[2016-08-22 01:29] equivalentideas opened #607 "Identify projects/orgs that could use Right To Know"
Many civil society organisations and projects use FOI requests to get information. Could they be more effective if they were using Right To Know? Who are these groups?

If we can identify the groups we could approach them to make sure they know about the project, or find some other way to get them using it/involved.

[2016-08-22 01:35] equivalentideas opened #608 "Help people get over the small 'hump' needed to make a request"
It's easy to think of requests to make, or think “I should request that doc”—but it's another thing to take the action to do it. Making a request only takes a few moments, but it seems like much greater effort before you do it.

Why aren't they taking action on requests they've thought of at the moment?

How can we help people take the step to action?

[2016-08-30 22:53] henare commented on #602
:+1: it's probably a good idea to go back and do that to all the ones we've recently added under the label `idea` while they're still Fresh In Our Memories :tm:

[2016-08-31 03:03] henare opened #610 "Approach FOI enthusiasts"
Have we already done this?

[2016-09-01 09:12] kat opened #611 "test that QLD will accept an email RTI request"
Here's [the legislation](http://www.legislation.qld.gov.au/LEGISLTN/ACTS/2009/09AC013.pdf)

[Section 24, 2 (a)](http://www.austlii.edu.au/au/legis/qld/num_act/rtia2009n13261/s24.html) refers to the 'form' not entirely sure if it means a proforma  - specifically [their form](http://www.rti.qld.gov.au/__data/assets/pdf_file/0005/133277/RTI-Access-App-form.pdf), or if form there is a synonym for stru

[2016-09-02 06:38] henare opened #612 "How do we include the name of the state in an authority's name?"
In some cases we need to add the name of the state to the authority name, e.g. when the authority name is very common across jurisdictions like the Department of Education. How should we do this?

[2016-09-02 06:45] henare commented on #612
To work out the answer to this question @equivalentideas and I did some research.

**tl;dr Put the state at the start of the name**, e.g. _NSW Department of Premier and Cabinet_.

## Different representations

First we found all the different combinations of how you could do this. Here are examples of all 4 ways we found...
- NSW Department of Premier and Cabinet
- Independent Pricing and Regulato

[2016-09-02 06:45] #612 closed, assigned to henare, equivalentideas

[2016-09-02 06:50] henare opened #613 "Format of state in authority names is inconsistent"
We've decided on a common format: https://github.com/openaustralia/righttoknow/issues/612#issuecomment-244296436

We'll be doing that for all new states added to Right To Know. For the states already loaded, we need to go through and fix things up: ACT, NT, Victoria, NSW.

[2016-09-02 06:52] henare commented on #613
When we do this we should also update names like, "Public Works, NSW Office of" to the correct name, "NSW Office of Public Works". We think this was done so that alphabetical lists work better but we've decided that's a secondary concern to being displayed in a format that people most commonly see and use.

[2016-09-04 23:16] drzax opened #614 "Alert emails duplicate updates"
When subscribed to two separate entities which cover the same request, alert emails duplicate details for any given update.

For example if following a specific request and the user who posted that request, any update to the request will be in the email twice under separate headings.

[code]

[2016-09-04 23:56] equivalentideas commented on #18
Here's our list of authorities https://docs.google.com/spreadsheets/d/1GAjCrDxfVl8eCDWxH69QpMwfNdbIohaTVE7iAfVLx5U/edit#gid=1148402063

Useful links for checking this:
- [List of Tasmanian Government Organisations](http://www.service.tas.gov.au/GovOrgs/)
- [Tas Government Directory listing agencies, sub etc.](http://www.directory.tas.gov.au/cgi/ousearch.pl?browse=1)
- [Wikipedia List of Tasmanian

[2016-09-05 01:12] equivalentideas commented on #612
@henare Should we be updating these in the spreadsheet as we go, or would it be better to do it at another step?

[2016-09-05 01:14] henare commented on #612
@equivalentideas it's up to you how you do it for the state you're working on but it needs to have been completely done before we import that state. So I'd suggest doing it first and then making sure any additional ones you add follow the standard.

[2016-09-05 01:17] equivalentideas commented on #18
- [x] Updating the format of names to match https://github.com/openaustralia/righttoknow/issues/612#issuecomment-244296436 and https://github.com/openaustralia/righttoknow#format-of-state-name-in-authority-names

So, “Department of Education - TAS“ becomes “Tasmanian Department of Education”.

[2016-09-05 01:41] equivalentideas commented on #18
- [x] Compare the wikipedia list to the gov list, what's better? what's missing?
- [x] Check if all the departments are there
- [x] Check if the subagencies are there
- [x] Hospitals
- [x] Universities
- [x] TAFE?
- [x] prisons
- [x] <del>Schools</del> (leaving for now https://github.com/openaustralia/righttoknow/issues/616 )
- [x] Libraries
  - [x] General libraries https://www.linc.tas.gov.au/lo

[2016-09-05 02:06] equivalentideas commented on #18
I'm finding that neither [the government’s list]() nor [wikipedia’s] is comprehensive. Together they have lists under each department heading. I'll go through department by department checking for what we’re missing. I’ve seen that we're missing one or two from the first few departments already.

[2016-09-05 02:32] equivalentideas commented on #18
Alright, we're missing a lot of authorities that people would want to request from I think. The [gov’s listing](http://www.service.tas.gov.au/GovOrgs/) has roughly 220 agencies. Our list has just over 100. An initial scan shows a lot that I think should be included so I'm gonna start going through by department methodically and adding agencies _when appropriate_.
- [x] Education
  - [x] Gov list

[2016-09-05 04:41] equivalentideas opened #615 "Add the Tasmanian FOI jurisdiction"
Following steps in the readme https://github.com/openaustralia/righttoknow#adding-more-jurisdictions

The tassie FOI act is the [Right to Information Act 2009](http://www.austlii.edu.au/au/legis/tas/consol_act/rtia2009234/).

[2016-09-05 05:06] equivalentideas commented on #18
I'm through the education public authorities and I've added about 15 new authorities to our list.

[2016-09-05 05:18] equivalentideas commented on #615
Reviews of Right To Information decisions in Tasmania and handled by Ombudsman Tasmania
http://www.ombudsman.tas.gov.au/right_to_information/right_to_information_application_for_assessed_disclosure_application_form

[2016-09-06 03:21] equivalentideas commented on #18
I'm continuing on, starting at 'health and human services' in the list above.

Here's the sheet https://docs.google.com/spreadsheets/d/1GAjCrDxfVl8eCDWxH69QpMwfNdbIohaTVE7iAfVLx5U/edit#gid=1148402063

[2016-09-06 05:44] equivalentideas commented on #615
Looks like there’s fees :( see http://www.workcover.tas.gov.au/workcover_tasmania/obtaining_information

[2016-09-06 06:24] equivalentideas commented on #18
Got through to the end of “Justice” department related agencies/bodies. Added another dozen authorities or so. My hands are feeling a bit RSI’d so that's enough for today.

[2016-09-07 04:06] equivalentideas commented on #18
I'm kicking off again from **Department of Police and Emergency Management**

[2016-09-07 04:10] aidanarcher commented on #21
RTK dataset checked against https://www.wa.gov.au/departments-agencies

[2016-09-07 04:12] aidanarcher commented on #21
Abandoned checking RTK dataset against https://en.wikipedia.org/wiki/List_of_Western_Australian_government_agencies
due to out of date information and all references pointing to https://www.wa.gov.au/departments-agencies above

[2016-09-07 04:39] aidanarcher commented on #21
RTK dataset checked against http://www.australianuniversities.com.au/directory/western-australian-universities

[2016-09-07 05:12] equivalentideas commented on #18
Through the Police and Emergency Management department. A lot of what's under them in the [gov’s listings](http://www.service.tas.gov.au/GovOrgs/) have been moved over to Premier and Cabinet.

[2016-09-07 05:24] aidanarcher commented on #21
RTK dataset checked against http://bettereducation.com.au/TAFEList.aspx

[2016-09-07 05:32] aidanarcher commented on #21
Checked RTK dataset against https://www.elections.wa.gov.au/elections/local/council-list/ and http://walga.asn.au/About-Local-Government/Online-Local-Government-Directory.aspx

[2016-09-07 05:37] equivalentideas commented on #18
On to Primary Industries, Parks, Water and Environment authorities

[2016-09-07 06:05] equivalentideas opened #616 "Add an authority for every school and other people facing public bodies that there are lots of"
A lot of public bodies that are geographically repeated, like hospitals, schools etc. refer to a state level department for handling information request.

@henare and I discussed some pros and cons of this idea in chat, I'll dump that here rather than filling this out now.

Henare Degan [3:45 PM]
@aidan.archer @equivalentideas either of you done hospitals? https://github.com/openaustralia/righttok

[2016-09-07 06:22] aidanarcher commented on #21
https://docs.google.com/spreadsheets/d/1_Ea99E5yXnHXW62o_lRo9khdbccEWfttpy2tyuYZYOE/edit#gid=1198194927  used for definitive list of WA local coucils

[2016-09-07 07:50] equivalentideas commented on #18
Finished Primary Industries, Parks, Water and Environment